/* Plan visit plan */
.plan-visit-map#alain-map {
  height: 400px;
}

/* Map Backend */
#alain-map.backend-map {
  height: 500px;
}

/* Styling for default plan */
#alain-map {
  width: 100% !important;
  height: 700px;
}

#alain-map.backend-map .marker {
  background-size: contain;
}

.map .main-container {
  position: relative;
}

#alain-map .map-more-wrapper {
  float: left;
}

#alain-map .map-more {
  display: inline-block;
  position: relative;
  padding: 10px 40px;
  color: white;
  min-width: 140px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  z-index: 1;
  font-family: 'Cross-Town';
  line-height: 30px;
}

#alain-map .map-more-wrapper:after {
  font-family: "alainzoo";
  content: "\e901";
  font-size: 45px;
  left: 10px;
  line-height: 50px;
  position: absolute;
  color: #E95646;
}

.mapboxgl-popup-content h1 {
  margin: 40px;
}

.form-item-search {
  width: 35%;
  float: right;
  position: relative;
}

.form-item-search:after{
  font-family: FontAwesome;
  content: "\f002";
  display: block;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-color: #34333B;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  top: 0;
  position: absolute;
  right: 0
}

.form-item-search label {
  display: none;
}

.mapboxgl-popup-close-button {
  z-index: 1;
  font-size: 30px;
  padding: 7px;
  background-color: #000;
  color: #fff;
}

.mapboxgl-popup-close-button:hover, .mapboxgl-popup-close-button:active, .mapboxgl-popup-close-button:focus {
  background-color: #000 !important;
}

.mapboxgl-popup-content {
  padding: 0;
  box-shadow: none;
  border-radius: 12px;
}

.mapboxgl-popup-content .map-details {
  padding-bottom: 10px;
}

.mapboxgl-popup-content .col-sm-4 {
  padding: 0;
}

.mapboxgl-popup-content .col-sm-4 img {
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#alain-map h2 {
  font-family: 'Cross-Town';
  margin-bottom: 0;
  padding-top: 10px;
}

#alain-map h2 a {
  color: #535252;
}

#alain-map .mapboxgl-popup {
  max-width: 750px;
}

.mapboxgl-marker {
  cursor: pointer;
}

header.map-header {
  background: #433e4b;
}

header.map-header .container {
  position: relative;
}

header.map-header .do-dont {
  display: block;
  width: auto;
  float: right;
  position: relative;
  z-index: 2;
}

header.map-header .do-dont img {
  width: 130px;
  padding: 5px 0;
}

header.map-header .do-dont a .ajax-throbber {
  float: left;
}

header.map-header .logo {
  position: absolute;
  left: 10px;
  width: 113px;
  z-index: 2;
} 

header.map-header .mobile-logo {
  width: 40px;
}

header.map-header .logo img {
  width: 100%;
}

header.map-header .logo-achievements {
  position: absolute;
  left: 123px;
  width: 113px;
  background: white;
  padding-bottom: 5px;
}

#map-form {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  padding: 0 200px 0 270px;
  margin: 0 auto;
  margin-top: -60px;
}

#map-form .ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

#map-form fieldset {
  position: relative;
  float: left;
  cursor: pointer;
  z-index: 3;
}

#map-form .fieldset-wrapper {
  position: absolute;
  display: none;
  width: 230px;
  background-color: #e95647;
}

#map-form .fieldset-wrapper .form-checkboxes {
  max-height: 300px;
  overflow-y: scroll;
}

#map-form .fieldset-wrapper .form-item {
  padding: 0 20px;
  color: white;
}

#map-form legend {
  padding: 2px 20px;
  color: #CCC;
  text-align: center;
  font-size: 18px;
  line-height: 2.3;
  min-width: 140px;
  border: 0;
  margin: 0;
  margin-bottom: 3px;
  background-color: transparent;
}

#map-form legend span.fieldset-legend {
  position: relative;
  z-index: 2;
}

#map-form legend:after{
  font-family: "alainzoo";
  content: "\e901";
  font-size: 45px;
  right: 4px;
  bottom: 0;
  position: absolute;
  color: transparent;
  z-index: 1;
  height: 50px;
  line-height: 50px;
}

#edit-search{
  background-color: #34333B;
  border: 0;
  padding-right: 40px;
}


.map-btn{
  float: right;
  background: transparent;
  border: 0;
}

.map-btn .icon-bar {
  background: #fff;
}

/* Map search values */
.ui-widget.ui-widget-content {
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  background: #34333B;
  padding: 0px;
}

.ui-autocomplete.ui-widget-content .ui-menu-item {
  color: #FFF;
}

.ui-autocomplete.ui-widget-content .ui-menu-item div {
  background: none;
  border: 1px solid #34333B;
}

.lang-ar .ui-widget.ui-widget-content {
  text-align: right;
}

/** Arabic */
.lang-ar .mapboxgl-map {
  font-family: 'Cairo', sans-serif;
}

.lang-ar #alain-map h2,
#alain-map .map-more  {
  font-family: 'Lalezar', cursive;
}

.lang-ar header.map-header .logo {
  left: auto;
  right: 10px;
}

.lang-ar header.map-header .do-dont {
  float: left;
}

.lang-ar #map-form fieldset {
  float: right;
}

.lang-ar .form-item-search {
  float: left;
}

.lang-ar .form-item-search:after{
  right: unset;
  left: 0;
}

.lang-ar .mapboxgl-popup-content .col-sm-4 img{
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.lang-ar .mapboxgl-popup-close-button{
  left: 0;
  right: auto;
}

.lang-ar #edit-search{
  padding-left: 40px;
}

.lang-ar #alain-map .map-more-wrapper {
  float: right;
}

.lang-ar #alain-map .map-more{
  right: 0;
}

.lang-ar #alain-map .map-more-wrapper:after{
  left: auto;
  right: 10px;
}

/** Mobile */

@media (min-width: 768px){
  #map-form{
    width: 740px;
  }

  #map-form fieldset:hover legend {
    color: #fff;
  }

  #map-form fieldset:hover legend::after {
    color: #e95647;
  }

  #map-form fieldset:hover .fieldset-wrapper {
    display: block;
  }
}

@media (min-width: 992px){
  #map-form{
    width: 960px;
  }
}

@media (min-width: 1200px){
  #map-form{
    width: 1160px;
  }
}

@media (min-width: 1400px){
  #map-form{
    width: 1380px;
  }
}


@media (max-width: 1200px){
  #map-form{
    padding: 0 150px 0 100px;
  }
}

@media (max-width: 992px){
  #map-form{
    padding: 0 150px;
    margin-top: 0;
    margin: 20px auto 0;
    position: static;
  }

  #map-form legend {
    color: white;
    margin: 0;
    margin-bottom: 3px;
  }

  #map-form legend:after{
    font-family: "alainzoo";
    content: "\e901";
    font-size: 45px;
    bottom: 0;
    position: absolute;
    color: #8F8E9C;
    z-index: -1;
    height: 50px;
    line-height: 50px;
  }

  #map-form fieldset:hover legend::after {
    color: #e95647;
  }

  .form-item-search{
    width: auto;
    margin-top: 20px;
  }

  .lang-ar #map-form fieldset:after{
    right: unset;
    left: 0;
  }
}

@media (max-width: 768px){
  #map-form{
    text-align: center;
    padding: 0 20px;
  }

  header.map-header .do-dont img {
    width: 80px;
    padding: 20px 0;
  }

  #map-form fieldset{
    float: none;
    display: inline-block;
  }

  .lang-ar #map-form fieldset {
    float: none;
  }

  #map-form .fieldset-wrapper {
    text-align: left;
  }

  .lang-ar #map-form .fieldset-wrapper {
    text-align: right;
  }

  .form-item-search{
    width: 100%
  }

  #alain-map{
    height: 200px;
  }

  .plan-visit-map#alain-map {
    height: 200px;
  }

  .mapboxgl-popup-content .col-sm-4 {
    display: none
  }

  .mapboxgl-popup-content .map-details {
    display: none
  }

  .mapboxgl-popup-close-button{
    padding: 4px;
  }

  .mapboxgl-popup-content h1 {
    margin: 30px;
    font-size: 24px;
  }
}

@media (max-width: 500px){
  #map-form{
    text-align: center;
    padding: 0 20px;
  }

  #map-form legend {
    padding: 10px 0;
    overflow: hidden;
    position: relative;
  }

  #map-form legend:after {
    font-family: "alainzoo";
    content: "\e901";
    font-size: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    line-height: 50px;
    color: #8F8E9C;
    transform: translate(-50% , 0);
    top: 5px;
  }

  #map-form fieldset{
    display: block;
  }

  .lang-ar #map-form fieldset{
    float: none;
  }

  #map-form fieldset:after{
    right: 17px;
  }

  .lang-ar #map-form fieldset:after{
    right: unset;
    left: 17px;
  }

  #map-form .fieldset-wrapper{
    width: auto;
    position: static;
    background-image: url(/themes/ain/images/testimonials.svg);
    background-size: cover;
    background-position: center;
    padding: 15px 10px;
    background-color: transparent;
  }

  .form-item-search{
    width: 100%
  }
}

#map-form .open .fieldset-wrapper{
  display: block;
}

#map-form .open legend {
  color: #fff;
  background-color: transparent;
}

#map-form .open legend:after {
  color: #e95647;
}

.marker.request {
  background-size: contain;
}