%icon-setup {
  content: "";
  background-size: 19px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  background-position: center;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

&.dark {
  .toolbar-icon::before {
    background-image: url('../icons/dark/default.svg');
  }

  #toolbar-item-administration::before {
    background-image: url('../icons/dark/administration.svg');
  }

  #toolbar-item-shortcuts::before {
    background-image: url('../icons/dark/shortcuts.svg');
  }

  #toolbar-item-user::before {
    background-image: url('../icons/dark/user.svg');
  }

  .toolbar-icon-edit::before {
    background-image: url('../icons/dark/edit.svg');
  }

  .toolbar-icon-system-admin-content::before {
    background-image: url('../icons/dark/content.svg');
  }

  .toolbar-icon-system-admin-structure::before {
    background-image: url('../icons/dark/structure.svg');
  }

  .toolbar-icon-system-themes-page::before {
    background-image: url('../icons/dark/themes.svg');
  }

  .toolbar-icon-system-modules-list::before {
    background-image: url('../icons/dark/modules.svg');
  }

  .toolbar-icon-system-admin-config::before {
    background-image: url('../icons/dark/config.svg');
  }

  .toolbar-icon-entity-user-collection::before {
    background-image: url('../icons/dark/people.svg');
  }

  .toolbar-icon-system-admin-reports::before {
    background-image: url('../icons/dark/reports.svg');
  }

  .toolbar-icon-help-main::before {
    background-image: url('../icons/dark/help.svg');
  }

  .toolbar-icon-escape-admin::before {
    background-image: url('../icons/dark/back.svg');
  }

  .toolbar-icon-support::before {
    background-image: url('../icons/dark/support.svg');
  }

  .toolbar-icon-seeds-add::before {
    background-image: url('../icons/dark/add.svg');
    background-size: 26px !important;
  }

  #responsive-preview-toolbar-tab button::before {
    background-size: 20px !important;
    background-position: center;
    background-image: url('../icons/dark/mobile.svg');
  }

  .toolbar-icon-admin-toolbar-tools-help.toolbar-icon {
    &:before {
      @extend %icon-setup;
      background: url('../icons/logo/logo-dark.svg');
    }
  }

  .toolbar-icon-masquerade::before {
    background-image: url('../icons/dark/masquerade.svg');
  }

  .toolbar-icon-coffee::before {
    background-image: url('../icons/dark/coffee.svg');
  }

  .toolbar-icon-devel::before {
    background-image: url('../icons/dark/devel.svg');
  }

  .toolbar-icon-seeds::before {
    background-image: url('../icons/logo/logo-dark.svg');
    background-size: 22px !important;
  }

  #toolbar-item-administration-search::before {
   background-image: url('../icons/dark/search.svg');
  }

  #toolbar-tab-tour .toolbar-icon:before {
    background-image: url('../icons/dark/tour.svg');
  }

}

&.light {
  .toolbar-icon::before {
    background-image: url('../icons/light/default.svg');
  }

  #toolbar-item-administration::before {
    background-image: url('../icons/light/administration.svg');
  }

  #toolbar-item-shortcuts::before {
    background-image: url('../icons/light/shortcuts.svg');
  }

  #toolbar-item-user::before {
    background-image: url('../icons/light/user.svg');
  }

  .toolbar-icon-edit::before {
    background-image: url('../icons/light/edit.svg');
  }

  .toolbar-icon-system-admin-content::before {
    background-image: url('../icons/light/content.svg');
  }

  .toolbar-icon-system-admin-structure::before {
    background-image: url('../icons/light/structure.svg');
  }

  .toolbar-icon-system-themes-page::before {
    background-image: url('../icons/light/themes.svg');
  }

  .toolbar-icon-system-modules-list::before {
    background-image: url('../icons/light/modules.svg');
  }

  .toolbar-icon-system-admin-config::before {
    background-image: url('../icons/light/config.svg');
  }

  .toolbar-icon-entity-user-collection::before {
    background-image: url('../icons/light/people.svg');
  }

  .toolbar-icon-system-admin-reports::before {
    background-image: url('../icons/light/reports.svg');
  }

  .toolbar-icon-help-main::before {
    background-image: url('../icons/light/help.svg');
  }

  .toolbar-icon-escape-admin::before {
    background-image: url('../icons/light/back.svg');
  }

  .toolbar-icon-support::before {
    background-image: url('../icons/light/support.svg');
  }

  .toolbar-icon-seeds-add::before {
    background-image: url('../icons/light/add.svg');
    background-size: 26px !important;
  }

  #responsive-preview-toolbar-tab button::before {
    background-size: 20px !important;
    background-position: center;
    background-image: url('../icons/light/mobile.svg');
  }

  .toolbar-icon-masquerade::before {
    background-image: url('../icons/light/masquerade.svg');
  }

  .toolbar-icon-coffee::before {
    background-image: url('../icons/light/coffee.svg');
  }


  .toolbar-icon-devel::before {
    background-image: url('../icons/light/devel.svg');
  }

  .toolbar-icon-admin-toolbar-tools-help.toolbar-icon {
    &:before {
      @extend %icon-setup;
      background: url('../icons/logo/logo-light.svg');
    }
  }

  .toolbar-icon-seeds::before {
    background-image: url('../icons/logo/logo-light.svg');
    background-size: 22px !important;
  }
  #toolbar-item-administration-search::before {
    background-image: url('../icons/light/search.svg');
   }

  #toolbar-tab-tour .toolbar-icon:before {
    background-image: url('../icons/light/tour.svg');
  }
}

.acquia-inactive-subscription:before {
  background-image:url(/core/misc/icons/e32700/error.svg);
}
.acquia-active-subscription:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
