#toolbar-administration.seeds_toolbar.light {

  a,
  button {
    background: $light-bg;

    &:hover,
    &:focus {
      background: $light-bg-hover;
    }
  }



  #toolbar-bar {
    background: $light-bg;

    // Tabs colering
    .toolbar-tab {

      &>a,
      &>button {
        background: $light-bg-transparent;

        &:hover,
        &:focus {
          background: $light-bg-hover;
        }
      }
    }

    .toolbar-tray {
      background: $light-bg;

      a {
        color: $light-color !important;
      }
      .seeds-expand-item {
        &:before,
        &:after {
          background: $light-color;
        }
      }
    }
  }

  .seeds-toolbar-background {
    background: $light-bg;
  }

  li {

    &.mobile-open {
      @media (max-width: 767px) {
        a {
          background: $light-bg-hover;
        }
      }
    }
  }

  // Scroll bar
  #toolbar-item-seeds-add-tray {
    nav {
      &::-webkit-scrollbar-thumb {
        background: $light-bg-hover;
      }
      scrollbar-color: $light-bg-hover $light-bg !important;
    }
  }

  .toolbar-tray {
    &::-webkit-scrollbar-thumb {
      background: $light-bg-hover;
    }

    scrollbar-color: $light-bg-hover $light-bg !important;

    .menu-item--expanded {
      &:hover {
        >a {
          background: $light-bg-hover !important;
        }

        &>ul {

          &>li:first-child {
            &:before {
              border-right-color: $light-bg !important;
            }

            &:hover {
              &::before {
                border-right-color: $light-bg-hover !important;
              }
            }

          }
        }
      }
    }
  }

  h2.seeds-heading {
    color: $light-color;
  }
}

&.seeds-local-tasks {
  nav.tabs {
    background-color: $light-bg;

    >.tabs--primary.nav-tabs {
      li {
        a {
          color: $light-color;

          &:hover {
            background-color: $light-bg-hover;
          }
        }
      }
    }
  }
}