// Toolbar Tabs, First level.
#toolbar-bar {
  line-height: normal;
  height: 100%;
  z-index: auto;
  position: relative;
  background: $dark-bg;
  &::before {
    content: "";
    display: inline-block;
    width: 27px;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0 1px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.5) 2px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%)
  }
  >.toolbar-tab {
    line-height: 0;
    &>a,
    &>button {
      position: relative;
      width: 55px;
      height: 50px;
      overflow: hidden;
      text-indent: -9999px;
      background: transparent;
      border: 0;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
      width: 50px;
      height: 50px;
      margin-right: 5px;
      top: 0;
      left: 0;

      &::after {
        display: none;
      }

      &:before {
        @extend %icon-setup;
      }

      &:hover {
        background: $dark-bg-hover;
      }
    }
    a {
      line-height: normal;
    }
  }

  .account {
    position: absolute;
    bottom: 0;
  }





  .contextual-toolbar-tab,
  #responsive-preview-toolbar-tab {
    float: none;

    &:before {
      background: none;
    }
  }
}
