// Inner tabs.
.toolbar-tray {
  background: #4d4d4f;
  margin-left: -1px;
  padding: 70px 0;
  position: fixed;
  left: -250px !important;
  min-width: 190px;
  top: 0;
  bottom: 0;
  z-index: -2;
  transition: $bar-transition;
  scrollbar-color: $dark-bg-hover $dark-bg !important;

  &#toolbar-item-administration-tray {
    z-index: -1 !important;
  }

  &#toolbar-item-seeds-add-tray {
    padding-bottom: 50px;
    max-width: 250px;

    nav {
      overflow-y: auto;
      height: 100%;
      scrollbar-color: $dark-bg-hover $dark-bg;
      padding-bottom: 100px;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $dark-bg-hover;
      }

    }
  }

  h2.seeds-heading {
    margin: 0;

    a {
      color: #f2f2f2;
      font-size: 20px;
      text-align: center;

      &+ul {
        margin-bottom: 35px;
      }
    }
  }

  &.shown {
    transition-delay: 0s;
  }

  &.expanded-by-default {
    left: 55px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-bg-hover;
  }

  @media (max-width:767px) {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      position: relative;
      right: 50px;
      width: 10px;
    }
  }
}