<h1 id="seedstoolbar">Seeds Toolbar</h1>

<p><img src="https://www.drupal.org/files/ezgif-2-bf7cfbfa276e.gif" alt="Seeds Toolbar" />
Is a new UX concept for Drupal admin navigation.</p>

<p>Seeds Toolbar is part of our journey to build <a href="https://drupal.org/project/seeds">Seeds</a>, a kickoff distribution for SMEs.</p>

<h2 id="seedstoolbaroptions">Seeds Toolbar Options</h2>

<ul>
<li>Choose between light or dark mode</li>

<li>Change Drupal logo to your website logo</li>

<li>Add your helpdesk link and leave it empty to hide it.</li>

<li>Load custom css style.</li>
</ul>

<h2 id="seedstoolbarfeatures">Seeds Toolbar Features</h2>

<h3 id="uxenhancements">UX enhancements</h3>

<p> We invested a lot of time enhancing the experience of daily tasks on Drupal CMS. </p>

<h3 id="mobilefirst">Mobile first:</h3>

<p>Editing your website from mobile is fully supported, indeed it's the best experience that will never stop enhanced. </p>

<h3 id="rtlcompatibility">RTL compatibility</h3>

<p> We developed more than 55 Arabic websites, and we suffer a lot from lack of support for RTL interfaces, Root is your best choice to get rid of heavy-duty website updates. </p>

<h3 id="freedom">FREEDOM</h3>

<p>Seeds Toolbar is simple, colorless and can be used with any identity, you can choose between light or dark mode.</p>

<h3 id="support">Support</h3>

<p> Your request is ours, and this theme is developed to serve more than 70 clients websites crafted by our developers at <a href="https://www.sprintive.com">sprintive</a>.</p>

<h2 id="thismoduleistestedwiththefollowingmodules">This module is tested with the following modules</h2>

<ul>
<li>Responsive Preview</li>

<li>Coffee</li>

<li>Devel</li>

<li>Block Content Permissions</li>

<li>Masquerade</li>

<li>Menu Link Attributes</li>

<li>Tour UI</li>

<li>Acquia connector</li>
</ul>

<h3 id="thismoduleissponsoredby">This module is sponsored by:</h3>

<p><img src="https://www.drupal.org/files/styles/grid-3/public/drupal_3.png" alt="Sprintive" /></p>