.view-animals {
  &.view-display-id-animals_page {
    .group-wrapper {
      .animals-group-title {
        .block-title {
          float: right;
        }
        .read-more {
          float: left;
        }
      }
    }
  }
}

.page-node-type-animals {
  .field--name-field-text { 
    .field--label {
      float: right;
    }

    .field--item {
      float: left;
    }
  }

  .lh-row-1 {
    .field--name-field-extinct {
      .extinct-wrapper {
        float: right;
      }
    }
  }
}

@media(max-width: 767px) {
  .view-animals {
    &.view-display-id-animals_page {
      .group-wrapper {
        .animals-group-title {
          .read-more {            
            &:after {
              font-size: 48px;
            }
          }
        }
      }
    }
  }
}