
// Image with Paragraph Block
.block-content--type-image-with-paragraph {
  .paragraph-wrapper {
    right: 5%;
    left: auto;
    padding: 20px 40px 20px;
    @media (max-width: 767px) {
      right: unset;
      padding: 20px;
    }
  }
}

// Image with Link
.block-image-with-link-class {
  float: right;
}

.block-content--type-banner {
  .wrapper {
    text-align: right;
  }
}
