.user-register{
  .main-container{
    .region-content {
      .user-register-form{
        .field--type-datetime {
          #edit-field-date-of-bi-0-value{
            .form-inline{
              input{
                text-align: right;
              }
            }
          }
        } 

        #edit-field-gender-wrapper{
          legend{
            float: right;
            margin-right: 0;
            margin-left: 40px;
          }

          .fieldset-wrapper{
            float: right;
            margin-left: 0;
            margin-right: 5px;
          }
        }

        #edit-field-avatar{
          > .form-item-field-avatar{
            float: right;
          }
        }
      }
    }
  }
}   

[class*="user-reset"]{
  button{
    margin: 15px 0;
    span{
      margin: 0 5px;
    }
  }
}

