header.navbar-default {
  .page-banner{
    background-color: @white;
    .header-half-image {
      &:after {
        left: unset  !important;
      }
      .header-half-image-image {
        &:after {
          left: unset  !important;
          transform: rotate(180deg)  !important;
        }
      }
    }
  }

  .navbar-header {
    .region-navigation {
      float: left;
      margin-left: 360px;
      margin-right: 0px;

      > div {
        float: left;
      }

      .logo {
        right: 0;
        left: auto;
      }

      #block-usermenu {
        float: left;
        margin-right: 60px;
        margin-left: 0px;
      }
    }

    .logo {
      &.achievements-logo {
        right: 123px;
        left: auto;
      }
    }

    .block-views-exposed-filter-blocksearch-search {
      right: auto;
      left: 0;

      form {
        .form-item {
          &.form-item-type {
            .select-wrapper {
              margin-left: 0;
              margin-right: -10px;
              
              select {
                background-color: #3d3a46;
                border-bottom-left-radius: 10px; 
                border-top-left-radius: 10px;
                border-bottom-right-radius: 0; 
                border-top-right-radius: 0;
                padding: 6px 12px 6px 16px;
              }
              &:after {
                left: 0;
                right: auto;
                margin-right: 0;
                margin-left: 7px;
              }
            }
          }

          &.form-item-title {
            .form-control {
              border-right: 1px solid;
              border-left: 0;
              padding-right: 33px;
              padding-left: 12px;
              border-radius: 10px;
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
            }
          }
        }

        .form-actions {
          right: 0;
          left: auto;
        }
      }
    }

    .block-views-blockuser-information-block-1 {
      float: left;
      margin-right: 70px;
      margin-left: -60px;
      .views-field-field-avatar {
        float: right;
      }
      .views-field-field-name {
        float: right;
        a {
          font-family: 'Lalezar', cursive;
        }
      }
    }
    .block-language {
      float: left;
    }

    #block-usermenu {
      float: left;
      .menu {
        li {
          float: right;
        }
      }
    }
  }
}


.path-frontpage {
  header.navbar-default {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            padding: 20px 30px;
          }

          &:last-child {
            float: left;

            a {
              font-weight: normal;
            }
          }
        }
      }
    }
    .navbar-header {
      #block-booktickets {
        left: 10px;
        right: auto;

        .field--name-body {
          a {
            padding-right: 80px;
            padding-left: 20px;
            font-size: 30px;
          }
        }

        &:after {
          right: -20px;
          left: auto;
          transform: rotatey(180deg);
        }
      }

      #block-callus {
        left: 10px;
        right: auto;

        .field--name-body {
          .call-us {
            float: right;
            a {
              float: left;
              direction: ltr;
              clear: both;
            }
          }

          .phone {
            float: right;
            border-left: solid 2px #d48c1a;
            border-right: 0;

            &:before{
              transform: rotatey(180deg);
            }
          }
        }
      }

      .block-views-exposed-filter-blocksearch-search {
        left: 10px;
        right: auto;
      }
    }

    .region-navigation {
      .logo {
        right: 10px;
      }
    }
    .logo {
      &.achievements-logo {
        right: 133px;
      }
    }
  }

  .block-views-blockclosing-hours-block-1 {
    right: 10px;
    left: auto;
  }
}

.breadcrumbs-wrapper {
  margin-right: 20px;
  margin-left: 0;
  
  .breadcrumb {    
    li {
      float: right;

      &.active, a {
        line-height: normal;
      }

      &.active {
        padding-top: 7px;
      }

      &:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f104";
        display: inline-block;
      }
    }
  }
}

@media(min-width: 1200px){
  header.navbar-default {
    .page-banner {
      .header-background {
        span, h1 {
          font-size: 90px;
        }
      }
    }
  }
}

@media(max-width: 1200px) and (min-width:768px){
  header.navbar-default {
    .navbar-header {
      .block-views-exposed-filter-blocksearch-search {
        right: auto;
        left: 0;
      }
    }
    .region-navigation {
      #block-usermenu {
        margin-left: 0 !important;
      }
    }

    .navbar-collapse {
      .navbar-nav {
        > li {
          &:first-child {
            > a {
              padding-left: 20px;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px){
  header.navbar-default {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            padding: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media(max-width:767px){

  header.navbar-default {
    .navbar-header {
      .mobile-header{
        .region-mobile-header{
          #block-booktickets-2{
            float: left;
            .field--name-body a{
              font-family: 'Lalezar', cursive;
              margin: 0 0 0 15px;
              margin-top: 5px;
            }

            &:before{
              transform: rotateY(180deg);
            }
          }

          #block-callus-2{
            float: left;
            .field--name-body{
              .phone{
                float: left;
              }

              .call-us{
                direction: ltr;
                margin-left: 5px;
              }
            }
          }
        }

        .navbar-toggle{
          float: right;
        }

        .mobile-logo{
          left: auto !important;
          right: 45px;
        }

        .mobile-search{
          float: left;
        }
      }

      #block-exposedformsearchsearch-3 {
        .form-item-type {
          select {
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }

        .form-item-title {
          .form-control {
            border: 1px solid #95929a;
            border-left: 0;
          }
        }
      }
    }
  }

  .mobile-overlay {
    right: auto;
    left: 0;
  }

  .ain-page-wrapper {
    right: 0px;
    left: 0;
  }

  .show-menu .ain-page-wrapper {
    right: 300px;
    left: auto;
  }

  .navbar-collapse.mobile-menu-outer-wrapper {
    right: 0;
    left: auto;

    .block-language .links li{
      float: left;
    }

    .view-user-information {
      .views-field-field-name {
        a {
          float: left;
        }
      }
    }
    
    .navbar-nav {
      .fa-caret-right:before{
        content: "\f0d9";
      }

      > li  {
        a {
          font-family: 'Cairo', sans-serif;
          &:before {
            margin-right: 0;
            margin-left: 20px;
          }
        }

        &.dropdown{
          > a{
            float: right;
          }

          &.open {
            > a {
              &.dropdown-toggle {
                .fa{
                  transform: rotate(-90deg);
                }
              }
            }
          }

          .dropdown-menu {
            li  {
              a{
                padding-left: 0;
                padding-right: 40px;
                &:before{
                  left: unset;
                  right: 15px;
                }
              }
            }
          }
        }
      }       
    }

    #block-usermenu-2 {
      li {
        a {
          &.find-us {
            float: right;
          }
          
          &:before{
            margin-left: 10px;
            margin-right: 0;
          }
        }
      }
    }
  }
}


@media (max-width: 400px){
  header.navbar-default .mobile-header .region-mobile-header
  #block-booktickets-2 .field--name-body a {
    font-size: 20px;
    padding-top: 5px;
  }
}



