.node-visit-plan-form {
    // Recommended plans.
    #edit-field-plan,
    #edit-field-what-s-new,
    #edit-field-animal .animals-slider .slick-list {
        .form-item {
            .make-xs-column(6);
            .make-sm-column(4);
            .make-md-column(3);
        }
    } // Attractions.
    #edit-field-attraction-wrapper {
        background-position: bottom left;
        #edit-field-attraction {
            .form-item {
                float: right;
                label {
                    >span {
                        &.views-field-title {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    } // Experiences.
    #edit-field-experience-reference-wrapper #edit-field-experience-reference {
        .form-item label>span {
            float: right;
            &.views-field-field-icon {
                margin-left: 20px;
                margin-right: 0px;
            }
        }
    }
}

.page-node-type-visit-plan {
    .lh-row-2 {
        background-position: bottom left;
    }
    .visit-item-wrapper {
        &.visit-date-wrapper {
            float: left;
        }
    }
    .lh-row-1 {
        .field--name-field-plan-image {
            padding-right: 0px;
            padding-left: 20px;
            float: right;
        }
        .field--name-node-title,
        .field--name-field-plan-details {
            float: right;
        }
    }
    .field--label,
    .visit-label {
        .title-font();
    }
    .field--name-field-attraction,
    .field--name-field-animal,
    .field--name-field-what-s-new,
    .field--name-field-experience-reference {
        .field--items {
            >.field--item {
                float: right;
            }
        }
    }
    .field--name-field-attraction {
        .field--name-node-title {
            .title-font();
        }
    }
}