.node--type-visitor-services {
  .field--name-node-link {
    right: auto;
    left: 0;
  }
}

.page-node-type-visitor-services {
  .field--name-field-text, .field--name-field-phone,
  .field--name-field-email, .field--name-field-number {
    .field--label {
      min-width: 160px;
      float: right;
    }
  }
  
  .field--name-body {
    padding-left: 30px;
    padding-right: 0;
  } 
}

@media(max-width: 767px) {
  .page-node-type-visitor-services {
    .field--name-body {
      padding: 0;
    }
  }

  .node--type-visitor-services {
    .field--name-node-link {
      text-align: left;
      &:after {
        left: 0px;
        right: auto;
      }
    }
  }
}