.page-node-type-events {
  .field--name-view-on-map {
    float: left;
  }
}

.node--type-special-occasion.node--view-mode-teaser {
  .field--name-dynamic-token-fieldnode-enquire-link{
    float: left;
    text-align: left;
    &:after {
      left: 0;
    }
  }
}

.time-date-wrapper {
  @media(min-width: 768px) {
    text-align: left;
  }
  .extra-field-date {
    .date-time-wrapper {
      padding: 10px 50px 10px 10px;
      .day {
        &:first-child {
          &:before {
            right: 8px;
            left: auto;
          }
        }
      }
    }
  }

  .extra-field-time {
    .time-wrapper {
      .time {
        padding-left: 0;
        padding-right: 40px;
        &:before {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

.node--type-events.node--view-mode-teaser .field--name-view-on-map{
  float: left;
}

@media(max-width: 767px) {
  .time-date-wrapper {
    .extra-field-date {
      .day {
        &:first-child {
          margin-right: auto;
          margin-left: 0;
          &::before {
            top: 8px;
          }
        }
      }
    }
  }
}

.view-display-id-front_events .slick--view--events,
.view-display-id-suggested_events .slick--view--events {
  .slick-track {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    .slick-slide {
      float: right;
    }
  }
}
