@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import './variables';

// Hidden span to determine the current screen.
.mobile-indicator {
  @media (max-width: 767px) {
    display: none;
  }
}

// Animate Toolbar and make sure it will not flicker in loading.
body.toolbar-fixed {
  transition: margin $bar-transition;
  max-width: 100%;
  @media (max-width: 767px) {
    margin-left: 55px !important;
  }

  // Modules compatibility and fixes.
  @import './seeds-toolbar/compatibility';

  // Light Mode
  &.light {
    @import './seeds-toolbar/light-mode';
  }
}

// Seeds Toolbar classes.
.fixed-toolbar {
  z-index: 2;
  width: 55px;
  position: relative;
  height: 100%;
}

.seeds-toolbar-background {
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background: $dark-bg;
  min-width: inherit;
  height: 100%;
  position: fixed;
  z-index: -1;
  transition: min-width $bar-transition;
  background: $dark-bg;
}

#toolbar-administration.seeds_toolbar {
  // Icons
  @import './seeds-toolbar/icons';
  // General Styling
  @import './seeds-toolbar/general';
  // First Level Tabs
  @import './seeds-toolbar/toolbar-tabs';
  // Administration Menu
  @import './seeds-toolbar/admin-menu';
  // Toolbar trays
  @import './seeds-toolbar/toolbar-trays';
}