$bar-transition: 0.2s;
$dark-bg: #4d4d4f;
$dark-color: #FFF;
$dark-bg-hover: #444;
$light-bg: #FFF;
$light-bg-transparent: #FFF4;
$light-color: #4d4d4f;
$light-bg-hover: #f2f2f2;
$expand-line: 2px;
$expand-width: 12px;
$expand-transition: 0.35s;
