.path-frontpage .more-link.form-group {
  background-image: url(../images/redtag2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.path-frontpage header.navbar-default {
  background: #43255e; }
  @media (min-width: 1200px) {
    .path-frontpage header.navbar-default .navbar-header #block-booktickets,
    .path-frontpage header.navbar-default .navbar-header .block-booktickets {
      bottom: 170px; } }
  .path-frontpage header.navbar-default .navbar-header #block-booktickets .field--name-body a,
  .path-frontpage header.navbar-default .navbar-header .block-booktickets .field--name-body a {
    background-color: transparent;
    background-image: url(../images/Rectangle1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 20px 0px !important;
    text-align: center;
    font-size: 40px;
    background-position: center; }
  .path-frontpage header.navbar-default .navbar-header #block-booktickets:after,
  .path-frontpage header.navbar-default .navbar-header .block-booktickets:after {
    display: none; }
  .path-frontpage header.navbar-default .navbar-header #block-callus,
  .path-frontpage header.navbar-default .navbar-header .block-callus {
    bottom: 240px; }
    @media (max-width: 1200px) {
      .path-frontpage header.navbar-default .navbar-header #block-callus,
      .path-frontpage header.navbar-default .navbar-header .block-callus {
        bottom: 345px; } }
    .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body,
    .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body {
      float: none;
      background: none;
      padding: 0;
      border-radius: 0;
      margin-top: 0;
      background-image: url(../images/Rectangle.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-align: center; }
      .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body .call-us-wrapper,
      .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body .call-us-wrapper {
        padding: 10px; }
      .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body a,
      .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body a {
        position: relative; }
        .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body a::before,
        .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body a::before {
          content: "\f095";
          font: normal normal normal 40px/1 FontAwesome;
          display: inline-block;
          font-weight: bold;
          margin: 10px 15px 0 0;
          position: absolute;
          left: -40px; }
      .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body .call-us,
      .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body .call-us {
        padding: 5px;
        float: none; }
      .path-frontpage header.navbar-default .navbar-header #block-callus .field--name-body .phone,
      .path-frontpage header.navbar-default .navbar-header .block-callus .field--name-body .phone {
        display: none; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li > a:after {
    content: "";
    background: #796c65;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 10px;
    top: -90px; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li > a.explore:after {
    background-image: url(../images/explore.svg) !important; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li > a.plan-visit:after {
    background-image: url(../images/planyouvisit.svg) !important; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li > a.education:after {
    background-image: url(../images/education.svg) !important; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li > a.conservation:after {
    background-image: url(../images/conservation.svg); }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-nav > li:last-child a::after {
    background-color: transparent; }
  .path-frontpage header.navbar-default .navbar-collapse .navbar-collapse-inner-wrapper {
    background-color: #796c65; }

.path-frontpage .block-views-blockclosing-hours-block-1 {
  margin: 0 0 0; }
  .path-frontpage .block-views-blockclosing-hours-block-1 .slick__slide {
    margin: 33px 0;
    padding: 10px; }
  .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-closing_hours.view-display-id-block_1 > .view-content,
  .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-opening_hours.view-display-id-opening_hours {
    background-image: url(../images/Rectangle2.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0; }
    .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-closing_hours.view-display-id-block_1 > .view-content:after,
    .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-opening_hours.view-display-id-opening_hours:after {
      display: none; }
  .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-closing_hours.view-display-id-block_1 > .view-content {
    background-color: #ccb267; }
    .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-closing_hours.view-display-id-block_1 > .view-content:after {
      background-image: url(../images/closing.svg);
      width: 90px;
      height: 90px;
      top: -78px; }

.path-frontpage .lh-row-2 {
  background-color: #4dafc0 !important; }
  .path-frontpage .lh-row-2::after {
    border-style: solid;
    border-width: 0 0px 120px 1500px;
    border-color: transparent transparent #ffffff transparent;
    width: 100%;
    margin-left: -10px;
    background-image: unset;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    bottom: 0px !important; }
  .path-frontpage .lh-row-2 .more-link.form-group {
    background-image: url("../images/tag.png");
    z-index: 1; }
    .path-frontpage .lh-row-2 .more-link.form-group a {
      color: #4dafc0;
      z-index: 2; }
  .path-frontpage .lh-row-2 .view-display-id-front_category .views-row .field--name-taxonomy-term-title h2 a {
    color: #ffffff; }

.path-frontpage .block-views-blockattractions-front::before {
  content: "";
  position: absolute;
  top: 137;
  left: 0;
  width: 100%;
  background-image: url("../images/red.png");
  height: 75px;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 767px) {
    .path-frontpage .block-views-blockattractions-front::before {
      height: 45px; } }

.path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row {
  padding: 0; }
  .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row .field--name-node-title h2 {
    color: white;
    margin: 30px 0; }
  .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row:nth-child(1) {
    background-color: #D13431; }
  .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row:nth-child(2) {
    background-color: #E95646; }

.path-frontpage .lh-row-4::after {
  background-image: url("../images/red2.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  width: 100% !important;
  height: 40px; }

.path-frontpage .lh-row-4 .form-group .view.view-experiences.view-display-id-front_experiences::before {
  content: "";
  position: absolute;
  top: 137;
  left: 0;
  width: 100%;
  background-image: url("../images/red.png");
  height: 75px;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 767px) {
    .path-frontpage .lh-row-4 .form-group .view.view-experiences.view-display-id-front_experiences::before {
      height: 45px; } }

.path-frontpage .lh-row-12::before {
  border-style: solid;
  border-width: 120px 1500px 0px 0px;
  border-color: #efefd7 transparent transparent transparent;
  margin-left: -10px; }

.path-frontpage .lh-row-12::after {
  border-style: solid;
  border-width: 75px 0px 0px 1500px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: -10px;
  background-image: unset;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important; }

.path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content,
.path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after {
  background-image: unset;
  background-color: #ffffff;
  position: relative; }
  @media (max-width: 991px) {
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content,
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after {
      margin: 30px 15px !important; } }
  .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser,
  .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser,
  .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after .node--type-sfa-social-post.node--view-mode-teaser,
  .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after .node--type-sfa-social-post.node--view-mode-teaser {
    position: unset; }
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser::after,
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser::after,
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after .node--type-sfa-social-post.node--view-mode-teaser::after,
    .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after .node--type-sfa-social-post.node--view-mode-teaser::after {
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center;
      width: 60px;
      height: 55px;
      content: "";
      right: 50px;
      top: -30px;
      background-size: 50px 45px;
      background-position: center;
      background-repeat: no-repeat; }

.path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser::after {
  background-image: url("../images/facebook.png"); }

.path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts > .attachment-after .node--type-sfa-social-post.node--view-mode-teaser::after {
  background-image: url("../images/twitter.png"); }

.path-frontpage .lh-row-7:after {
  background-image: unset !important; }

.path-frontpage .lh-row-13 .mailchimp-signup-subscribe-form .form-actions button {
  background-image: url("../images/grey_tah.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px; }
  .path-frontpage .lh-row-13 .mailchimp-signup-subscribe-form .form-actions button::after {
    content: ""; }

.path-frontpage .lh-row-13 .view-polls.view-display-id-latest_poll form .form-actions button {
  background-image: url("../images/redtag2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px; }
  .path-frontpage .lh-row-13 .view-polls.view-display-id-latest_poll form .form-actions button::after {
    content: ""; }

.path-frontpage .node--type-events.node--view-mode-front .extra-field-date {
  background-image: url(../images/whatsnewcard.svg) !important; }

.enquire-about-the-service {
  padding: 0 20px;
  z-index: 1; }

@media (max-width: 767px) {
  .path-frontpage header.navbar-default .mobile-header .region-mobile-header #block-booktickets-2:before, .path-frontpage header.navbar-default .mobile-header .region-mobile-header .block-booktickets-2:before {
    display: none; } }

@media (max-width: 500px) {
  .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-closing_hours.view-display-id-block_1 > .view-content,
  .path-frontpage .block-views-blockclosing-hours-block-1 .view-id-opening_hours.view-display-id-opening_hours {
    background-size: cover; } }

@media (max-width: 400px) {
  .path-frontpage header.navbar-default .mobile-header .region-mobile-header #block-booktickets-2:before,
  .path-frontpage header.navbar-default .mobile-header .region-mobile-header .block-booktickets-2:before {
    display: none; } }

html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-callus {
  float: left;
  left: 10px;
  right: unset; }

html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-booktickets {
  float: left;
  left: 10px;
  right: unset; }
  html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-booktickets .field--name-body a {
    padding: 30px 20px 15px !important;
    font-size: 32px; }

html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-usermenu {
  float: left;
  margin-left: 0;
  margin-right: 60px; }
  html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-usermenu .menu li {
    float: right; }

html[dir="rtl"] .path-frontpage header.navbar-default .navbar-header .block-views-blockuser-information-block-1 {
  margin-left: -15px; }

html[dir="rtl"] .path-frontpage .lh-row-4 .form-group .view.view-experiences.view-display-id-front_experiences::before {
  margin-left: 10px; }
  @media (max-width: 767px) {
    html[dir="rtl"] .path-frontpage .lh-row-4 .form-group .view.view-experiences.view-display-id-front_experiences::before {
      margin-left: 0; } }

html[dir="rtl"] .path-frontpage .lh-row-12 .view-social-feeds.view-display-id-latest_social_posts .attachment-after {
  margin-left: 0%;
  margin-right: 4%; }

html[dir="rtl"] .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row .field--name-node-title h2 {
  margin: 20px 0; }

html[dir="rtl"] .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row:nth-child(1) {
  background-color: #E95646; }

html[dir="rtl"] .path-frontpage .block-views-blockattractions-front .view-attractions.view-display-id-front .views-row:nth-child(2) {
  background-color: #D13431; }

/*# sourceMappingURL=style.css.map */
