<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass(settings.wrapper_classes) }}>

  {% if content.row_1|render is not empty %}
    <div class="col-sm-12 first-region">
      <div class="{{ settings.row_1 }}">
        {{ content.row_1 }}
      </div>
    </div>

    {% if content.row_2_col_1 or content.row_2_col_2 or content.row_2_col_3 %}
      <div class="container">
        <div class="row">
          {% if content.row_2_col_1 %}
            <div class="col-sm-4">
              {{ content.row_2_col_1 }}
            </div>
          {% endif %}
          {% if content.row_2_col_2 %}
            <div class="col-sm-4">
              {{ content.row_2_col_2 }}
            </div>
          {% endif %}
          {% if content.row_2_col_3 %}
            <div class="col-sm-4">
              {{ content.row_2_col_3 }}
            </div>
          {% endif %}
        </div>
      </div>

    {% endif %}

    {% if content.row_3_half_1 or content.row_3_half_2 %}
      <div class="lh-6-6-col-wrapper lh-row-3">
        <div class="container">
          <div class="row flex-wrapper no-gutters">
            {% if content.row_3_half_1 %}
              <div class="col-sm-6 lh-half-1">
                {{ content.row_3_half_1 }}
              </div>
            {% endif %}
            {% if content.row_3_half_2 %}
              <div class="col-sm-6 lh-half-2">
                {{ content.row_3_half_2 }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if content.row_4|render is not empty %}
    <div class="col-sm-12 last-region">
      <div class="{{ settings.row_4 }}">
        {{ content.row_4 }}
      </div>
    </div>
  {% endif %}
</div>
