{#
/**
 * @file
 * Display Suite 2 column stacked template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - header_wrapper: wrapper element around header region
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - footer_wrapper: wrapper element around footer region
 * - attributes: layout attributes
 * - header_attributes: attributes for header region
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - footer_attributes: attributes for footer region
 * - header: content of header region
 * - left: content of left region
 * - right: content of right region
 * - footer: content of footer region
 */
#}
<{{ outer_wrapper }}{{ attributes.addClass('ds-2col-stacked', 'clearfix') }}>

{{ title_suffix.contextual_links }}

<{{ header_wrapper }}{{ header_attributes.addClass('group-header','clearfix') }}>
{{ header }}
</{{ header_wrapper }}>

<div class="flex-wrapper">
  <{{ left_wrapper }}{{ left_attributes.addClass('group-left') }}>
  {{ left }}
</{{ left_wrapper }}>

<{{ right_wrapper }}{{ right_attributes.addClass('group-right') }}>
{{ right }}
</{{ right_wrapper }}>
</div>

<{{ footer_wrapper }}{{ footer_attributes.addClass('group-footer') }}>
{{ footer }}
</{{ footer_wrapper }}>

</{{ outer_wrapper }}>
