{#
/**
 * Template to render background header.
 * title: Title of page.
 * class: Class added to specify header background.
 *
 */
#}

{%
  set classes = [
    'header-full-image',
    'header-' ~ color,
  ]
%}

<div {{ attributes.addClass(classes)}}>
  <div class="header-full-image-image">
    {{image}}
  </div>
  <div class="header-full-title container">
    {% if  title is not empty %}
      <{{tag}}>{{title}}</{{tag}}>
    {% endif %}
  </div>
</div>