{#
/**
 * Template to render video background header.
 * title: Title of page.
 * class: Class added to specify header video background.
 *
 */
#}

{%
  set classes = [
    'header-full-video',
    'header-full-image',
    'header-' ~ color,
  ]
%}

<div {{ attributes.addClass(classes)}}>
  <div class="video-responsive-wrapper">
    <div class="header-full-video video-responsive">
      <iframe {{ video.attributes }}{% if video.url is not empty %} src="{{ video.url }}{% if video.query is not empty %}?{{ video.query | url_encode }}{% endif %}"{% endif %}></iframe>
      <div class="video-overlay"></div>
    </div>
  </div>
  <div class="header-full-title container">
    {% if  title is not empty %}
      <{{tag}}>{{title}}</{{tag}}>
    {% endif %}
  </div>
</div>