<div class="page-not-found" id="page-not-found">      
  {# Main #}
  {% block main %}
    <div role="main" class="main-container container js-quickedit-main-content">
      <div class="{{main_row}}">
        {# Content #}
        <section class="col-sm-12">

          {# Content #}
          <img src=" {{ page_not_found_image }}" />

          <div class="red">{{"Oops!"|t}}</div>

          <div>{{"We can't seem to find the page you're looking for"|t}}</div>
          
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{"Back to Website"|t}}</a>

        </section>
      </div>
    </div>
  {% endblock %}
</div>
