{#
/**
 * @file
 * Bootstrap Layouts: "4 Columns (bricked)" template.
 *
 * Available layout variables:
 * - container: A boolean indicating whether to add a contianing div or not.
 * - section_attributes: Attributes for the section when a container is used.
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - top_first
 * - top_second
 * - top_third
 * - top_fourth
 * - middle
 * - bottom_first
 * - bottom_second
 * - bottom_third
 * - bottom_fourth
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
{% if container %}
  <div{{ section_attributes }}>
    <div class="container">
{% endif %}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if top.content %}
  <{{ top.wrapper }}{{ top.attributes }}>
    {{ top.content }}
  </{{ top.wrapper }}>
  {% endif %}

  {% if top_first.content %}
  <{{ top_first.wrapper }}{{ top_first.attributes }}>
    {{ top_first.content }}
  </{{ top_first.wrapper }}>
  {% endif %}

  {% if top_second.content %}
  <{{ top_second.wrapper }}{{ top_second.attributes }}>
    {{ top_second.content }}
  </{{ top_second.wrapper }}>
  {% endif %}

  {% if top_third.content %}
  <{{ top_third.wrapper }}{{ top_third.attributes }}>
    {{ top_third.content }}
  </{{ top_third.wrapper }}>
  {% endif %}

  {% if top_fourth.content %}
  <{{ top_fourth.wrapper }}{{ top_fourth.attributes }}>
    {{ top_fourth.content }}
  </{{ top_fourth.wrapper }}>
  {% endif %}

  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>
    {{ middle.content }}
  </{{ middle.wrapper }}>
  {% endif %}

  {% if bottom_first.content %}
  <{{ bottom_first.wrapper }}{{ bottom_first.attributes }}>
    {{ bottom_first.content }}
  </{{ bottom_first.wrapper }}>
  {% endif %}

  {% if bottom_second.content %}
  <{{ bottom_second.wrapper }}{{ bottom_second.attributes }}>
    {{ bottom_second.content }}
  </{{ bottom_second.wrapper }}>
  {% endif %}

  {% if bottom_third.content %}
  <{{ bottom_third.wrapper }}{{ bottom_third.attributes }}>
    {{ bottom_third.content }}
  </{{ bottom_third.wrapper }}>
  {% endif %}

  {% if bottom_fourth.content %}
  <{{ bottom_fourth.wrapper }}{{ bottom_fourth.attributes }}>
    {{ bottom_fourth.content }}
  </{{ bottom_fourth.wrapper }}>
  {% endif %}

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}

</{{ wrapper }}>
{% if container %}
    </div>
  </div>
{% endif %}
