{#
/**
 * @file
 * Bootstrap Layouts: "4 Columns" template.
 *
 * Available layout variables:
 * - container: A boolean indicating whether to add a contianing div or not.
 * - section_attributes: Attributes for the section when a container is used.
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - first
 * - second
 * - third
 * - fourth
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
{% if container %}
  <div{{ section_attributes }}>
    <div class="container">
{% endif %}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if first.content %}
  <{{ first.wrapper }}{{ first.attributes }}>
    {{ first.content }}
  </{{ first.wrapper }}>
  {% endif %}

  {% if second.content %}
  <{{ second.wrapper }}{{ second.attributes }}>
    {{ second.content }}
  </{{ second.wrapper }}>
  {% endif %}

  {% if third.content %}
  <{{ third.wrapper }}{{ third.attributes }}>
    {{ third.content }}
  </{{ third.wrapper }}>
  {% endif %}

  {% if fourth.content %}
  <{{ fourth.wrapper }}{{ fourth.attributes }}>
    {{ fourth.content }}
  </{{ fourth.wrapper }}>
  {% endif %}

</{{ wrapper }}>
{% if container %}
    </div>
  </div>
{% endif %}
