//animals
.page-node-type-animals {
  .lh-row-1 {
    position: relative;

    .field--name-field-media-image {
      position: relative;
      &:after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .title-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translate(0,-50%);
    }

    .field--name-node-title {
      h2 {
        font-size: 100px;
        color: @white;
        font-family: "Cross-Town";
      }
    }

    .field--name-dynamic-token-fieldnode-animal-video-link {
      a {
        font-size: 0;

        &[href]:not([href=""]) {
          width: 90px;
          height: 90px;
          display: inline-block;
          background: rgba(0,0,0,.6);
          text-align: center;
          border-radius: 50%;
          position: relative;
          &:after {
            content: "\f04b";
            font: normal normal normal 14px/1 FontAwesome;
            color: @white;
            font-size: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }

    .field--name-field-extinct {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;

      .extinct-wrapper {
        float: left;
        background: @red;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        padding-top: 50px;
        border-top-right-radius: 0;
        color: white;
        text-align: center;
        background-image: url(../images/extinct-icon.png);
        background-size: 45px 45px;
        background-position: right 3px;
        background-repeat: no-repeat;

        .field--name-taxonomy-term-title h2, .field--name-field-key {
          margin: 0;
          font-size: 18px;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }
  }

  .field--name-body {
    margin-bottom: 20px;
  }

  .field--name-field-text {
    overflow: hidden;
    font-size: 24px;
    margin-bottom: 20px;

    .field--label {
      color: #ca6200;

      &:after {
        display: none;
      }
    }

    .field--item {
      float: right;
      padding-right: 0;
    }
  }

  .lh-row-4 {
    text-align: center;
  }

  .lh-row-7 {
    .row;
    .set-separtor-bottom(@gray);
  }

  .field--name-dynamic-block-fieldnode-related-animals,
  .field--name-dynamic-block-fieldnode-related-experiences {
    .field--label {
      font-size: 80px;
      font-family: Cross-Town;
      font-weight: normal;
    }
  }

  .lh-row-9 {
    .row;
    .set-bk(@gray);
  }

  .lh-row-12 {
    .row;
    .set-separtor-top(@gray);
    .set-bk(@light-blue);
    padding-top: 50px;
  }

  .field--name-field-image-2 {
    .set-separtor-bottom(@white);
  }

  .slick-wrapper--asnavfor {
    max-width: 710px; 
    margin: 0 auto; 

    .slick-slide {
      margin: 0 5px; 
    }

    .slick--optionset--slick-for {
      .slick-slide {
        .set-separtor-top(@white);
      }
    }

    .slick--optionset--slick-nav {
      margin: 20px 0;
      .slick-slide {
        .set-separtor-bottom(@white);
      }
    }
  }
}

.view-animals {
  &.view-display-id-related_animals {
    .slick__slide {
      margin: 0 10px;

      &:first-child:nth-last-child(1) {
        width: 25%;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
    
    .views-field-title {
      text-align: center;
      margin: 10px 0 20px;
      a {
        color: @white;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .slick-dots {
      position: static;

      li {
        button {
          &:before {
            color: @light-gray;
          }
        }
      }
    }
  }

  &.view-display-id-celebrity {
    .views-field-title {
      text-align: center;
      margin: 10px 0 20px;
      a {
        color: #878787;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  &.view-display-id-animals_page {
    .group-wrapper {
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .animals-group-title {
        width: 100%;
        overflow: hidden;
        padding: 0 10px;

        .block-title {
          float: left;

          a {
            font-size: 70px;
            font-family: 'Cross-Town';
          }
        }

        .read-more {
          float: right;
          font-size: 20px;
          text-align: center;
          margin-top: 8px;
          position: relative;

          &:after {
            font-family: "alainzoo";
            content: "\e901";
            font-size: 60px;
            line-height: 60px;
            position: absolute;
            left: 0px;
            top: 0px;
            color: @red;
          }

          a {
            color: @white;
            padding: 0px 35px;
            display: block;
            z-index: 10;
            line-height: 60px;
            position: relative;
          }
        }
      }

      &:nth-child(odd) {
        background-color: @white;

        &:first-child {
          margin-top: 0;
        }

        .animals-group-title {
          .block-title {
            a {
              color: @red;
            }
          }
        }
      }

      &:nth-child(even) {
        padding: 70px 0;
        background-color: @gray;
        .set-separtor-top(@white);
        .set-separtor-bottom(@white);

        .animals-group-title {
          .block-title {
            a {
              color: @light-blue;
            }
          }

          .read-more {
            &:after {
              color: @light-blue;
            }
          }
        }
      }

      &:last-child {
        padding-bottom: 30px;
        &:after {
          display: none;
        }
      }
    }

    .views-field-title {
      text-align: center;
      margin: 10px 0 20px;
      a {
        color: #878787;
        font-size: 20px;
      }
    }
  }

  &.view-display-id-animals_in_category, &.view-display-id-celebrity {
    .view-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.node--type-animals {
  &.node--view-mode-teaser {
    .field--name-node-title {
      text-align: center;

      h2 {
        margin: 10px 0 20px;

        a {
          color: #878787;
          font-size: 20px;
        }
      }
    }
  }
}

//Front Animals
//Category
.taxonomy-term--type-categories {
  &.taxonomy-term--view-mode-front {
    .field--name-taxonomy-term-title {
      h2 {
        text-align: center;
        a {
          font-family: Cross-Town;
          font-size: 40px;
        }
      }
    }

    .field--name-field-media-image {
      img {
        margin: 0 auto;
      }
    }
  }
}

.view-display-id-front_category {
  position: static;

  .view-content {
    overflow: hidden;
  }
  .views-row {
    &:nth-child(1) {
      .field--name-taxonomy-term-title {
        h2 {
          a {
            color: #eea700;
          }
        }
      }
    }
    &:nth-child(2) {
      .field--name-taxonomy-term-title {
        h2 {
          a {
            color: #c7d86e;
          }
        }
      }
    }
    &:nth-child(3) {
      .field--name-taxonomy-term-title {
        h2 {
          a {
            color: #efefd7;
          }
        }
      }
    }
  }

  .more-link.form-group {
    background-color: transparent;

    a {
      color: @white;
    }
  }
}

@media(max-width: 991px){
  .view-animals {
    &.view-display-id-related_animals {
      .slick__slide {
        &:first-child:nth-last-child(1) {
          width: 33.333%;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .page-node-type-animals {
    .lh-row-1 {
      .field--name-node-title {
        h2 {
          font-size: 50px;
        }
      }
      .field--name-dynamic-token-fieldnode-animal-video-link {
        a {
          &[href]:not([href=""]) {
            width: 60px;
            height: 60px;

            &:after {
              font-size: 30px;
            }
          }
        }
      }

      .field--name-field-extinct {
        top: 10px;
        .extinct-wrapper {
          width: 120px;
          height: 120px;
          padding-top: 50px;
          background-size: 38px 38px;

          .field--name-taxonomy-term-title h2, .field--name-field-key {
            font-size: 16px;
          }
        }
      }
    }

    .field--name-field-text {
      font-size: 20px;
    }

    .field--name-dynamic-block-fieldnode-related-animals,
    .field--name-dynamic-block-fieldnode-related-experiences {
      .field--label {
        font-size: 50px;
      }
    }
    .field--name-add-to-plan {
      margin-bottom: 0;
    }
  }

  .view-animals {
    &.view-display-id-animals_page {
      .group-wrapper {
        .animals-group-title {
          .block-title {
            a {
              font-size: 50px;
            }
          }
          .read-more {
            margin-top: 6px;
            a {
              padding: 10px 20px;
              font-size: 18px;
              line-height: 40px;
            }

            &:after {
              font-size: 45px;
            }
          }
        }
      }
    }

    &.view-display-id-related_animals {
      .slick__slide {
        &:first-child:nth-last-child(1) {
          width: 50%;
        }
      }
    }
  }
}

@media(max-width: 500px) {
  .view-animals {
    &.view-display-id-animals_page {
      .group-wrapper {
        .animals-group-title {
          .block-title {
            a {
              font-size: 45px;
            }
          }
          .read-more {
            margin-top: 5px;
            a {
              font-size: 16px;
            }

            &:after {
              font-size: 40px;
            }
          }
        }
      }
    }
  }

  .taxonomy-term--type-categories {
    &.taxonomy-term--view-mode-front {
      .field--name-field-media-image {
        img {
          max-width: 70%;
        }
      }
    }
  }
}