//front blocks
.block-views {
  &.block-views-blockevents-front-events,
  &.block-views-blockexperiences-front-experiences,
  &.block-views-blockcategory-front-category,
  &.block-views-blockattractions-front,
  &.block-views-blocksocial-feeds-latest-social-posts {
    h2.block-title {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 60px 60px;
      padding-left: 80px;

      span {
        position: relative;
        bottom: -12px;
      }
    }
  }

  &.block-views-blockevents-front-events {
    h2.block-title {
      color: @dark-green;
      background-image: url(../images/events-icon.svg);
    }
  }

  &.block-views-blockexperiences-front-experiences {
    h2.block-title {
      color: @red;
      background-image: url(../images/experince-icon.svg);
    }
  }

  &.block-views-blockcategory-front-category {
    h2.block-title {
      color: @light-blue;
      background-image: url(../images/animals-icon.svg);
    }
  }

  &.block-views-blocksocial-feeds-latest-social-posts {
    h2.block-title {
      color: @white;
      background-image: url(../images/social-icon.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 60px 60px;
      padding-left: 80px;
    }
  }
}

.block-views-blockexperiences-experiences-page,
.block-views-blockanimals-animals-page, .block-views-blockvistor-services-services,
.block-views-blockanimals-celebrity {
  margin-top: 20px;
}

.flex-wrapper {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .block-region-row-3-half-2 {
    height: 100%;

    section {
      height: 100%;

      .field--name-body {
        height: 100%;

        .contact-us-block {
          height: 100%;
        }
      }
    }
  }
}

// Image with Paragraph Block
.block-content--type-image-with-paragraph {
  position: relative;

  .field--name-field-image {
    margin-bottom: 30px;
  }

  .paragraph-wrapper {
    position: absolute;
    background-color: white;
    left: 5%;
    max-width: 60%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 20px 20px 40px;
    @media (max-width: 991px) {
      transform: none;
      position: relative;
      max-width: none;
      padding: 20px;
      left: unset;
    }

    .field--name-block-description {
      h2 {
        color: black;
      }
    }

    .field--name-body {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .field--name-field-link {
      display: inline-block;

      a {
        color: #FFF;
        padding: 0px 35px;
        display: block;
        z-index: 10;
        line-height: 60px;
        position: relative;
        text-transform: uppercase;

        &:before {
          font-family: "alainzoo";
          content: "\e901";
          font-size: 60px;
          line-height: 60px;
          position: absolute;
          left: 0px;
          top: 0px;
          color: #0c0202;
          z-index: -1;
        }
      }
    }
  }
}

// Image with Link
.block-image-with-link-class {
  .block-content--type-image-with-link {
    position: relative;

    .field--name-field-media {
      img {
        width: 100%;
      }
    }

    .field--name-field-link {
      text-align: center;
      margin: 6px 0px 20px 0px;

      a {
        color: @text-body;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

// Contact us block
.contact-us-block {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  @media (max-width: 767px) {
    padding: 50px 20px;
  }

  .items-wrapper {
    h3 {
      color: white;
      margin-top: 0;
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
    }

    a {
      color: black;
      padding: 0px 35px;
      z-index: 10;
      line-height: 60px;
      position: relative;
      text-transform: uppercase;
      display: inline-block;

      &:before {
        font-family: "alainzoo";
        content: "\e901";
        font-size: 60px;
        line-height: 60px;
        position: absolute;
        left: 0px;
        top: 0px;
        color: white;
        z-index: -1;
      }
    }
  }
}

// Banner Image
.block-content--type-banner {
  position: relative;

  .wrapper {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;

    h2 {
      margin-top: 0;
      color: white;
      @media (max-width: 767px) {

      }
    }

    .field--name-field-link {
      a {
        &:extend(.colored-link);

        &:before {
          &:extend(.colored-link-before);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  .field--name-field-media {
    img {
      width: 100%;
    }
  }
}

.first-region {
  .block-content--type-full-image-with-link {
    margin-bottom: 30px;
  }
}

.block-content--type-full-image-with-link {
  position: relative;

  .field--name-field-link {
    font-size: 0;

    a {
      font-size: 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .block-views {
    &.block-views-blockevents-front-events,
    &.block-views-blockexperiences-front-experiences,
    &.block-views-blockcategory-front-category,
    &.block-views-blockattractions-front,
    &.block-views-blocksocial-feeds-latest-social-posts {
      h2.block-title {
        font-size: 45px;
        background-size: 45px;
        padding-left: 65px;

        span {
          bottom: -8px;
        }
      }
    }
  }
}

.block-region-row-12 {
  .field--name-body {
    margin: 30px 0;

    h2 {
      background-size: 60px 60px;
      color: @white;
      font-size: 70px;
      font-family: 'Cross-Town';

      &::before {
        content: '';
        background-image: url(../images/social-icon.svg);
        background-repeat: no-repeat;
        background-size: 60px 60px;
        padding-left: 80px;
      }
    }
  }
}

// Media Center
.block-views-blockmedia-center-gallery-block-1 {
  position: relative;

  .block-title {
    font-size: 70px;
    font-family: 'Cross-Town';
    color: @blue;
    margin-bottom: 50px;
  }
}

.view-media-center-gallery {
  .view-content {
    display: flex;
    justify-content: space-between;

    .views-row {
      width: 25%;

      .block-content--type-titled-image-with-icon {
        position: relative;

        .field--name-field-image {
          margin-bottom: 15px;
        }

        .field--name-block-description {
          h2 {
            font-weight: 400;
            font-size: 20px;
            margin: 0 8px;
            text-align: center;
          }
        }

        .field--name-field-icon {
          img {
            position: absolute;
            width: 170px;
            height: 170px;
            object-fit: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -65%);
          }
        }

        .field--name-field-link {
          a {
            font-size: 0;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

.media-center-customized .lh-row-14 {
  padding: 50px 0;
  .set-separtor-bottom (@white);
  background-color: @blue;
  .set-separtor-top(@white);

  &:before,
  &:after {
    height: 29px;
  }
}

.block-content--type-colored-background-with-text {
  padding: 30px;
  position: relative;

  .field--name-body {
    color: white;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
    }
  }

  .field--name-field-background-color {
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }
  }
}
