// body backgrounds
.background-white {
  .main-container {
    .set-bk (@white, @text-body);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@white);
  }
}

.background-red {
  .main-container {
    .set-bk (@red);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@red);
  }
}

.background-dark-red {
  .main-container {
    .set-bk (@dark-red);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-red);
  }
}

.background-dark-green {
  .main-container {
    .set-bk (@dark-green);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-green);
  }
}

.background-green {
  .main-container {
    .set-bk (@green);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@green);
  }
}

.background-light-green {
  .main-container {
    .set-bk (@light-green);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@light-green);
  }
}

.background-dark-blue {
  .main-container {
    .set-bk (@dark-blue);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-blue);
  }
}

.background-blue {
  .main-container {
    .set-bk (@blue);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@blue);
  }
}

.background-light-blue {
  .main-container {
    .set-bk (@light-blue);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@light-blue);
  }
}

.background-gray {
  .main-container {
    .set-bk (@gray);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@gray);
  }
}

.background-warm-gray {
  .main-container {
    .set-bk (@warm-gray);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@warm-gray);
  }
}

.background-orange {
  .main-container {
    .set-bk (@orange);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@orange);
  }
}

.background-dark-orange {
  .main-container {
    .set-bk (@dark-orange);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-orange);
  }
}

.background-light-brown {
  .main-container {
    .set-bk (@light-brown);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@light-brown);
  }
}

.background-brown {
  .main-container {
    .set-bk (@brown);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@brown);
  }
}

.background-dark-brown {
  .main-container {
    .set-bk (@dark-brown);
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-brown);
  }
}

.background-beige {
  .main-container {
    .set-bk (@beige , @text-body);
  }
  .title-wrapper {
    color: @text-body !important;
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@beige);
  }
}

.background-purple {
  .main-container {
    .set-bk (@purple); 
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@purple);
  }
}

.background-dark-purple {
  .main-container {
    .set-bk (@dark-purple); 
  }
  .lh-row-1 .field--name-field-image {
    .set-separtor-bottom(@dark-purple);
  }
}

//Conservaation
.page-node-type-conservation {
  .lh-row-1 {
    position: relative;
    
    img {
      width: 100%;
    }
    
    .field--name-field-media-image {
      position: relative;
      &:after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.1);
      }
    }
  }

  .title-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    right: 0;
    color: @white;
    
    .field {
      max-width: 50%;
    }
  }

  .field--name-node-title {
    h2 {
      font-size: 80px;
      margin: 30px 0;
      font-family: "Cross-Town";
      color: inherit;
      position: relative;
      bottom: -5px;
    }
  }
  
  .field--name-body {
    h2,h3,h4,h5,h6 {
      font-family: 'Roboto', sans-serif;
    }
    margin-bottom: 50px;
  }
}

@media(max-width:992px) {
  .page-node-type-conservation {
    .title-wrapper {
      .field {
        max-width: 100%;
      }
    }
  }
}

@media(max-width:767px) {
  .page-node-type-conservation {
    .field--name-node-title {
      h2{
        font-size: 60px;
      }
    }
  }
}

@media(max-width:500px) {
  .page-node-type-conservation {
    .title-wrapper {
      top: 0;
      transform: none;
    }
    .field--name-node-title {
      h2{
        font-size: 30px;
      }
    }
  }
}