// Forms.
form {
  .form-control {
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    border: solid 1px #e6e6e6;
  }

  select {
    line-height: 20px !important;
  }

  .form-required {
    &:after {
      display: none;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn {
    color: @white;
    background-color: @gray;
    border: 0;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 13px 37px;
    border-radius: 5px;

    &:hover, &:focus {
      background-color: #bababa;
      color: @gray;
    }
  }
}

// Login and registration form.
.user-login {
  .header-background.header-header-brown {
    background: @light-brown;
  }
}

.user-login, .user-register, .user-password {
  .main-container {
    position: relative;
    padding-bottom: 170px;
    max-width: 750px;

    &:after {
      position: absolute;
      font-family: "alainzoo";
      content: "\e900";
      color: @light-gray;
      bottom: -11px;
      width: 100%;
      height: 157px;
      line-height: 157px;
      font-size: 157px;
      left: 0px;
      display: inline-block;
    }  

    .region-content {
      max-width: 550px;
      margin: 0 auto;

      .description {
        display: none;
      }

      .login-welcome {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 20px 0px 40px 0px;
        color: @dark-orange;
      }

      .form-item-persistent-login {
        float: left;
        margin: 0px 0px 45px 0px;
        font-size: 14px;
      }

      .user-forget-password {
        float: right;
        font-size: 14px;

        a {
          color: #555;
          text-decoration: underline;
        }
      }

      .form-actions {
        clear: both;
      }

      button , a.social-auth {
        display: block;
        height: 44px;
        width: 100%;
        line-height: 44px;
        padding: 0px;
        border-radius: 22px;
        background: @orange;
        font-size: 16px;
        margin-right: 0;
        margin-left: 0;
        
        .icon {
          display: none;
        }

        &:hover{
          color: @white;
          opacity: 0.8;
        }
      }

      a.social-auth:after{
        content: "\f09a";
        padding: 0 10px;
        font-family: FontAwesome;
      }


      .user-or {
        border-bottom: 1px solid @text-body;
        margin: 30px 20px 30px 20px;
        clear: both;
        position: relative;

        span {
          position: absolute;
          margin: 0 auto;
          width: 40px;
          right: 0px;
          left: 0px;
          background: @white;
          text-align: center;
          top: -14px;
          text-transform: uppercase;
        }
      }

      a.social-auth {
        background: #4267b2; 
        color: @white;
        text-align: center; 
      }

      #block-signup,
      .block-signup{
        text-align: center;
        margin-top: 20px;
        a{
          color: #555555;
          text-decoration: underline;
          font-weight: bold;
        }
      }

      .user-register-form{
        span.fieldset-legend {
          font-weight: bold;
          font-size: 16px;
        }
        .field--type-datetime{
          label{
            width: 20%;
            font-size: 16px;
          }
          #edit-field-date-of-bi-0-value{
            width: 79%;
            display: inline-block;
            .form-inline{
              width: 100%;
              input{
                width: 100%;
              }
            }
          }
        }

        #edit-field-gender-wrapper{
          legend{
            float: left;
            width: auto;
            margin-right: 40px;
            border: 0;
            margin-bottom: 0px;
            line-height: 2;
            font-size: 16px;
            font-weight: bold;
          }
          .fieldset-wrapper{
            float: left;
            margin-left: 25px;
            .form-item{
              display: inline-block;
              line-height: 1;
              margin-right: 20px;
            }
          }
        }
        .field--type-telephone {
          .form-inline{
            width: 100%;
            input{
              width: 100%;
            }
          }
        }
        .field--name-field-mailchimp {
          > .form-item.panel-default {
            border: 0 none;
          }
          .panel-heading {
            display: none;
          }
          .panel-body {
            padding: 0;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.password-confirm {
  margin-top: 10px;
  .error {
    color: #a51b00;
    font-weight: bold;
  }
  .ok {
    color: #325e1c;
    font-weight: bold;
  }
}