header.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  background: #433e4b;

  .block-language {
    position: absolute;

    .links {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 15px 10px;

        &.is-active {
          display: none;
        }

        a {
          display: block;
          color: #95929a;
          font-size: 16px;
        }
      }
    }
  }

  .page-banner {
    background-color: @white;
    > div {
      max-width: 1440px;
      margin: 0 auto;
    }

    .header-half-image {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-wrap: wrap;

      &:after {
        width: 60%;
        z-index: 10;
        position: absolute;
        font-family: "alainzoo";
        content: "\e905";
        color: #433e4b;
        left: 0;
        bottom: -1px;
        font-size: 150px;
        line-height: 150px;
      }

      .col-sm-6 {
        padding: 0;
      }

      .header-half-image-image {
        img {
          width: 100%;
        }
      }

      .header-half-title {
        position: static;

        .header-title-wrapper {
          position: absolute;
          left: 0;
          z-index: 11;
          right: 0;
          top: 50%;
          transform: translate(0,-50%);

          h1, span {
            font-size: 80px;
            margin: 30px 0;
            font-family: 'Cross-Town';
            max-width: 50%;
            display: inline-block;
            padding-top: 25px;
          }
        }
      }
    }

    .header-full-image {
      .header-full-title {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;

        h1, span {
          color: @white;
          font-size: 80px;
          font-family: "Cross-Town";
          -webkit-mask-image: url(../images/watch-more.svg);
          -webkit-mask-size: cover;
          mask-size: cover;
          mask-image: url(../images/watch-more.svg);
          background-color: rgba(0,0,0,0.6);
          padding: 15px 90px;
          padding-top: 50px;
          display: inline-block;
          min-width: 540px;
          text-align: center;
          line-height: 1.1;
        }
      }
    }

    .header-background {
      text-align: center;
      padding-bottom: 35px;

      span, h1 {
        font-family: "Cross-Town";
        font-size: 80px;
        padding-top: 35px;
        display: inline-block;
      }
    }
  }

  .navbar-header {
    float: none;

    .block-views-exposed-filter-blocksearch-search {
      margin-top: 8px;
      position: absolute;
      right: 0;
      form {
        position: relative;
        .form-actions {
          position: absolute;
          left: 0;
          .btn {
            margin: 0;
            padding: 0;
            background-color: transparent;
            font-size: 0;
            &:after {
              content: "\f002";
              display: block;
              font: normal normal normal 14px/1 FontAwesome;
              color: #95929a;
              padding: 13px 10px;
            }
          }
        }
        .form-item {
          .form-control {
            border-color: #95929a;
            color: #95929a;
            border-radius: 10px;
            font-size: 12px;
          }

          &.form-item-type {
            .select-wrapper {
              margin-left: -10px;
              select {
                font-size: 12px;
                padding: 6px 16px 6px 12px;
                background-color: #3d3a46;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
              }
              &:after {
                content: "\f0d7";
                font: normal normal normal 14px/1 FontAwesome;
                color: #95929a;
              }
            }
          }

          &.form-item-title {
            .form-control {
              border-right: 0;
              background-color: rgba(0, 0, 0, 0.08);
              padding-left: 33px;
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }
          }
        }
      }
    }

    #block-usermenu, .block-usermenu {
      float: right;
      margin: 0 10px;
      margin-left: 60px;

      .menu {
        li {
          float: left;

          a {
            padding: 15px 5px;
            color: #95929a;
            font-size: 16px;

            &:hover, &:focus {
              background-color: transparent;
            }

            &:before {
              display: inline-block;
              vertical-align: middle;
              height: 25px;
              width: 25px;
              margin: 0 10px;
              font-size: 25px;
              line-height: 25px;
            }

            &.logout {
              display: none;
            }

            &.login, &.logout {
              &:before { 
                font-family: "alainzoo";
                content: "\e909";
                color: #95929a;
              }
            }

            &.find-us {
              &:before { 
                font-family: "alainzoo";
                content: "\e90d";
                color: #95929a;
              }
            }

            &.help {
              &:before { 
                font-family: "alainzoo";
                content: "\e90c";
                color: #95929a;
              }
            }
            &.hidden_violation_reporting_en{
                &:before {
                    font-family: "alainzoo";
                    content: "";
                    color: #95929a;
                    font-size: 30px;
                    background: url(../images/ic8.svg) no-repeat;}
                    }
            &.hidden_violation_reporting_ar{
                &:before {
                  font-family: "alainzoo";
                    content: "";
                    color: #95929a;
                    font-size: 30px;
                    background: url(../images/ic8.svg) no-repeat;
            }}
          }
        }
      }
    }

    .logo{
      padding: 0;
      margin: 0;
      width: 113px;
      position: absolute;
      z-index: 1;
      left: 0;
      &.achievements-logo {
        left: 123px;
        width: 100px;
        background: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 10px;
        @media(max-width: 991px) {
          display: none !important;
        }
      }

      img {
        width: 100%;
      }
    }

    .region-navigation {
      float: right;
      overflow: hidden;
      position: static;
      margin-right: 360px;

      > div {
        float: right;
      }
    }

    .block-views-blockuser-information-block-1 {
      float: right;
      margin-left: 60px;
      margin-right: -60px;

      .views-field-field-avatar {
        float: left;
        margin: 5px 0;

        img {
          border-radius: 50%;
          width: 45px;
          border: 2px solid #95929a;
        }
      }

      .views-field-field-name {
        float: left;

        a {
          font-size: 16px;
          padding: 16px 5px;
          color: #95929a;
          display: block;
          text-transform: capitalize;
        }
      }
    }
  }

  .navbar-collapse {
    background-color: @white;
    padding: 0;
    margin: 0 auto;
    .navbar-collapse-inner-wrapper {
      max-width: 1440px;
      background-color: #433e4b;
      margin: 0 auto;
    }

    .navbar-nav {
      float: none;

      > li {
        &.active {
          a {
            background-color: transparent;
          }
        }

        > a {
          color: @white;
          font-size: 20px;
          padding: 20px;
          position: relative;

          &:hover, &:focus, &.active {
            color: @white;
            background-color: transparent;
          }
        }
      }
    }
  }
  &.not-front-header {
    .navbar-header {
      position: relative;
    }

    .navbar-collapse {
      .navbar-nav {
        li {
          &.active {
            a {
              color: @blue;

              &:after {
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -10px;
                pointer-events: none;
                border-color: rgba(255,255,255,0);
                border-bottom-color: @blue;
                border-width: 10px;
              }

              &.is-active {
                border-bottom: 0;
                padding-bottom: 20px;
              }
            }
          }
          a {
            &.is-active {
              padding-bottom: 15px;
              border-bottom: 5px solid;
            }
          }
        }
      }
    }
  }
}

.breadcrumbs-section {
  background-color: @blue;
  max-width: 1440px;
  margin: 0 auto;

}
.breadcrumbs-wrapper {
  margin-left: 20px;
  padding-bottom: 9px;
  padding-top: 9px;

  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;

    li {
      float: left;
      padding: 6px 0;
      &:first-child {
        padding: 0;
        a {
          font-size: 0;
          &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            height: 35px;
            background-image: url(../images/home.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &:before {
          display: none;
        }
      }
      &.active, a {
        color: @breadcrumb-yellow;
      }
      &:before {
        color: @breadcrumb-yellow;
        padding: 0 10px;
        content: ">";
      }
    }
    &.breadcrumb-menu {
      background:transparent;
      a {
        color: @white;
      }
      li {
        &:first-child {
          padding: 6px 0;
          a {
            font-size: 18px;
            &:after {
              display: none;
            }
          }
          &:before {
            display: inline-block;
          }
        }
        &:before {
          content: '|';
          color: @white;
        }
      }
    }
  }
}

.user-logged-in {
  .navbar-collapse {
    #block-usermenu, #block-usermenu-2, .block-usermenu, .block-usermenu-2 {
      ul {
        li {
          a {
            &.login {
              display: none;
            }

            &.logout {
              display: block;
            }
          }
        }
      }
    }
  }

  header.navbar-default {
    .navbar-header {
      #block-usermenu, #block-usermenu-2, .block-usermenu, .block-usermenu-2 {
        ul {
          li {
            a {
              &.login {
                display: none;
              }

              &.logout {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.path-frontpage {
  header.navbar-default {
    > .container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .navbar-header {
      .logo {
        left: 10px;
        &.achievements-logo {
          left: 133px;
        }
      }
      .block-views-exposed-filter-blocksearch-search {
        right: 10px;
      }
     #block-buytickets, .buy_tickets{
          float: right;
          clear: right;
          width: 258px;
          position: absolute;
          right: 10px;
          bottom: 270px;
      .field--name-body{
              
          
      a {
          color: #fff;
          text-transform: uppercase;
          padding:14px 9px 0px 16px;
          background-color: #789048;
          border-radius: 15px;
          display: block;
          font-family: "Cross-Town";
          font-size: 32px;
}

      }
      }

      #block-booktickets, .block-booktickets {
        float: right;
        margin-top: 50px;
        width: 258px;
        position: absolute;
        bottom: 335px;
        right: 10px;

        .field--name-body {
          a {
            color: @white;
            font-size: 32px;
            text-transform: uppercase;
            padding: 10px 0px 0px 0px;
            background-color: @red;
            border-radius: 15px;
            display: block;
            padding-left: 75px;
            font-family: "Cross-Town";
          }
        }

        &:after {
          content: "";
          display: block;
          width: 80px;
          height: 80px;
          background-image: url(../images/tickets.svg);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: -45px;
          left: -20px;
        }
      }

      #block-callus, .block-callus {
        float: right;
        clear: right;
        width: 258px;
        position: absolute;
        right: 10px;
        bottom: 212px;

        .field--name-body {
          background: @yellow;
          padding: 0;
          border-radius: 15px;
          margin-top: 10px;
          color: @white;
          font-size: 18px;

          .call-us-wrapper {
            overflow: hidden;
          }

          a {
            color: @white;
            font-size: 24px;
            font-weight: bold;
            line-height: 47px;
          }

          .call-us {
            float: left;
            padding: 3px 10px;
            div {
              font-size: 14px;
              font-weight: 500px;
            }
          }

          .phone {
            float: left;
            padding: 9px 10px 9px 10px;
            border-right: solid 2px #d48c1a;

            &:before {
              content: "";
              display: block;
              width: 34px;
              height: 34px;
              background-image: url(../images/phone-icon.svg);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    .navbar-collapse {
      position: relative;
      z-index: 2;

      .navbar-nav {
        float: none;

        > li {
          > a {
            &:after {
              content: "";
              width: 92px;
              height: 92px;
              display: block;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              position: absolute;
              top: -107px;
              left: 50%;
              transform: translate(-50%,0);
            }

            &.hidden-front {
              display: none;
            }

            &.explore {
              &:after { background-image: url(../images/explore.svg);}
            }

            &.plan-visit {
              &:after { background-image: url(../images/plan-visit.svg);}
            }

            &.education {
              &:after { background-image: url(../images/education.svg);}
            }

            &.conservation {
              &:after { background-image: url(../images/conservation.svg);}
            }

            &.map {
              @media(max-width: 992px) and (min-width: 768px){
                padding: 20px;
              }
              &:after {
                background-image: url(../images/map.svg);
                top: -81px;
              }
            }
          }

          &:last-child {
            float: right;

            a {
              font-weight: bold;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

//language switcher
.lang-en {
  header.navbar-default .block-language .links li {
    &[hreflang="en"] {
      display: none;
    }
  }
}

.lang-ar {
  header.navbar-default .block-language .links li {
    &[hreflang="ar"] {
      display: none;
    }
  }
}

// Header backgrounds
.header-header-white {
  &.header-half-image {
    .set-bk (@white, @text-body);
  }
  &.header-background {
    .set-bk-header (@white, @text-body);
  }
}

.header-header-red {
  &.header-half-image {
    .set-bk (@red);
  }
  &.header-background {
    .set-bk-header (@red);
  }
}

.header-header-dark-red {
  &.header-half-image {
    .set-bk (@dark-red);
  }
  &.header-background {
    .set-bk-header (@dark-red);
  }
}

.header-header-dark-green {
  &.header-half-image {
    .set-bk (@dark-green);
  }
  &.header-background {
    .set-bk-header (@dark-green);
  }
}

.header-header-green {
  &.header-half-image {
    .set-bk (@green);
  }
  &.header-background {
    .set-bk-header (@green);
  }
}

.header-header-light-green {
  &.header-half-image {
    .set-bk (@light-green);
  }
  &.header-background {
    .set-bk-header (@light-green);
  }
}

.header-header-dark-blue {
  &.header-half-image {
    .set-bk (@dark-blue);
  }
  &.header-background {
    .set-bk-header (@dark-blue);
  }
}

.header-header-blue {
  &.header-half-image {
    .set-bk (@blue);
  }
  &.header-background {
    .set-bk-header (@blue);
  }
}

.header-header-light-blue {
  &.header-half-image {
    .set-bk (@light-blue);
  }
  &.header-background {
    .set-bk-header (@light-blue);
  }
}

.header-header-gray {
  &.header-half-image {
    .set-bk (@gray);
  }
  &.header-background {
    .set-bk-header (@gray);
  }
}

.header-header-warm-gray {
  &.header-half-image {
    .set-bk (@warm-gray);
  }
  &.header-background {
    .set-bk-header (@warm-gray);
  }
}

.header-header-orange {
  &.header-half-image {
    .set-bk (@orange);
  }
  &.header-background {
    .set-bk-header (@orange);
  }
}

.header-header-dark-orange {
  &.header-half-image {
    .set-bk (@dark-orange);
  }
  &.header-background {
    .set-bk-header (@dark-orange);
  }
}

.header-header-light-brown {
  &.header-half-image {
    .set-bk (@light-brown);
  }
  &.header-background {
    .set-bk-header (@light-brown);
  }
}

.header-header-brown {
  &.header-half-image {
    .set-bk (@brown);
  }
  &.header-background {
    .set-bk-header (@brown);
  }
}

.header-header-dark-brown {
  &.header-half-image {
    .set-bk (@dark-brown);
  }
  &.header-background {
    .set-bk-header (@dark-brown);
  }
}

.header-header-beige {
  &.header-half-image {
    .set-bk (@beige , #dbc190);
  }
  &.header-background {
    .set-bk-header (@beige , #dbc190);
  }
}

.header-header-purple {
  &.header-half-image {
    .set-bk (@purple);
  }
  &.header-background {
    .set-bk-header (@purple);
  }
}

.header-header-dark-purple {
  &.header-half-image {
    .set-bk (@dark-purple);
  }
  &.header-background {
    .set-bk-header (@dark-purple);
  }
}

@media(min-width: 1200px) {
  .path-frontpage {
    header.navbar-default {
      .navbar-header {
        #block-booktickets, .block-booktickets {
          bottom: 335px;
        }
      }

      .page-banner {
        margin-top: 55px;
      }
    }
  }

  header.navbar-default {
    .page-banner {
      .header-background {
        span, h1 {
          padding-right: 115px;
          padding-left: 115px;
          width: 1140px;
        }
      }
    }

    .navbar-header {
      .block-views-exposed-filter-blocksearch-search {
        form {
          .form-item {
            &.form-item-title {
              .form-control {
                width: 272px !important;
              }
            }

            &.form-item-type {
              .select-wrapper {
                select {
                  width: 95px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .breadcrumbs-wrapper {
    margin: 0 !important;
  }

  header.navbar-default {
    .navbar-header {
      .logo {
        width: 100px;
      }
    }

    .navbar-collapse {
      .navbar-nav {
        > li {
          &:first-child {
            > a {
              padding-left: 0;
            }
          }
        }
      }
    }

    .page-banner {
      .header-half-image {
        .header-half-title {
          .header-title-wrapper {
            span, h1 {
              font-size: 80px;
              margin-bottom: 0;
            }
          }
        }
      }
      .header-full-image {
        .header-full-title {
          h1, span {
            font-size: 80px;
            min-width: 470px;
          }
        }
      }
      .header-background {
        h1, span {
          font-size: 80px;
        }
      }
    }

    .navbar-header .region-navigation {
      margin: 0 !important;
    }
  }
}

@media(max-width: 1200px) and (min-width:768px){
  header.navbar-default {
    .navbar-header {
      padding-bottom: 55px;
      .region-navigation {
        #block-usermenu, .block-usermenu {
          margin-right: 0;
        }
      }

      .block-views-exposed-filter-blocksearch-search {
        position: absolute;
        right: 0;
        top: 55px;
      }
    }
  }
  .path-frontpage {
    header.navbar-default {
      .page-banner {
        margin-top: 110px;
      }
    }
  }
}

@media(max-width: 991px) and (min-width:830px){
  header.navbar-default {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            padding: 20px 15px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .path-search {
    header.navbar-default.not-front-header .navbar-header {
      padding-bottom: 0;
    }
  }
}
@media(max-width: 991px) {
  header.navbar-default {
    .page-banner {
      .header-half-image {
        .header-half-title {
          .header-title-wrapper {
            h1, span {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 829px) and (min-width: 768px){
  header.navbar-default {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            padding: 20px 9px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media(max-width: @screen-xs-max) {
  .path-frontpage {
    header.navbar-default {
      .mobile-header {
        .region-mobile-header {
          #block-exposedformsearchsearch-3, .blocksearch-search-mobile {
            .form-item-title {
              .form-control {
                color: @white;
              }
            }
          }
        }
      }
    }
  }
  header.navbar-default {
    .region-navigation {
      .logo {
        display: none !important;
      }
    }
    .mobile-header {
      background-color: rgba(0,0,0,0.5);
      overflow: hidden;
      padding: 10px 0;
      z-index: 1;
      position: relative;

      .navbar-toggle {
        float: left;
        margin: 5px 0;
        .icon-bar {
          background: @white;
          height: 3px;
        }
      }

      .mobile-logo {
        position: absolute !important;
        left: 45px !important;
        top: 0;
        width: 40px;
        padding: 5px 0;
      }

      .mobile-search {
        float: right;
        padding: 10px 0;
        i {
          color: @white;
          padding: 3px 15px;
          font-size: 26px;
        }
      }

      .region-mobile-header {
        #block-booktickets-2, .block-booktickets-2 {
          float: right;

          &:before {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            background-image: url(../images/tickets.svg);
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: -webkit-baseline-middle;
          }

          .field--name-body  {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0px;
            a {
              font-family: "Cross-Town";
              font-size: 30px;
              color: @white;
              margin: 0 15px 0 0;
              margin-top: 18px;
              display: block;
              line-height: normal;
            }
          }
        }

         .buy_tikets_2 {
          float: right;
          .field--name-body  {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0px;
            a {
              font-family: "Cross-Town";
              font-size: 30px;
              color: @white;
              margin: 0 15px 0 0;
              margin-top: 18px;
              display: block;
              line-height: normal;
            }
          }
        }

        #block-callus-2, .block-callus-2 {
          float: right;
          font-size: 20px;
          .field--name-body  {
            border-left: 1px solid @white;
            border-right: 1px solid @white;
            padding: 0 15px;
            margin: 13px 0;
            .phone {
              display: inline-block;
              vertical-align: bottom;
              &:after {
                content: "\f095";
                display: block;
                font: normal normal normal 26px/1 FontAwesome;
                color: @white;
                padding: 0px;
              }
            }
            .call-us {
              display: inline-block;
              div {
                display: none;
              }
              a {
                color: @white;
              }
            }
          }
        }

        #block-exposedformsearchsearch-3, .blocksearch-search-mobile {
          display: none;
          clear: both;
          margin-top: 0;
          width: 100%;
          padding: 0 10px;
          position: relative;
          right: 0;
          left: 0;

          .form--inline {
            margin-top: 20px;
          }

          .form-item-title {
            width: calc(~"100% - 90px");
          }

          .form-item-type {
            width: 90px;

            .select-wrapper {
              margin: 0;
              width: 100%;
            }
          }
        }
      }
    }
    .page-banner {
      h1, span {
        word-break: break-word;
      }
      .header-half-image {
        margin-bottom: 20px;
        .header-half-title {
          min-height: 0;
          .header-title-wrapper {
            h1, span {
              max-width: 100%;
            }
          }
        }
        .header-half-image-image {
          &:after {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            -webkit-mask-image: none;
          }
        }

        &:after {
          width: 100%;
        }
      }
      .header-full-image {
        .header-full-title {
          h1, span {
            font-size: 60px;
            min-width: 300px;
          }
        }
      }
      .header-background {
        h1, span {
          font-size: 60px;
        }
      }
    }
  }

  .ain-page-wrapper {
    left: 0;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .show-menu .ain-page-wrapper {
    overflow: hidden;
    position: fixed;
    left: 300px;
  }

  .mobile-overlay {
    display: none;
    z-index: 499;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    cursor: zoom-out;
  }

  .navbar-collapse.mobile-menu-outer-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    border-top: 0;
    width: 0px;
    display: block;
    background: #363636 !important;

    .container {
      padding: 0;
    }

    .region-navigation-collapsible {
      width: 300px;
    }

    .view-user-information {
      display: block;
      overflow: hidden;
      position: relative;

      .views-field-field-avatar {
        padding: 15px;
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        img {
          border: 5px solid @gray;
          border-radius: 50%;
        }
      }

      .views-field-field-name {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        a {
          color: @white;
          display: block;
          font-size: 20px;
          padding: 15px;
          float: right;
        }
      }
    }

    .block-language {
      float: none;
      background-color: #292929;

      .links {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          float: right;
          padding: 0px;

          &.is-active {
            display: none;
          }

          a {
            padding: 15px;
            color: @white;
            font-size: 18px;
            display: block;
          }
        }
      }
    }

    .navbar-nav {
      margin: 0;
      clear: both;
      border-top: 2px solid @gray;

      >li.active >a.is-active {
        border-bottom: 2px solid @gray !important;
      }

      > li {
        > a {
          color: @white !important;
          font-size: 18px;
          border-bottom: 2px solid @gray;
          padding: 15px;
          &:after {
            display: none !important;
          }

          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 40px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          &.explore {
            &:before { background-image: url(../images/explore-icon.svg);}
          }

          &.plan-visit {
            &:before { background-image: url(../images/plan-icon.svg);}
          }

          &.education {
            &:before { background-image: url(../images/education-icon.svg);}
          }

          &.conservation {
            &:before { background-image: url(../images/conservation-icon.svg);}
          }

          &.map {
            &:before {
              background-image: url(../images/map-icon.svg);
            }
          }

          &:hover, &:focus {
            background-color: transparent;
          }
        }

        &.active {
          a {
            padding-bottom: 15px !important;
            background-color: transparent !important;

            &:after {
              display: none !important;
            }
          }
        }

        &.dropdown {
          display: block;
          position: relative;
          overflow: hidden;
          > a {
            width: 80%;
            float: left;
            background: transparent;

            &.dropdown-toggle {
              width: 20%;
              float: left;
              line-height: 40px;
              text-align: center;
              &:before {
                display: none;
              }

              .fa {
                transition: transform 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
                &:before {
                  font-size: 26px;
                }
              }
            }
          }

          .dropdown-menu {
            clear: both;
            background-color: #292929;
            padding: 0 0 0 25px;

            li {
              a {
                color: @white;
                padding: 15px;
                white-space: normal;
                padding-left: 40px;
                position:relative;
                font-size: 18px;
                background-color: transparent !important;

                &:before {
                  content: "\f111";
                  font: normal normal normal 12px/1 FontAwesome;
                  display: block;
                  position: absolute;
                  left: 15px;
                  top: 50%;
                  color: @gray;
                  margin-top: -6px;
                }
              }
            }
          }

          &.open {
            > a {
              &.dropdown-toggle {
                .fa {
                  transform: rotate(90deg);
                }
              }
            }
          }
        }

        &:first-child {
          > a {
            padding-left: 15px;
          }
        }

        &:last-child {
          float: none !important;
          > a {
            font-weight: normal !important;
            font-size: 18px !important;
          }
        }
      }
    }

    #block-usermenu-2, .block-usermenu-2 {
      position: static;

      li {
        position: static;

        a {
          color: @white;
          font-size: 18px;
          padding: 15px;

          &:hover, &:focus {
            background: transparent;
          }

          &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 25px;
            width: 25px;
            margin-right: 10px;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-size: contain;
            background-color: @white;
          }

          &.login {
            position: absolute;
            top: 0;
            min-width: 171px;
            &:before { -webkit-mask-image: url(../images/login.svg);}
          }

          &.find-us {
            float: left;
            &:before { -webkit-mask-image: url(../images/find.svg);}
          }

          &.logout {
            display: none;
            position: absolute;
            top: 90px;
            min-width: 171px;
            &:before {
              -webkit-mask-image: url(../images/login.svg);
              transform: rotate(180deg);
            }
          }

          &.help {
            float: right;
            &:before { -webkit-mask-image: url(../images/help.svg);}
          }
          &.hidden_violation_reporting_en{
            padding-top: 60px;
            &:before { -webkit-mask-image: url(../images/ic8.svg);}
          }
          &.hidden_violation_reporting_ar{
            &:before { -webkit-mask-image: url(../images/ic8.svg);}
          }
        }
      }
    }
  }
}

@media(max-width: 570px) {
  header.navbar-default {
    .mobile-header {
      .region-mobile-header {
        #block-booktickets-2, .block-booktickets-2 {
          .field--name-body {
            a {
              margin-top: 16px;
            }
          }
        }
        #block-buytickets {
          .field--name-body {
            a {
              margin-top: 16px;
            }
          }
        }
        #block-callus-2, .block-callus-2 {
          .field--name-body {
            .phone {
              display: none;
            }

            .call-us {
              display: block;
              a {
                display: block;
                font-size: 0;

                &:after {
                  content: "\f095";
                  display: block;
                  font: normal normal normal 26px/1 FontAwesome;
                  color: #FFF;
                  padding: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 500px) {
  header.navbar-default {
    .page-banner {
      .header-half-image {
        .header-half-title {
          .header-title-wrapper {
            h1, span {
              font-size: 60px;
            }
          }
        }
      }
      .header-full-image {
        .header-full-title {
          h1, span {
            font-size: 50px;
            min-width: 300px;
            padding: 30px 30px 10px;
          }
        }
      }
    }
  }
}

@media(max-width: 400px) {
  header.navbar-default {
    .mobile-header {
      padding: 15px 0;
      .navbar-toggle {
        margin: 3px 0;
      }

      .region-mobile-header {
        #block-booktickets-2, .block-booktickets-2 {
          &:before {
            width: 35px;
            height: 35px;
          }
          .field--name-body {
            a {
              font-size: 26px;
              margin-right: 8px;
              margin-top: 17px;
            }
          }
        }
        #block-buytickets{
          .field--name-body {
            a {
              font-size: 26px;
              margin-right: 8px;
              margin-top: 17px;
            }
          }
        }
        #block-callus-2 .field--name-body,
        .block-callus-2 .field--name-body {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
      .mobile-search i {
        padding-left: 8px;
        padding-right: 10px;
      }
    }
  }
}

.header-wrapper{
  .alert{
    margin: 20px 0 20px 0;
  }
}

.lang-en{
 header.navbar-default{ 
  .navbar-header{
   .region-navigation{
    #block-usermenu, .block-usermenu {
     .menu li a{
        &.hidden_violation_reporting_ar{
          display: none;
      } 
     }
      }
       }
      }
     }
     @media(max-width: @screen-xs-max) {
     .navbar-collapse.mobile-menu-outer-wrapper {
         #block-usermenu-2, .block-usermenu-2 {
           li {
             a {
               &.hidden_violation_reporting_ar{
                display:none;
              }
             }
           }
         }
       }
     }
    }
.lang-ar{
 header.navbar-default{ 
  .navbar-header{
   .region-navigation{
    #block-usermenu, .block-usermenu {
     .menu li a{


         &.hidden_violation_reporting_en{
            display: none;
            left: 137px;
}
         &.hidden_violation_reporting_ar{
              left: 3px;
         }
  } 
      }
       }
      }
     }
     @media(max-width: @screen-xs-max) {
     .navbar-collapse.mobile-menu-outer-wrapper {
         #block-usermenu-2, .block-usermenu-2 {
           li {
             a {
             &.hidden_violation_reporting_ar{
               margin-top: 45px;
             }
               &.hidden_violation_reporting_en{
                display:none;
              }
             }
           }
         }
       }
     }
    }

    .lang-ar{
     .ain-page-wrapper{
      header.navbar-default{ 
      .container{
      .navbar-header{
      .region-navigation{
       #block-buytickets, .buy_tickets{
              left: 10px;
              right: auto;
              clear: left;
      .field--name-body{ 
      a {
             color: #fff;
             text-transform: uppercase;
             padding: 11px 32px 0px 0px;
             background-color: #789048;
             border-radius: 15px;
             display: block;
             font-size: 31px;
             font-family: 'Lalezar',cursive;
      }}
       }
     }}
    }
  }}
 }