// background
.set-bk-header (@background, @color: #FFF) {
  background: @background;
  color: @color;
  position: relative;

  &:after {
    left: 0;
  }
  .set-separtor-bottom(@white);
}

.set-bk (@background, @color: #FFF) {
  background:@background;
  position: relative;
  color: @color;
}

.set-separtor-top (@background) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    @escape-color: escape("@{background}");
    background-image: url('data:image/svg+xml;charset=UTF-8,%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20723%2045%22%20style%3D%22enable-background%3Anew%200%200%20723%2045%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st1%7Bfill%3A@{escape-color}%3B%7D%0A%3C%2Fstyle%3E%0A%3Cg%20id%3D%22Mask%22%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%3Cpath%20class%3D%22st1%22%20d%3D%22M0-3v29v1.8h10.5c0.6%2C0.2%2C1.3%2C0.3%2C1.9%2C0.4c0.3%2C0.1%2C0.7%2C0.1%2C0.8%2C0.3c0.1%2C0.2%2C0.7%2C0.4%2C1.3%2C0.5%0A%09%09c0.9%2C0.2%2C1.7%2C0.3%2C3.5%2C0.6c1%2C0.4%2C2.5%2C0.7%2C3.9%2C1c1%2C0.2%2C2.1%2C0.4%2C3.1%2C0.6c0.8%2C0.1%2C1.9%2C0.2%2C3.1%2C0.7c0.6%2C0.1%2C1.3%2C0.2%2C2%2C0.2%0A%09%09c1.1%2C0%2C1.7%2C0.2%2C0.7%2C1.3c0.6%2C0.1%2C1.2%2C0.3%2C2.1%2C0.3c0.4%2C0.1%2C0.6%2C0.2%2C1.2%2C0.3c1.1%2C0.1%2C2%2C0.4%2C3%2C0.5c0.3-0.1%2C0.6%2C0%2C1.6%2C0.1%0A%09%09c0.3-0.1%2C0.4-0.2%2C0.3-0.3c-0.3-0.3-1-0.5-1.8-0.7c-1.1-0.2-2.2-0.4-3.5-0.5c-0.9-0.1-1.4-0.2-1.7-0.5c-0.3-0.4-1.1-0.5-1.6-0.8%0A%09%09c-0.2-0.1-0.4-0.2-0.4-0.3c-0.3-0.2%2C0.1-0.4%2C0.9-0.5c0.9%2C0%2C1.7-0.1%2C2.4%2C0c0.4%2C0.1%2C0.8%2C0.1%2C1.1%2C0.2c0.4%2C0.1%2C0.8%2C0.1%2C1.1%2C0.2%0A%09%09c1%2C0.2%2C1.8%2C0.3%2C4.4-0.1c1.3%2C0%2C2.6%2C0%2C3.9-0.3c0.7-0.2%2C1.5-0.2%2C2.1-0.1c0.6%2C0.2%2C1.3%2C0.3%2C2.3%2C0.6c0.1%2C0.2%2C0.6%2C0.3%2C1.1%2C0.3%0A%09%09c0.5%2C0.1%2C1.1%2C0.1%2C1.7%2C0.3c1.3%2C0%2C2.3%2C0.2%2C3.1%2C0.5c0.6%2C0.1%2C1.1%2C0.2%2C1.9%2C0.3c0.9%2C0%2C1.5%2C0.3%2C3.3%2C0.4c0.2%2C0.2%2C1%2C0.2%2C2.3%2C0.4%0A%09%09c0.3%2C0.2%2C0.8%2C0.3%2C1.7%2C0.4c0.5%2C0.1%2C1.1%2C0.2%2C1.8%2C0.3c0.2%2C0.1%2C0.4%2C0.2%2C0.9%2C0.2c0.2%2C0.2%2C0.4%2C0.4%2C0.2%2C0.6c-0.2%2C0.3%2C0.8%2C0.5%2C1.9%2C0.3%0A%09%09c0.9-0.2%2C2-0.4%2C2.3-0.8c0.3-0.4%2C1.7-0.6%2C2.9-0.5c0.6%2C0%2C1%2C0.1%2C2%2C0.2c0.3%2C0.3%2C1.2%2C0.3%2C1.9%2C0.3c0.7%2C0.1%2C1.4%2C0.1%2C2.1%2C0.1%0A%09%09c0.1%2C0%2C0.2%2C0%2C0.8%2C0.2c0.7%2C0.2%2C1.4%2C0.3%2C2%2C0.5c0.6%2C0.2%2C1.7%2C0.4%2C2.6%2C0.6c0.4%2C0.1%2C1%2C0.2%2C1.3%2C0.3c1.1%2C0%2C2.2%2C0.2%2C4.3%2C0.2%0A%09%09c0.3%2C0.1%2C0.4%2C0.2%2C0.4%2C0.3c0%2C0.2%2C0%2C0.3%2C0.5%2C0.4c0.7%2C0.1%2C1.4%2C0.1%2C2.2%2C0c0.6%2C0%2C0.9-0.3%2C1.5-0.7c1.2%2C0.1%2C2.4%2C0%2C4.5-0.2%0A%09%09c0.7%2C0.1%2C1.8%2C0.1%2C3%2C0.4c0.8%2C0%2C1.1-0.1%2C1.7-0.6c0.7%2C0%2C1.5%2C0.1%2C3.5%2C0.1c0.5-0.1%2C1.3-0.1%2C2.2-0.3c0.2%2C0%2C0.4%2C0%2C1.7%2C0.1%0A%09%09c0.4-0.1%2C0.1-0.2%2C0-0.3c-0.1-0.1-0.1-0.2%2C1-0.3c0.6%2C0%2C1.1%2C0.2%2C1.8%2C0.1c1.5%2C0.1%2C2.5%2C0.4%2C4%2C0.6c0.4%2C0.1%2C0.9%2C0.2%2C1.2%2C0.3%0A%09%09c0.4%2C0%2C0.7%2C0.2%2C2.1%2C0c0.5-0.2%2C1.2-0.3%2C2-0.3c2%2C0%2C4.1-0.1%2C6.6%2C0.2c0.9%2C0.1%2C1.7%2C0.3%2C2.8%2C0.4c0.9%2C0%2C1.8%2C0.1%2C2.6%2C0.1%0A%09%09c1.4%2C0.1%2C1.6%2C0.1%2C1.2%2C0.6c-0.1%2C0.2%2C0%2C0.3%2C0.5%2C0.4c1.9%2C0.2%2C3.8%2C0.5%2C5.8%2C0.6c1.2%2C0.1%2C2.2%2C0.3%2C3.4%2C0.3c0.2-0.1%2C0.4-0.2%2C1.7-0.1%0A%09%09c1.5%2C0.2%2C3.1%2C0.3%2C4.8%2C0.3c0.7%2C0%2C1.2%2C0.2%2C2.1%2C0.2c0.6%2C0%2C1.1%2C0.1%2C1.9%2C0c0.5-0.1%2C1%2C0%2C2%2C0.3c0.3-0.1%2C0.6-0.2%2C0.6-0.3%0A%09%09c0-0.2%2C0.2-0.4-0.2-0.6c-0.2-0.1-0.4-0.2%2C0.4-0.6c0.7%2C0.1%2C1.2%2C0.1%2C2.3-0.2c0.3%2C0.1%2C0.5%2C0.2%2C1.3%2C0.3c1.1-0.2%2C1.9%2C0%2C2.5%2C0.2%0A%09%09c1.2%2C0.3%2C2.6%2C0.3%2C4%2C0.3c1.7%2C0.4%2C2.5%2C0.9%2C2.8%2C1.5c0.1%2C0.2%2C0.4%2C0.3%2C1%2C0.3c1.1%2C0%2C2%2C0.2%2C3.6%2C0.2c0.5%2C0.3%2C1.7%2C0.4%2C1.9%2C0.8%0A%09%09c0.6%2C0.1%2C1%2C0.3%2C2%2C0.4c0.8%2C0%2C1.6%2C0.1%2C2.2%2C0.3c0.3%2C0.1%2C0.8%2C0.2%2C1.4%2C0.2c1.1%2C0.3%2C2.5%2C0.4%2C4.7%2C0.6c0.5-0.1%2C0.6-0.2%2C0.5-0.3%0A%09%09c-0.1-0.3%2C0.5-0.3%2C1.2-0.3c0.4%2C0.1%2C0.9%2C0%2C2.3-0.1c0.1-0.1%2C0-0.2-0.3-0.3c-0.9-0.3-1.8-0.5-3.4-0.5c-1.9-0.1-3.4-0.5-3.9-0.7%0A%09%09c1.1%2C0.1%2C2.3%2C0.2%2C3.3%2C0.4c0.3%2C0.1%2C0.8%2C0.1%2C1.2%2C0.2c0.6%2C0.1%2C1.3%2C0%2C1.8-0.2c0.5-0.2%2C0.2-0.4-0.4-0.5c-1.4-0.2-2.6-0.5-4.1-0.7%0A%09%09c-1%2C0-1.9-0.2-3.7-0.4c-0.8-0.4-2.3-0.6-3.2-0.9c-0.6-0.2-0.7-0.5-1.4-0.9c0.5-0.1%2C1-0.2%2C1.6-0.2c0.6%2C0%2C1.3%2C0.1%2C2%2C0.2%0A%09%09c1%2C0.1%2C2.1%2C0.2%2C3.3%2C0.3c0.1%2C0.1%2C0.4%2C0.2%2C1.6%2C0.3c0.3%2C0.3%2C1.5%2C0.2%2C2.3%2C0.3c0.8%2C0.1%2C1.8%2C0.2%2C3.1%2C0c-0.2%2C0-0.4%2C0-0.6-0.3%0A%09%09c0.2-0.1%2C0.4-0.2%2C1.8-0.1c1.2%2C0.2%2C2.7%2C0.3%2C4.1%2C0.4c1%2C0.1%2C1.8-0.1%2C2.7-0.2c0.6%2C0.1%2C1.2%2C0.2%2C1.8%2C0.3c1.2-0.1%2C2.1%2C0.1%2C3.1%2C0.2%0A%09%09c0.7%2C0.1%2C1.5%2C0.1%2C2.2%2C0.2c1%2C0.2%2C2.2%2C0.4%2C4%2C0.5c0.9-0.1%2C1.6%2C0%2C3.6%2C0c0.8-0.1%2C1.8%2C0%2C2.7%2C0c1.5%2C0%2C3%2C0.1%2C4.5%2C0.2c0.7%2C0%2C1.5%2C0%2C2.4-0.1%0A%09%09c-0.2-0.5-0.2-0.5%2C1.8-0.5c1.8-0.4%2C3.2-0.1%2C4.4%2C0.1c1.2%2C0.1%2C2.5%2C0.2%2C3.9%2C0.3c1%2C0.1%2C2.5%2C0%2C3.2%2C0.4c0.4%2C0.2%2C1.4%2C0%2C1.8%2C0.2%0A%09%09c0.9%2C0%2C1.8%2C0.2%2C2.7%2C0.2c0.9%2C0%2C1.3-0.1%2C1-0.4c-1.2-0.4-2.7-0.5-4.9-0.6c-2.1-0.3-3.5-0.7-4.7-1.2c-0.4-0.2-1.2-0.2-2-0.2%0A%09%09c-1.2%2C0.1-2.3%2C0.1-3.3-0.1c-0.4-0.1-1-0.1-1.5-0.1c-2.5%2C0-4.9%2C0-8.1-0.1c-0.3-0.1-0.4-0.1-1.6-0.1c-0.1%2C0-0.2%2C0-1.6-0.1%0A%09%09c-0.2-0.1-0.6-0.2-1.9-0.3c-0.3%2C0.1-0.6%2C0-1.9-0.1c-0.8-0.1-1.6-0.2-2.5-0.2c-0.4%2C0-0.6-0.1-1.5-0.1c-0.7%2C0.1-1.2%2C0-1.4-0.2%0A%09%09c-0.4-0.2-1.2-0.5-2.7-0.5c-1.8-0.3-3.8-0.4-5.2-0.9c0.9%2C0%2C1.7%2C0%2C2.6-0.2c1.1-0.2%2C2.1%2C0%2C4.3-0.2c-0.1-0.2-0.2-0.3%2C1.4-0.5%0A%09%09c0.9%2C0%2C1.9%2C0.1%2C2.8-0.1c0.2%2C0%2C0.5%2C0.1%2C2%2C0.1c0.3%2C0.1%2C0.6%2C0.1%2C1.2%2C0.2c3.2%2C0.4%2C6.5%2C0.7%2C9.6%2C1.1c2.5%2C0.3%2C5.3%2C0.3%2C7.4%2C0.8%0A%09%09c0.4%2C0.1%2C1%2C0.2%2C1.5%2C0.2c0.8%2C0%2C1.5%2C0.2%2C2.6%2C0.3c1.6%2C0.3%2C3.4%2C0.4%2C4.8%2C0.7c1.6%2C0.3%2C3.4%2C0.4%2C5.8%2C0.6c0.6%2C0.3%2C1.6%2C0.3%2C3.9%2C0.4%0A%09%09c0.5%2C0.1%2C1.1%2C0.1%2C1.7%2C0.1c0.8%2C0%2C1.6%2C0%2C3.6%2C0.1c0.7-0.2%2C1.5-0.1%2C2.1%2C0c1.1%2C0.3%2C2.4%2C0.3%2C3.9%2C0.3c1.1-0.1%2C2.2%2C0%2C3.2%2C0%0A%09%09c-0.6-0.2-1.1-0.4-2.2-0.4c-1.3%2C0-2.5-0.2-3.8-0.5c0.6-0.2%2C0.2-0.2-1-0.4c-1.3-0.1-2.4-0.2-3.5-0.4c-0.8-0.1-1.9%2C0-2.9%2C0%0A%09%09c-1.8%2C0.1-3.5-0.1-5.3-0.1c-0.6-0.2-1.7-0.3-2.7-0.3c-0.8-0.4-2.3-0.5-3.1-0.8c-0.5-0.1-1.2-0.3-1.9-0.3c-0.5-0.3-1.6-0.3-2-0.5%0A%09%09c0.5-0.1%2C1.1%2C0%2C2%2C0c3.2%2C0%2C5.9%2C0.4%2C8.7%2C0.6c0.6%2C0.1%2C1.1%2C0.2%2C1.9%2C0.1c0%2C0.1%2C0.3%2C0.1%2C1.2%2C0.2c0.5%2C0%2C1.4-0.2%2C1.8%2C0.2%0A%09%09c1.8-0.2%2C2.1-0.4%2C1.7-0.9c-0.3-0.3-0.1-0.4%2C2-0.3c-0.2%2C0.1-0.6%2C0.1-1.9%2C0.3c-0.1%2C0.2%2C0.2%2C0.2%2C0.6%2C0.3c0.6%2C0.1%2C1.4%2C0.1%2C2.1%2C0.1%0A%09%09c2.2-0.1%2C4.3%2C0%2C6.6-0.2c1.2-0.1%2C2.2%2C0.1%2C3.3%2C0.2c3.2%2C0.2%2C6.5%2C0.2%2C9.9%2C0.2c2%2C0%2C4.2%2C0%2C6.3%2C0.1c1.9%2C0.1%2C3.7%2C0.4%2C5.4%2C0.7%0A%09%09c0.6%2C0.2%2C1.2%2C0.4%2C2.5%2C0.1c0.7%2C0.2%2C1.9%2C0.2%2C2.9%2C0.3c1.7-0.2%2C3.4-0.5%2C5-0.7c-0.6-0.3-1.5-0.4-2.1-0.7c-0.2-0.1-0.8-0.1-1.2-0.1%0A%09%09c-2.4%2C0.1-4.3-0.1-6-0.4c-0.6-0.2-1.4-0.3-2.1-0.2c-1.9%2C0.2-3-0.2-4.2-0.4c-0.9-0.2-1.5-0.4-2.7-0.1c0.7-0.4%2C0.5-0.6-1.1-0.9%0A%09%09c0.1-0.2%2C0.4-0.2%2C0.8-0.3c0.6-0.1%2C1.2-0.1%2C1.7%2C0c1.1%2C0.1%2C2.1%2C0.1%2C3.3%2C0.1c0.2%2C0%2C0.6%2C0%2C1.3%2C0.1c0.5%2C0%2C0.8%2C0.1%2C1.1%2C0.2%0A%09%09c0.6%2C0.1%2C1.3%2C0.1%2C2.1%2C0c1-0.3%2C2-0.3%2C3-0.2c0.7%2C0.1%2C1.9%2C0.1%2C2.6-0.1c1.3-0.3%2C2.6-0.3%2C3.9-0.3c0.9-0.1%2C1.8-0.1%2C2.6%2C0%0A%09%09c0.9%2C0.1%2C1.6%2C0.3%2C1.6%2C0.6c-0.1%2C0.2%2C0.2%2C0.4%2C0.9%2C0.4c2.1%2C0%2C3.1%2C0.4%2C3.7%2C0.9c2.6-0.3%2C5.3-0.8%2C8.5-1.2c0.8-0.1%2C1.6-0.3%2C2.4-0.4%0A%09%09c0.7-0.1%2C1.4-0.2%2C2.1-0.3c5.5-0.8%2C11-1.7%2C16.6-2.5c0-0.2-0.2-0.3-0.4-0.5c-0.1-0.1-0.4-0.2-0.8-0.2c-1.1%2C0.1-1.7-0.2-2.8-0.2%0A%09%09c-0.3-0.1-0.4-0.2-0.3-0.3c0.2-0.2-0.2-0.4-0.9-0.4c-0.3%2C0-0.7%2C0%2C0.6-0.4c1.1%2C0.1%2C2.5-0.1%2C3.5%2C0.1c0.5-0.1-0.2-0.3%2C1.6-0.4%0A%09%09c0.4%2C0.1%2C0.8%2C0.1%2C2.3-0.3c0.5%2C0.1%2C1.2%2C0%2C0.9%2C0.3c-0.2%2C0.1%2C0.1%2C0.2%2C1.2%2C0.1c0.2-0.4%2C0.2-0.4%2C1.6-0.5c0.5-0.1%2C0.8-0.1%2C0.9-0.3v-0.1%0A%09%09h10.5c0.7%2C0.1%2C0.8%2C0.3%2C0.7%2C0.5c-0.3%2C0.4-0.6%2C0.9-0.9%2C1.4c-0.1%2C0.2-0.3%2C0.3-0.7%2C0.4c0.1%2C0.2%2C0%2C0.3-0.1%2C0.5c-0.2%2C0.2%2C0%2C0.4%2C1.2%2C0.6%0A%09%09c1.5%2C0.2%2C1.5%2C0.2%2C1.3%2C0.6c0.4%2C0.4%2C0.4%2C0.4%2C1.6%2C0.4c0.6%2C0%2C1%2C0.1%2C1.3%2C0.3c0.4%2C0.2%2C0.8%2C0.4%2C1.6%2C0.5c0.6%2C0%2C0.7%2C0.2%2C2.2%2C0.5%0A%09%09c1.1-0.2%2C1.4-0.1%2C1.7%2C0.3c0.2%2C0.3%2C1%2C0.4%2C2%2C0.4c0.6%2C0%2C1.1%2C0%2C1.6-0.1c1.5-0.3%2C3.3-0.3%2C6.2-0.4c0.5%2C0.2%2C0.8%2C0.4%2C1.2%2C0.6%0A%09%09c0.5%2C0.3%2C0.9%2C0.4%2C1.8%2C0.3c1.5-0.1%2C2.8%2C0.2%2C4.1%2C0.3c0.6%2C0.2%2C1.1%2C0.3%2C1.6%2C0.1c0.4-0.1%2C0.7-0.1%2C2.4%2C0c0.1-0.1%2C0.4-0.1%2C1.7%2C0%0A%09%09c0%2C0.3%2C0.5%2C0.4%2C1.1%2C0.4c0.7%2C0.1%2C1.2%2C0.2%2C2.4%2C0.5c0.7%2C0%2C1.5%2C0.1%2C2.3%2C0.2c0.8%2C0.2%2C1.3-0.1%2C2-0.1c1.2-0.1%2C2.4-0.2%2C3.6-0.3%0A%09%09c2.2-0.2%2C3.1-0.7%2C3.2-1.3c0.1-0.6%2C0.6-0.7%2C2.7-0.7c1.7%2C0%2C3.5%2C0.1%2C6.1-0.2c0.6%2C0.2%2C1.2%2C0.2%2C1.9%2C0.2c0.6-0.1%2C1.2-0.1%2C1.7%2C0.1%0A%09%09c1.8%2C0.4%2C3.2%2C0.3%2C4.5-0.1c0.4%2C0%2C0.7%2C0.1%2C1.5%2C0.2c-0.4%2C0.1-0.9%2C0.1-1.4%2C0.1c1%2C0.3%2C1.8%2C0.3%2C2.4%2C0.1c0.4%2C0%2C0.7%2C0%2C2%2C0%0A%09%09c0.6%2C0%2C1.1-0.2%2C1.6-0.3c1.2%2C0.2%2C1.4%2C0.1%2C2.1-0.4c0.2-0.1%2C0.1-0.2-1-0.2c-0.4%2C0.2-0.7%2C0.1-1.1-0.1c0.6-0.2%2C0.5-0.4%2C0.3-0.6%0A%09%09c-0.5-0.5%2C0.6-1%2C3.4-0.8c0.6%2C0.1%2C1.1%2C0%2C1.6-0.1c0.3-0.1%2C0.7-0.2%2C1.2-0.2c1%2C0.2%2C1.7%2C0%2C2.3-0.1c0.4-0.1%2C0.8-0.2%2C2.4-0.2%0A%09%09c0.8-0.2%2C1.8-0.1%2C3.7%2C0.2c0.8%2C0.1%2C1.2-0.1%2C1.7-0.2c0.5-0.2%2C0.8-0.3%2C0.5-0.5c-0.2-0.2-0.5-0.3-1-0.3c-0.7%2C0-1.2-0.2-1.5-0.3%0A%09%09c-0.4-0.1-0.3-0.2%2C0.5-0.3c0.3-0.1%2C0.6-0.1%2C1.7-0.3c1-0.1%2C1.5%2C0.1%2C1.3%2C0.4c-0.2%2C0.2%2C0.3%2C0.5%2C1.3%2C0.4c0.7%2C0%2C0.8-0.1%2C0.3-0.3%0A%09%09c-0.3-0.1-0.8-0.2-1-0.4c1.4%2C0%2C1.5-0.5%2C3-0.8c1.2%2C0.1%2C2.1%2C0.3%2C3.5%2C0.6c-0.2%2C0.2%2C0%2C0.3%2C0.7%2C0.5c-0.1%2C0.3%2C0.9%2C0.6%2C0.6%2C0.9%0A%09%09c-0.2%2C0.1%2C0.2%2C0.3%2C1.5%2C0.4c1.6%2C0.1%2C1.6%2C0.1%2C2.2-0.6c0.6-0.2%2C0.5-0.4-0.5-0.7c-0.7-0.2-0.1-0.7%2C0.8-0.8c1.2-0.2%2C2.5-0.2%2C3.7-0.2%0A%09%09c0.5%2C0%2C1%2C0%2C1.5%2C0c0.8-0.1%2C1.7-0.1%2C2.7-0.1s1-0.2%2C2.3-0.3c0.7%2C0.2%2C1.2%2C0.2%2C1.6%2C0c0.2-0.2%2C1-0.1%2C1.5-0.2c0.6-0.1%2C1.1%2C0%2C1.6%2C0.1%0A%09%09c1.4%2C0.4%2C2.7%2C0.7%2C4.9%2C0.7c1.2%2C0.2%2C2.1%2C0.1%2C4.2-0.2c0.6%2C0.3%2C1.4%2C0.4%2C2.2%2C0.5c0.6%2C0.1%2C1.2%2C0.2%2C2.7%2C0.2c0.2%2C0.2%2C0.5%2C0.4%2C2%2C0.5%0A%09%09c0.5-0.1%2C1-0.3%2C1.8-0.3c1.1%2C0%2C1.1-0.2-0.1-0.6c1.3%2C0%2C1.3%2C0.1%2C1.9%2C0.4c0.4%2C0.2%2C0.5%2C0.4%2C0.8%2C0.6c0.2%2C0.1%2C0.6%2C0.3%2C1.3%2C0.4%0A%09%09c0.6%2C0.2%2C1.2%2C0.2%2C1.7%2C0.1c0.7-0.2%2C1.4-0.3%2C3.3%2C0c0.7-0.1%2C1.3-0.1%2C2%2C0.1c0.8%2C0.2%2C1.5%2C0.2%2C3-0.1c1.4%2C0.1%2C2-0.3%2C3.3-0.5%0A%09%09c-0.2-0.3%2C0.4-0.4%2C2.2-0.3c0.8-0.1%2C1.4%2C0%2C2.9%2C0.3c2.2%2C0%2C4.5-0.1%2C6.7-0.1c1.2%2C0%2C2.4-0.2%2C3.7-0.3c0.7%2C0.1%2C1.2%2C0.1%2C1.7%2C0.2%0A%09%09c0.8%2C0.2%2C1.7%2C0.4%2C4%2C0.6c0.4-0.1%2C0.2-0.2%2C0-0.4c-0.1-0.2-0.6-0.4%2C0-0.5c0.7-0.1%2C1.4-0.1%2C2%2C0.1c0.9%2C0.3%2C1.8%2C0.5%2C2.4%2C0.9%0A%09%09c0.7%2C0.4%2C1.6%2C0.6%2C3%2C0.6c0.9-0.1%2C2.3%2C0%2C2.3-0.5c1.3%2C0.3%2C2.5%2C0.6%2C2.6%2C1c0.1%2C0.1%2C0.2%2C0.3%2C0.7%2C0.4c0.6%2C0%2C0.9-0.1%2C1.1-0.2%0A%09%09c0.5-0.2%2C1.1-0.2%2C1.8%2C0c0.7%2C0.2%2C1.1%2C0.4%2C1.8%2C0.5c1.2%2C0.3%2C2%2C0.2%2C2.3-0.2c0.3-0.4%2C0.7-0.4%2C1.5-0.1c0.4%2C0.1%2C1%2C0.1%2C1.5%2C0.2%0A%09%09c1%2C0.1%2C1.7%2C0.3%2C2%2C0.6c0.5%2C0.4%2C1.3%2C0.7%2C2.7%2C0.6c0.9%2C0%2C1.7%2C0.4%2C1.6%2C0.7c-0.2%2C0.4-0.1%2C0.8%2C0%2C1.1c0%2C0.4%2C0.1%2C0.8%2C1.4%2C1.3%0A%09%09c0.4%2C1%2C2.4%2C1.5%2C5%2C1.8c0.5%2C0%2C1%2C0.1%2C1.1%2C0.2c0.4%2C0.5%2C1.8%2C0.9%2C2.7%2C1.6c0.8-0.1%2C1.7-0.1%2C3.2-0.2c1%2C0%2C1.8%2C0%2C2.4-0.2%0A%09%09c0.6-0.2%2C1.4-0.2%2C3.2%2C0c1.7%2C0%2C2.2-0.2%2C1.6-0.8c-0.6-0.4-0.2-0.5%2C1.1-0.5c1.9%2C0.1%2C3.5%2C0.3%2C5%2C1c0.4-0.1%2C0.9-0.1%2C1.6-0.1%0A%09%09c1.2%2C0.1%2C1.7-0.1%2C1.3-0.5c-0.4-0.3-0.4-0.3%2C0.7-0.4c2-0.2%2C3.9-0.1%2C6.6%2C0c1.1-0.2%2C2.6-0.2%2C3.8-0.4c0.8%2C0%2C1-0.4%2C1.3-0.6%0A%09%09c0.4-0.3%2C1.1-0.5%2C1.7-0.7c0.5-0.2%2C1.4-0.2%2C2.8%2C0c0%2C0.1%2C0.1%2C0.2%2C1.5%2C0.4c0.4-0.1%2C0.4-0.2%2C0.5-0.3c0.1-0.3%2C0.1-0.5%2C0.8-0.7%0A%09%09c0.4-0.1%2C1.1-0.1%2C2.1-0.2c0.5%2C0.2%2C1.3%2C0.3%2C1.5%2C0.4c0.5%2C0.4%2C1.6%2C0.7%2C1.5%2C1.1c0%2C0.1%2C0.2%2C0.2%2C0.5%2C0.3c1.5%2C0.5%2C2.5%2C1.1%2C3.1%2C1.8%0A%09%09c0.2%2C0.1%2C0.2%2C0.4%2C1.1%2C0.4c0.7%2C0%2C0.3-0.3%2C0.4-0.5c0.1-0.5-0.7-0.9-1.5-1.5c-0.1-0.2-0.3-0.4%2C1.3-0.3c1.1%2C0.1%2C2%2C0.5%2C3.2%2C0.6%0A%09%09c0.4%2C0.1%2C0.7%2C0.1%2C0.8%2C0.3c0.2%2C0.2%2C0.8%2C0.4%2C1.6%2C0.5c0.7%2C0.1%2C1.2%2C0.2%2C1%2C0.4s0.1%2C0.3%2C0.9%2C0.3c1.3%2C0.1%2C1.5%2C0.1%2C1.5-0.5%0A%09%09c0.4-0.2%2C0.2-0.4-0.5-0.6c1.1%2C0%2C1.5-0.2%2C1.8-0.7c0.9%2C0.1%2C1.3-0.1%2C1.9-0.2c0.6%2C0%2C1.1-0.1%2C1.9%2C0c0.9%2C0.1%2C1.6%2C0.3%2C2.7%2C0.5%0A%09%09c0.6%2C0.5%2C2.2%2C0.6%2C3.4%2C0.8c0.7%2C0.2%2C1%2C0.2%2C1.3-0.1c0.4-0.2%2C0.9-0.3%2C2-0.1c1%2C0.2%2C2.1%2C0.2%2C3.9%2C0.1c0.4-0.2%2C1.1-0.5%2C1.4-0.8%0A%09%09c0.5-0.4%2C1.2-0.5%2C2.7-0.2c1.8%2C0.3%2C2.6%2C0.1%2C2.6-0.5c0-0.4-0.1-0.9%2C0-1.4c0.1-0.2-0.3-0.2-0.6-0.4c-0.3-0.3-0.1-0.4%2C0.6-0.4%0A%09%09c1.4%2C0.1%2C2.6%2C0.2%2C3.7%2C0.5c0.3%2C0.1%2C0.6%2C0.2%2C1%2C0.3c0.8%2C0.3%2C1.2%2C0.3%2C1.9%2C0.1c0.6-0.1%2C1.4-0.1%2C2-0.3c0.9-0.1%2C0.9-0.1%2C0.3-0.4%0A%09%09c-0.7-0.2-1-0.5-1.3-0.8c-0.2-0.3-0.1-0.5%2C0.7-0.6c0.5-0.1%2C1.1-0.1%2C1-0.6c0.5%2C0.2%2C1.1%2C0.2%2C1.6%2C0.4c0.9%2C0.3%2C2.1%2C0.3%2C3.4-0.2%0A%09%09c0-0.1%2C0.3-0.2%2C0.6-0.3c0%2C0%2C0.1%2C0%2C1.5%2C0c0.1%2C0%2C0.3-0.1%2C0.4-0.3c1.1%2C0%2C2-0.1%2C3.1-0.6c1.1-0.2%2C2.4-0.2%2C3.8-0.3c1.3%2C0.2%2C2.5%2C0%2C3.7%2C0%0A%09%09c1.1-0.1%2C2.3%2C0.1%2C4.3%2C0.3c0.5%2C0.2%2C1%2C0.2%2C1.5%2C0.1c0.6-0.1%2C0.9-0.2%2C0.9-0.4c0.1-0.5%2C0.2-0.6%2C1.7-0.6c1.2%2C0%2C2.5%2C0%2C3.6-0.2%0A%09%09c0.7-0.2%2C1.5%2C0%2C2.3%2C0.1c0.2%2C0.2%2C0.7%2C0.3%2C1.2%2C0.3c1.3%2C0%2C2.3%2C0.1%2C3.3%2C0.4c0.8%2C0.1%2C1.2%2C0.2%2C1.3%2C0.2c0.8%2C0%2C1.6%2C0%2C2.4%2C0.1%0A%09%09c1%2C0.1%2C2.1%2C0.2%2C3.2%2C0.1c1.5%2C0%2C2.5-0.2%2C3.2-0.6c0.6-0.3%2C1.9-0.4%2C4.3-0.5c0.6%2C0.1%2C1.1%2C0.1%2C1.4-0.1c0.5-0.2%2C1.2-0.1%2C1.9-0.2%0A%09%09c1.3-0.1%2C1.5-0.1%2C1.2-0.6c-0.2-0.3%2C0.4-0.4%2C1.1-0.5c1.4-0.2%2C1.6-0.5%2C1.8-1.2c-0.5-0.4%2C0.3-0.8%2C1.5-0.8s2.4%2C0.1%2C4.5%2C0.1%0A%09%09c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0%2C0%2C0.1%2C0%2C0.1%2C0L723.3-3H723H0z%20M98.9%2C30.7v-0.2C99%2C30.5%2C98.9%2C30.6%2C98.9%2C30.7z%20M111.2%2C32.7%0A%09%09c0-0.1%2C0.1-0.1%2C0.2-0.1C111.3%2C32.6%2C111.2%2C32.7%2C111.2%2C32.7z%20M164.7%2C31.2c0.1-0.1%2C0.1-0.1%2C0-0.2c0.1%2C0%2C0.2%2C0%2C0.2%2C0.1%0A%09%09C164.9%2C31.1%2C164.8%2C31.1%2C164.7%2C31.2z%20M171.8%2C30.9c-0.2%2C0-0.3-0.1-0.5-0.1C171.5%2C30.8%2C171.6%2C30.8%2C171.8%2C30.9c0.1-0.1%2C0.2%2C0%2C0.2%2C0%0A%09%09C171.9%2C30.9%2C171.9%2C30.9%2C171.8%2C30.9z%20M180.6%2C36c-0.2%2C0-0.5%2C0-0.6%2C0c0.4%2C0%2C0.6-0.1%2C0.7-0.2C180.7%2C35.8%2C180.7%2C35.9%2C180.6%2C36z%0A%09%09%20M182.6%2C33c-0.1-0.1-0.3-0.1-0.1-0.2c0.1-0.1%2C0.3-0.1%2C0.6-0.1C182.7%2C32.8%2C182.6%2C32.9%2C182.6%2C33z%20M194.2%2C33.2c-0.1%2C0-0.2%2C0-0.3%2C0%0A%09%09c0%2C0-0.1%2C0-0.1%2C0c-0.1%2C0-0.1%2C0-0.1%2C0c-0.1%2C0-0.1%2C0-0.2-0.1c0%2C0%2C0.1%2C0%2C0.1%2C0s0.1%2C0%2C0.1%2C0c0%2C0%2C0.1%2C0%2C0.1%2C0c0.1%2C0%2C0.1%2C0%2C0.1%2C0%0A%09%09c0.1%2C0%2C0.2-0.1%2C0.2-0.1c0%2C0%2C0.1-0.1%2C0.1-0.1c0%2C0%2C0%2C0%2C0%2C0C194.4%2C33.1%2C194.4%2C33.1%2C194.2%2C33.2z%20M209%2C30.1c0.1%2C0%2C0.2%2C0%2C0.3%2C0.1%0A%09%09C209.2%2C30.2%2C209.1%2C30.2%2C209%2C30.1z%20M214.4%2C30.2c0.5%2C0%2C0.6%2C0%2C0.6%2C0.2C214.9%2C30.3%2C214.7%2C30.3%2C214.4%2C30.2z%20M230.5%2C32.5%0A%09%09c0.4%2C0%2C0.7%2C0%2C1%2C0.1C231.2%2C32.6%2C230.9%2C32.5%2C230.5%2C32.5z%20M243.8%2C30c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1C243.9%2C30.1%2C243.8%2C30.1%2C243.8%2C30z%0A%09%09%20M247.5%2C30.1c0.2-0.1%2C0.3-0.1%2C0.3-0.1C247.7%2C30.1%2C247.6%2C30.1%2C247.5%2C30.1z%20M257.5%2C29.1c0%2C0%2C0.1%2C0%2C0.2%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1%0A%09%09C257.5%2C29.1%2C257.5%2C29.1%2C257.5%2C29.1z%20M274.6%2C29L274.6%2C29c-0.1%2C0-0.1%2C0-0.1%2C0c0%2C0%2C0%2C0-0.1%2C0c0%2C0%2C0%2C0%2C0%2C0%0A%09%09C274.6%2C28.9%2C274.6%2C29%2C274.6%2C29C274.6%2C29%2C274.6%2C29%2C274.6%2C29z%20M276.8%2C29.1c-0.1%2C0.1-0.3%2C0.1-0.5%2C0.1c-0.1%2C0-0.1%2C0-0.2%2C0c0%2C0%2C0%2C0%2C0%2C0%0A%09%09c0.1%2C0%2C0.2%2C0%2C0.2-0.1c0.1-0.1%2C0.1%2C0%2C0.2-0.1c0.1%2C0%2C0.2-0.1%2C0.3-0.1h0.1C276.9%2C29%2C276.8%2C29%2C276.8%2C29.1%0A%09%09C276.8%2C29.1%2C276.8%2C29.1%2C276.8%2C29.1z%20M277.1%2C30.7C277.1%2C30.7%2C277%2C30.7%2C277.1%2C30.7C277%2C30.7%2C277%2C30.7%2C277.1%2C30.7c-0.2%2C0-0.3%2C0-0.3%2C0%0A%09%09c0.1-0.1%2C0.1-0.1%2C0.2-0.1c0%2C0%2C0%2C0%2C0%2C0C277%2C30.6%2C277%2C30.7%2C277.1%2C30.7L277.1%2C30.7z%20M323.9%2C28c0%2C0%2C0.1-0.1%2C0.2%2C0H323.9z%20M341%2C27.8%0A%09%09c-0.1%2C0-0.2%2C0-0.3%2C0c-0.1%2C0-0.2-0.1-0.3-0.1L341%2C27.8L341%2C27.8C341%2C27.7%2C341%2C27.7%2C341%2C27.8z%20M383.3%2C33.3c-0.3%2C0-0.5%2C0-0.8%2C0%0A%09%09c0.4%2C0%2C0.7%2C0%2C1-0.1C383.4%2C33.2%2C383.4%2C33.3%2C383.3%2C33.3z%20M432.9%2C29.1c-0.3-0.1-0.2-0.2-0.3-0.2c0.2%2C0%2C0.3%2C0.1%2C0.5%2C0.1%0A%09%09c0.1%2C0%2C0.2%2C0%2C0.3%2C0.1H432.9z%20M606%2C33.7c0.2%2C0%2C0.4%2C0%2C0.5%2C0.1C606.3%2C33.7%2C606.2%2C33.7%2C606%2C33.7z%20M607.8%2C31.3c0%2C0%2C0.1-0.1%2C0.2-0.1%0A%09%09C608%2C31.3%2C607.8%2C31.3%2C607.8%2C31.3z%20M660.1%2C31.6c-0.2%2C0-0.4%2C0-0.4-0.1h0c0.1%2C0%2C0.2%2C0%2C0.2%2C0h0c0.1%2C0%2C0.3%2C0%2C0.4%2C0%0A%09%09C660.3%2C31.6%2C660.3%2C31.6%2C660.1%2C31.6z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
    height: 30px;
    z-index: 10;
    font-size: 30px;
    display: block;
    width: 4000px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.set-separtor-bottom(@background) {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    @escape-color: escape("@{background}");
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 723 45' style='enable-background:new 0 0 723 45;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st1%7bfill:@{escape-color};%7d %3c/style%3e%3cg id='Mask'%3e%3c/g%3e%3cg%3e%3cpath class='st1' d='M0-3v29v1.8h10.5c0.6,0.2,1.3,0.3,1.9,0.4c0.3,0.1,0.7,0.1,0.8,0.3c0.1,0.2,0.7,0.4,1.3,0.5 c0.9,0.2,1.7,0.3,3.5,0.6c1,0.4,2.5,0.7,3.9,1c1,0.2,2.1,0.4,3.1,0.6c0.8,0.1,1.9,0.2,3.1,0.7c0.6,0.1,1.3,0.2,2,0.2 c1.1,0,1.7,0.2,0.7,1.3c0.6,0.1,1.2,0.3,2.1,0.3c0.4,0.1,0.6,0.2,1.2,0.3c1.1,0.1,2,0.4,3,0.5c0.3-0.1,0.6,0,1.6,0.1 c0.3-0.1,0.4-0.2,0.3-0.3c-0.3-0.3-1-0.5-1.8-0.7c-1.1-0.2-2.2-0.4-3.5-0.5c-0.9-0.1-1.4-0.2-1.7-0.5c-0.3-0.4-1.1-0.5-1.6-0.8 c-0.2-0.1-0.4-0.2-0.4-0.3c-0.3-0.2,0.1-0.4,0.9-0.5c0.9,0,1.7-0.1,2.4,0c0.4,0.1,0.8,0.1,1.1,0.2c0.4,0.1,0.8,0.1,1.1,0.2 c1,0.2,1.8,0.3,4.4-0.1c1.3,0,2.6,0,3.9-0.3c0.7-0.2,1.5-0.2,2.1-0.1c0.6,0.2,1.3,0.3,2.3,0.6c0.1,0.2,0.6,0.3,1.1,0.3 c0.5,0.1,1.1,0.1,1.7,0.3c1.3,0,2.3,0.2,3.1,0.5c0.6,0.1,1.1,0.2,1.9,0.3c0.9,0,1.5,0.3,3.3,0.4c0.2,0.2,1,0.2,2.3,0.4 c0.3,0.2,0.8,0.3,1.7,0.4c0.5,0.1,1.1,0.2,1.8,0.3c0.2,0.1,0.4,0.2,0.9,0.2c0.2,0.2,0.4,0.4,0.2,0.6c-0.2,0.3,0.8,0.5,1.9,0.3 c0.9-0.2,2-0.4,2.3-0.8c0.3-0.4,1.7-0.6,2.9-0.5c0.6,0,1,0.1,2,0.2c0.3,0.3,1.2,0.3,1.9,0.3c0.7,0.1,1.4,0.1,2.1,0.1 c0.1,0,0.2,0,0.8,0.2c0.7,0.2,1.4,0.3,2,0.5c0.6,0.2,1.7,0.4,2.6,0.6c0.4,0.1,1,0.2,1.3,0.3c1.1,0,2.2,0.2,4.3,0.2 c0.3,0.1,0.4,0.2,0.4,0.3c0,0.2,0,0.3,0.5,0.4c0.7,0.1,1.4,0.1,2.2,0c0.6,0,0.9-0.3,1.5-0.7c1.2,0.1,2.4,0,4.5-0.2 c0.7,0.1,1.8,0.1,3,0.4c0.8,0,1.1-0.1,1.7-0.6c0.7,0,1.5,0.1,3.5,0.1c0.5-0.1,1.3-0.1,2.2-0.3c0.2,0,0.4,0,1.7,0.1 c0.4-0.1,0.1-0.2,0-0.3c-0.1-0.1-0.1-0.2,1-0.3c0.6,0,1.1,0.2,1.8,0.1c1.5,0.1,2.5,0.4,4,0.6c0.4,0.1,0.9,0.2,1.2,0.3 c0.4,0,0.7,0.2,2.1,0c0.5-0.2,1.2-0.3,2-0.3c2,0,4.1-0.1,6.6,0.2c0.9,0.1,1.7,0.3,2.8,0.4c0.9,0,1.8,0.1,2.6,0.1 c1.4,0.1,1.6,0.1,1.2,0.6c-0.1,0.2,0,0.3,0.5,0.4c1.9,0.2,3.8,0.5,5.8,0.6c1.2,0.1,2.2,0.3,3.4,0.3c0.2-0.1,0.4-0.2,1.7-0.1 c1.5,0.2,3.1,0.3,4.8,0.3c0.7,0,1.2,0.2,2.1,0.2c0.6,0,1.1,0.1,1.9,0c0.5-0.1,1,0,2,0.3c0.3-0.1,0.6-0.2,0.6-0.3 c0-0.2,0.2-0.4-0.2-0.6c-0.2-0.1-0.4-0.2,0.4-0.6c0.7,0.1,1.2,0.1,2.3-0.2c0.3,0.1,0.5,0.2,1.3,0.3c1.1-0.2,1.9,0,2.5,0.2 c1.2,0.3,2.6,0.3,4,0.3c1.7,0.4,2.5,0.9,2.8,1.5c0.1,0.2,0.4,0.3,1,0.3c1.1,0,2,0.2,3.6,0.2c0.5,0.3,1.7,0.4,1.9,0.8 c0.6,0.1,1,0.3,2,0.4c0.8,0,1.6,0.1,2.2,0.3c0.3,0.1,0.8,0.2,1.4,0.2c1.1,0.3,2.5,0.4,4.7,0.6c0.5-0.1,0.6-0.2,0.5-0.3 c-0.1-0.3,0.5-0.3,1.2-0.3c0.4,0.1,0.9,0,2.3-0.1c0.1-0.1,0-0.2-0.3-0.3c-0.9-0.3-1.8-0.5-3.4-0.5c-1.9-0.1-3.4-0.5-3.9-0.7 c1.1,0.1,2.3,0.2,3.3,0.4c0.3,0.1,0.8,0.1,1.2,0.2c0.6,0.1,1.3,0,1.8-0.2c0.5-0.2,0.2-0.4-0.4-0.5c-1.4-0.2-2.6-0.5-4.1-0.7 c-1,0-1.9-0.2-3.7-0.4c-0.8-0.4-2.3-0.6-3.2-0.9c-0.6-0.2-0.7-0.5-1.4-0.9c0.5-0.1,1-0.2,1.6-0.2c0.6,0,1.3,0.1,2,0.2 c1,0.1,2.1,0.2,3.3,0.3c0.1,0.1,0.4,0.2,1.6,0.3c0.3,0.3,1.5,0.2,2.3,0.3c0.8,0.1,1.8,0.2,3.1,0c-0.2,0-0.4,0-0.6-0.3 c0.2-0.1,0.4-0.2,1.8-0.1c1.2,0.2,2.7,0.3,4.1,0.4c1,0.1,1.8-0.1,2.7-0.2c0.6,0.1,1.2,0.2,1.8,0.3c1.2-0.1,2.1,0.1,3.1,0.2 c0.7,0.1,1.5,0.1,2.2,0.2c1,0.2,2.2,0.4,4,0.5c0.9-0.1,1.6,0,3.6,0c0.8-0.1,1.8,0,2.7,0c1.5,0,3,0.1,4.5,0.2c0.7,0,1.5,0,2.4-0.1 c-0.2-0.5-0.2-0.5,1.8-0.5c1.8-0.4,3.2-0.1,4.4,0.1c1.2,0.1,2.5,0.2,3.9,0.3c1,0.1,2.5,0,3.2,0.4c0.4,0.2,1.4,0,1.8,0.2 c0.9,0,1.8,0.2,2.7,0.2c0.9,0,1.3-0.1,1-0.4c-1.2-0.4-2.7-0.5-4.9-0.6c-2.1-0.3-3.5-0.7-4.7-1.2c-0.4-0.2-1.2-0.2-2-0.2 c-1.2,0.1-2.3,0.1-3.3-0.1c-0.4-0.1-1-0.1-1.5-0.1c-2.5,0-4.9,0-8.1-0.1c-0.3-0.1-0.4-0.1-1.6-0.1c-0.1,0-0.2,0-1.6-0.1 c-0.2-0.1-0.6-0.2-1.9-0.3c-0.3,0.1-0.6,0-1.9-0.1c-0.8-0.1-1.6-0.2-2.5-0.2c-0.4,0-0.6-0.1-1.5-0.1c-0.7,0.1-1.2,0-1.4-0.2 c-0.4-0.2-1.2-0.5-2.7-0.5c-1.8-0.3-3.8-0.4-5.2-0.9c0.9,0,1.7,0,2.6-0.2c1.1-0.2,2.1,0,4.3-0.2c-0.1-0.2-0.2-0.3,1.4-0.5 c0.9,0,1.9,0.1,2.8-0.1c0.2,0,0.5,0.1,2,0.1c0.3,0.1,0.6,0.1,1.2,0.2c3.2,0.4,6.5,0.7,9.6,1.1c2.5,0.3,5.3,0.3,7.4,0.8 c0.4,0.1,1,0.2,1.5,0.2c0.8,0,1.5,0.2,2.6,0.3c1.6,0.3,3.4,0.4,4.8,0.7c1.6,0.3,3.4,0.4,5.8,0.6c0.6,0.3,1.6,0.3,3.9,0.4 c0.5,0.1,1.1,0.1,1.7,0.1c0.8,0,1.6,0,3.6,0.1c0.7-0.2,1.5-0.1,2.1,0c1.1,0.3,2.4,0.3,3.9,0.3c1.1-0.1,2.2,0,3.2,0 c-0.6-0.2-1.1-0.4-2.2-0.4c-1.3,0-2.5-0.2-3.8-0.5c0.6-0.2,0.2-0.2-1-0.4c-1.3-0.1-2.4-0.2-3.5-0.4c-0.8-0.1-1.9,0-2.9,0 c-1.8,0.1-3.5-0.1-5.3-0.1c-0.6-0.2-1.7-0.3-2.7-0.3c-0.8-0.4-2.3-0.5-3.1-0.8c-0.5-0.1-1.2-0.3-1.9-0.3c-0.5-0.3-1.6-0.3-2-0.5 c0.5-0.1,1.1,0,2,0c3.2,0,5.9,0.4,8.7,0.6c0.6,0.1,1.1,0.2,1.9,0.1c0,0.1,0.3,0.1,1.2,0.2c0.5,0,1.4-0.2,1.8,0.2 c1.8-0.2,2.1-0.4,1.7-0.9c-0.3-0.3-0.1-0.4,2-0.3c-0.2,0.1-0.6,0.1-1.9,0.3c-0.1,0.2,0.2,0.2,0.6,0.3c0.6,0.1,1.4,0.1,2.1,0.1 c2.2-0.1,4.3,0,6.6-0.2c1.2-0.1,2.2,0.1,3.3,0.2c3.2,0.2,6.5,0.2,9.9,0.2c2,0,4.2,0,6.3,0.1c1.9,0.1,3.7,0.4,5.4,0.7 c0.6,0.2,1.2,0.4,2.5,0.1c0.7,0.2,1.9,0.2,2.9,0.3c1.7-0.2,3.4-0.5,5-0.7c-0.6-0.3-1.5-0.4-2.1-0.7c-0.2-0.1-0.8-0.1-1.2-0.1 c-2.4,0.1-4.3-0.1-6-0.4c-0.6-0.2-1.4-0.3-2.1-0.2c-1.9,0.2-3-0.2-4.2-0.4c-0.9-0.2-1.5-0.4-2.7-0.1c0.7-0.4,0.5-0.6-1.1-0.9 c0.1-0.2,0.4-0.2,0.8-0.3c0.6-0.1,1.2-0.1,1.7,0c1.1,0.1,2.1,0.1,3.3,0.1c0.2,0,0.6,0,1.3,0.1c0.5,0,0.8,0.1,1.1,0.2 c0.6,0.1,1.3,0.1,2.1,0c1-0.3,2-0.3,3-0.2c0.7,0.1,1.9,0.1,2.6-0.1c1.3-0.3,2.6-0.3,3.9-0.3c0.9-0.1,1.8-0.1,2.6,0 c0.9,0.1,1.6,0.3,1.6,0.6c-0.1,0.2,0.2,0.4,0.9,0.4c2.1,0,3.1,0.4,3.7,0.9c2.6-0.3,5.3-0.8,8.5-1.2c0.8-0.1,1.6-0.3,2.4-0.4 c0.7-0.1,1.4-0.2,2.1-0.3c5.5-0.8,11-1.7,16.6-2.5c0-0.2-0.2-0.3-0.4-0.5c-0.1-0.1-0.4-0.2-0.8-0.2c-1.1,0.1-1.7-0.2-2.8-0.2 c-0.3-0.1-0.4-0.2-0.3-0.3c0.2-0.2-0.2-0.4-0.9-0.4c-0.3,0-0.7,0,0.6-0.4c1.1,0.1,2.5-0.1,3.5,0.1c0.5-0.1-0.2-0.3,1.6-0.4 c0.4,0.1,0.8,0.1,2.3-0.3c0.5,0.1,1.2,0,0.9,0.3c-0.2,0.1,0.1,0.2,1.2,0.1c0.2-0.4,0.2-0.4,1.6-0.5c0.5-0.1,0.8-0.1,0.9-0.3v-0.1 h10.5c0.7,0.1,0.8,0.3,0.7,0.5c-0.3,0.4-0.6,0.9-0.9,1.4c-0.1,0.2-0.3,0.3-0.7,0.4c0.1,0.2,0,0.3-0.1,0.5c-0.2,0.2,0,0.4,1.2,0.6 c1.5,0.2,1.5,0.2,1.3,0.6c0.4,0.4,0.4,0.4,1.6,0.4c0.6,0,1,0.1,1.3,0.3c0.4,0.2,0.8,0.4,1.6,0.5c0.6,0,0.7,0.2,2.2,0.5 c1.1-0.2,1.4-0.1,1.7,0.3c0.2,0.3,1,0.4,2,0.4c0.6,0,1.1,0,1.6-0.1c1.5-0.3,3.3-0.3,6.2-0.4c0.5,0.2,0.8,0.4,1.2,0.6 c0.5,0.3,0.9,0.4,1.8,0.3c1.5-0.1,2.8,0.2,4.1,0.3c0.6,0.2,1.1,0.3,1.6,0.1c0.4-0.1,0.7-0.1,2.4,0c0.1-0.1,0.4-0.1,1.7,0 c0,0.3,0.5,0.4,1.1,0.4c0.7,0.1,1.2,0.2,2.4,0.5c0.7,0,1.5,0.1,2.3,0.2c0.8,0.2,1.3-0.1,2-0.1c1.2-0.1,2.4-0.2,3.6-0.3 c2.2-0.2,3.1-0.7,3.2-1.3c0.1-0.6,0.6-0.7,2.7-0.7c1.7,0,3.5,0.1,6.1-0.2c0.6,0.2,1.2,0.2,1.9,0.2c0.6-0.1,1.2-0.1,1.7,0.1 c1.8,0.4,3.2,0.3,4.5-0.1c0.4,0,0.7,0.1,1.5,0.2c-0.4,0.1-0.9,0.1-1.4,0.1c1,0.3,1.8,0.3,2.4,0.1c0.4,0,0.7,0,2,0 c0.6,0,1.1-0.2,1.6-0.3c1.2,0.2,1.4,0.1,2.1-0.4c0.2-0.1,0.1-0.2-1-0.2c-0.4,0.2-0.7,0.1-1.1-0.1c0.6-0.2,0.5-0.4,0.3-0.6 c-0.5-0.5,0.6-1,3.4-0.8c0.6,0.1,1.1,0,1.6-0.1c0.3-0.1,0.7-0.2,1.2-0.2c1,0.2,1.7,0,2.3-0.1c0.4-0.1,0.8-0.2,2.4-0.2 c0.8-0.2,1.8-0.1,3.7,0.2c0.8,0.1,1.2-0.1,1.7-0.2c0.5-0.2,0.8-0.3,0.5-0.5c-0.2-0.2-0.5-0.3-1-0.3c-0.7,0-1.2-0.2-1.5-0.3 c-0.4-0.1-0.3-0.2,0.5-0.3c0.3-0.1,0.6-0.1,1.7-0.3c1-0.1,1.5,0.1,1.3,0.4c-0.2,0.2,0.3,0.5,1.3,0.4c0.7,0,0.8-0.1,0.3-0.3 c-0.3-0.1-0.8-0.2-1-0.4c1.4,0,1.5-0.5,3-0.8c1.2,0.1,2.1,0.3,3.5,0.6c-0.2,0.2,0,0.3,0.7,0.5c-0.1,0.3,0.9,0.6,0.6,0.9 c-0.2,0.1,0.2,0.3,1.5,0.4c1.6,0.1,1.6,0.1,2.2-0.6c0.6-0.2,0.5-0.4-0.5-0.7c-0.7-0.2-0.1-0.7,0.8-0.8c1.2-0.2,2.5-0.2,3.7-0.2 c0.5,0,1,0,1.5,0c0.8-0.1,1.7-0.1,2.7-0.1s1-0.2,2.3-0.3c0.7,0.2,1.2,0.2,1.6,0c0.2-0.2,1-0.1,1.5-0.2c0.6-0.1,1.1,0,1.6,0.1 c1.4,0.4,2.7,0.7,4.9,0.7c1.2,0.2,2.1,0.1,4.2-0.2c0.6,0.3,1.4,0.4,2.2,0.5c0.6,0.1,1.2,0.2,2.7,0.2c0.2,0.2,0.5,0.4,2,0.5 c0.5-0.1,1-0.3,1.8-0.3c1.1,0,1.1-0.2-0.1-0.6c1.3,0,1.3,0.1,1.9,0.4c0.4,0.2,0.5,0.4,0.8,0.6c0.2,0.1,0.6,0.3,1.3,0.4 c0.6,0.2,1.2,0.2,1.7,0.1c0.7-0.2,1.4-0.3,3.3,0c0.7-0.1,1.3-0.1,2,0.1c0.8,0.2,1.5,0.2,3-0.1c1.4,0.1,2-0.3,3.3-0.5 c-0.2-0.3,0.4-0.4,2.2-0.3c0.8-0.1,1.4,0,2.9,0.3c2.2,0,4.5-0.1,6.7-0.1c1.2,0,2.4-0.2,3.7-0.3c0.7,0.1,1.2,0.1,1.7,0.2 c0.8,0.2,1.7,0.4,4,0.6c0.4-0.1,0.2-0.2,0-0.4c-0.1-0.2-0.6-0.4,0-0.5c0.7-0.1,1.4-0.1,2,0.1c0.9,0.3,1.8,0.5,2.4,0.9 c0.7,0.4,1.6,0.6,3,0.6c0.9-0.1,2.3,0,2.3-0.5c1.3,0.3,2.5,0.6,2.6,1c0.1,0.1,0.2,0.3,0.7,0.4c0.6,0,0.9-0.1,1.1-0.2 c0.5-0.2,1.1-0.2,1.8,0c0.7,0.2,1.1,0.4,1.8,0.5c1.2,0.3,2,0.2,2.3-0.2c0.3-0.4,0.7-0.4,1.5-0.1c0.4,0.1,1,0.1,1.5,0.2 c1,0.1,1.7,0.3,2,0.6c0.5,0.4,1.3,0.7,2.7,0.6c0.9,0,1.7,0.4,1.6,0.7c-0.2,0.4-0.1,0.8,0,1.1c0,0.4,0.1,0.8,1.4,1.3 c0.4,1,2.4,1.5,5,1.8c0.5,0,1,0.1,1.1,0.2c0.4,0.5,1.8,0.9,2.7,1.6c0.8-0.1,1.7-0.1,3.2-0.2c1,0,1.8,0,2.4-0.2 c0.6-0.2,1.4-0.2,3.2,0c1.7,0,2.2-0.2,1.6-0.8c-0.6-0.4-0.2-0.5,1.1-0.5c1.9,0.1,3.5,0.3,5,1c0.4-0.1,0.9-0.1,1.6-0.1 c1.2,0.1,1.7-0.1,1.3-0.5c-0.4-0.3-0.4-0.3,0.7-0.4c2-0.2,3.9-0.1,6.6,0c1.1-0.2,2.6-0.2,3.8-0.4c0.8,0,1-0.4,1.3-0.6 c0.4-0.3,1.1-0.5,1.7-0.7c0.5-0.2,1.4-0.2,2.8,0c0,0.1,0.1,0.2,1.5,0.4c0.4-0.1,0.4-0.2,0.5-0.3c0.1-0.3,0.1-0.5,0.8-0.7 c0.4-0.1,1.1-0.1,2.1-0.2c0.5,0.2,1.3,0.3,1.5,0.4c0.5,0.4,1.6,0.7,1.5,1.1c0,0.1,0.2,0.2,0.5,0.3c1.5,0.5,2.5,1.1,3.1,1.8 c0.2,0.1,0.2,0.4,1.1,0.4c0.7,0,0.3-0.3,0.4-0.5c0.1-0.5-0.7-0.9-1.5-1.5c-0.1-0.2-0.3-0.4,1.3-0.3c1.1,0.1,2,0.5,3.2,0.6 c0.4,0.1,0.7,0.1,0.8,0.3c0.2,0.2,0.8,0.4,1.6,0.5c0.7,0.1,1.2,0.2,1,0.4s0.1,0.3,0.9,0.3c1.3,0.1,1.5,0.1,1.5-0.5 c0.4-0.2,0.2-0.4-0.5-0.6c1.1,0,1.5-0.2,1.8-0.7c0.9,0.1,1.3-0.1,1.9-0.2c0.6,0,1.1-0.1,1.9,0c0.9,0.1,1.6,0.3,2.7,0.5 c0.6,0.5,2.2,0.6,3.4,0.8c0.7,0.2,1,0.2,1.3-0.1c0.4-0.2,0.9-0.3,2-0.1c1,0.2,2.1,0.2,3.9,0.1c0.4-0.2,1.1-0.5,1.4-0.8 c0.5-0.4,1.2-0.5,2.7-0.2c1.8,0.3,2.6,0.1,2.6-0.5c0-0.4-0.1-0.9,0-1.4c0.1-0.2-0.3-0.2-0.6-0.4c-0.3-0.3-0.1-0.4,0.6-0.4 c1.4,0.1,2.6,0.2,3.7,0.5c0.3,0.1,0.6,0.2,1,0.3c0.8,0.3,1.2,0.3,1.9,0.1c0.6-0.1,1.4-0.1,2-0.3c0.9-0.1,0.9-0.1,0.3-0.4 c-0.7-0.2-1-0.5-1.3-0.8c-0.2-0.3-0.1-0.5,0.7-0.6c0.5-0.1,1.1-0.1,1-0.6c0.5,0.2,1.1,0.2,1.6,0.4c0.9,0.3,2.1,0.3,3.4-0.2 c0-0.1,0.3-0.2,0.6-0.3c0,0,0.1,0,1.5,0c0.1,0,0.3-0.1,0.4-0.3c1.1,0,2-0.1,3.1-0.6c1.1-0.2,2.4-0.2,3.8-0.3c1.3,0.2,2.5,0,3.7,0 c1.1-0.1,2.3,0.1,4.3,0.3c0.5,0.2,1,0.2,1.5,0.1c0.6-0.1,0.9-0.2,0.9-0.4c0.1-0.5,0.2-0.6,1.7-0.6c1.2,0,2.5,0,3.6-0.2 c0.7-0.2,1.5,0,2.3,0.1c0.2,0.2,0.7,0.3,1.2,0.3c1.3,0,2.3,0.1,3.3,0.4c0.8,0.1,1.2,0.2,1.3,0.2c0.8,0,1.6,0,2.4,0.1 c1,0.1,2.1,0.2,3.2,0.1c1.5,0,2.5-0.2,3.2-0.6c0.6-0.3,1.9-0.4,4.3-0.5c0.6,0.1,1.1,0.1,1.4-0.1c0.5-0.2,1.2-0.1,1.9-0.2 c1.3-0.1,1.5-0.1,1.2-0.6c-0.2-0.3,0.4-0.4,1.1-0.5c1.4-0.2,1.6-0.5,1.8-1.2c-0.5-0.4,0.3-0.8,1.5-0.8s2.4,0.1,4.5,0.1 c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1,0L723.3-3H723H0z M98.9,30.7v-0.2C99,30.5,98.9,30.6,98.9,30.7z M111.2,32.7 c0-0.1,0.1-0.1,0.2-0.1C111.3,32.6,111.2,32.7,111.2,32.7z M164.7,31.2c0.1-0.1,0.1-0.1,0-0.2c0.1,0,0.2,0,0.2,0.1 C164.9,31.1,164.8,31.1,164.7,31.2z M171.8,30.9c-0.2,0-0.3-0.1-0.5-0.1C171.5,30.8,171.6,30.8,171.8,30.9c0.1-0.1,0.2,0,0.2,0 C171.9,30.9,171.9,30.9,171.8,30.9z M180.6,36c-0.2,0-0.5,0-0.6,0c0.4,0,0.6-0.1,0.7-0.2C180.7,35.8,180.7,35.9,180.6,36z M182.6,33c-0.1-0.1-0.3-0.1-0.1-0.2c0.1-0.1,0.3-0.1,0.6-0.1C182.7,32.8,182.6,32.9,182.6,33z M194.2,33.2c-0.1,0-0.2,0-0.3,0 c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2-0.1c0,0,0.1,0,0.1,0s0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0 c0.1,0,0.2-0.1,0.2-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0C194.4,33.1,194.4,33.1,194.2,33.2z M209,30.1c0.1,0,0.2,0,0.3,0.1 C209.2,30.2,209.1,30.2,209,30.1z M214.4,30.2c0.5,0,0.6,0,0.6,0.2C214.9,30.3,214.7,30.3,214.4,30.2z M230.5,32.5 c0.4,0,0.7,0,1,0.1C231.2,32.6,230.9,32.5,230.5,32.5z M243.8,30c0.1,0.1,0.2,0.1,0.2,0.1C243.9,30.1,243.8,30.1,243.8,30z M247.5,30.1c0.2-0.1,0.3-0.1,0.3-0.1C247.7,30.1,247.6,30.1,247.5,30.1z M257.5,29.1c0,0,0.1,0,0.2,0c0,0,0,0.1,0,0.1 C257.5,29.1,257.5,29.1,257.5,29.1z M274.6,29L274.6,29c-0.1,0-0.1,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0,0,0 C274.6,28.9,274.6,29,274.6,29C274.6,29,274.6,29,274.6,29z M276.8,29.1c-0.1,0.1-0.3,0.1-0.5,0.1c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0 c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.1,0,0.2-0.1c0.1,0,0.2-0.1,0.3-0.1h0.1C276.9,29,276.8,29,276.8,29.1 C276.8,29.1,276.8,29.1,276.8,29.1z M277.1,30.7C277.1,30.7,277,30.7,277.1,30.7C277,30.7,277,30.7,277.1,30.7c-0.2,0-0.3,0-0.3,0 c0.1-0.1,0.1-0.1,0.2-0.1c0,0,0,0,0,0C277,30.6,277,30.7,277.1,30.7L277.1,30.7z M323.9,28c0,0,0.1-0.1,0.2,0H323.9z M341,27.8 c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2-0.1-0.3-0.1L341,27.8L341,27.8C341,27.7,341,27.7,341,27.8z M383.3,33.3c-0.3,0-0.5,0-0.8,0 c0.4,0,0.7,0,1-0.1C383.4,33.2,383.4,33.3,383.3,33.3z M432.9,29.1c-0.3-0.1-0.2-0.2-0.3-0.2c0.2,0,0.3,0.1,0.5,0.1 c0.1,0,0.2,0,0.3,0.1H432.9z M606,33.7c0.2,0,0.4,0,0.5,0.1C606.3,33.7,606.2,33.7,606,33.7z M607.8,31.3c0,0,0.1-0.1,0.2-0.1 C608,31.3,607.8,31.3,607.8,31.3z M660.1,31.6c-0.2,0-0.4,0-0.4-0.1h0c0.1,0,0.2,0,0.2,0h0c0.1,0,0.3,0,0.4,0 C660.3,31.6,660.3,31.6,660.1,31.6z'/%3e%3c/g%3e%3c/svg%3e ");
    height: 30px;
    z-index: 10;
    font-size: 30px;
    transform: rotate(180deg);
    width: 4000px;
    position: absolute;
    bottom: -2px;
    left: 0px;
  }
}

.title-font(){
  font-family: 'Lalezar', cursive;
}