// Mixins.
.make-hidden() {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    word-wrap: normal;
}

.make-border-radius (@borderradius: 5px) {
    -webkit-border-radius: @borderradius;
    border-radius: @borderradius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.make-opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.make-saturation (@degree: 0deg, @level: 0) {
    -webkit-filter: hue-rotate(@degree) saturate(@level);
    filter: hue-rotate(@degree) saturate(@level);
}

// Variables.
@animal-1: red;
@animal-2: green;
@animal-3: blue;
@animal-4: brown;
@animal-5: olive;
@animal-6: orange;
.recommended-plan,
.modal-body {
    .visit-date-wrapper {
        display: none !important;
    }
}

// Plan your visit.
.node-391,
.node-1351 {
    .modal-title,
    .visit-date {
        display: none;
    }
}

.node-visit-plan-form {
    .row(); // Reset.
    .radio,
    .checkbox,
    .radio+.radio,
    .checkbox+.checkbox,
    .radio label,
    .checkbox label,
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"],
    input[type="radio"],
    input[type="checkbox"] {
        position: relative;
        margin: 0;
        padding: 0;
    } // Labels.
    span.fieldset-legend,
    .field--name-title label {
        color: @mid-gray;
        text-transform: uppercase;
        font-size: 44px;
        font-weight: normal;
        font-family: 'Cross-Town';
    }
    div.form-wrapper {
        .clearfix();
        margin-bottom: 0;
        padding: 90px 0 20px 0;
        color: @mid-gray;
        &#edit-group-mobile-suggested-tickets {
            display: none;
        }
        >fieldset {
            display: block;
            .container();
        }
        legend {
            border: 0 none;
        }
        &.field--name-field-visit-date,
        &.field--name-field-plan,
        &.field--name-title,
        &.form-actions {
            padding-top: 40px;
        }
    }
    #edit-footer {
        .make-hidden();
    }
    label {
        display: inline-block;
        position: relative;
        input {
            .make-hidden();
            &:checked~.fancy-input {
                &:after {
                    display: block;
                }
            }
        }
        .fancy-input {
            position: relative;
            height: 20px;
            width: 20px;
            background-color: #eee;
            display: block;
            margin: 15px auto 0 auto;
            border: 1px solid #ddd;
            .make-border-radius(50%);
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 4px;
                width: 10px;
                height: 10px;
                background: #fdb634;
                .make-border-radius(50%);
            }
        }
    }
    .custom-plan-hidden {
        .make-hidden();
    }
    .field--name-title>*,
    .form-actions {
        display: block;
        .container();
        padding-left: 10px !important;
        padding-right: 10px !important;
    } // Choose your day.
    .field--name-field-visit-date {
        margin-bottom: 60px;
        label {
            color: @mid-gray;
            text-transform: uppercase;
            font-size: 44px;
            font-weight: normal;
            font-family: 'Cross-Town';
            &:after {
                display: none;
            }
            .help-block {
                @media(max-width: @screen-xs-max) {
                    padding-bottom: 30px;
                    width: 100%;
                    float: none !important;
                    margin: 0 auto;
                    text-align: center;
                }
                .ajax-throbber {
                    float: left;
                }
            }
        }
        >* {
            display: block;
            .container();
        }
        input {
            border: 1px solid @mid-gray;
            border-radius: 0;
            width: 200px;
            max-width: 100%;
        }
        #edit-field-visit-date-0-value {
            label {
                display: none !important;
            }
        }
    } // Recommended plans.
    #edit-field-plan {
        display: flex;
        flex-wrap: wrap;
        .form-item {
            label {
                &[for="edit-field-plan-none"] {
                    background-image: url(../images/square.png);
                    opacity: .7;
                    background-repeat: no-repeat;
                    background-size: 102%;
                    &.plan-selected,
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        label {
            img {
                opacity: .7;
            }
            &.plan-selected,
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }
    #edit-field-plan,
    #edit-field-what-s-new,
    #edit-field-animal .animals-slider .slick-list {
        .row();
        .form-item {
            .make-xs-column(6);
            .make-sm-column(4);
            .make-md-column(3);
            margin-bottom: 20px;
            @media(max-width: 500px) {
                width: 100% !important;
            }
            input[name="field_plan"] {
                .make-hidden();
            }
            .visit-date,
            .event-date {
                .make-hidden();
            }
            .views-field-title {
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 20px;
            }
            label {
                padding-top: 0;
                &[for="edit-field-plan-none"] {
                    position: relative;
                    width: 100%;
                    background-color: @blue;
                    text-align: center;
                    font-size: 40px;
                    font-weight: normal;
                    font-family: 'Cross-Town';
                    color: @white;
                    padding: 25px 15px 0 15px;
                    vertical-align: top;
                    &:before {
                        content: "\f067";
                        font: normal normal normal 24px/1 FontAwesome;
                        display: block;
                        border: 2px solid @white;
                        padding: 7px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        margin: 0 auto 10px auto;
                        font-weight: bold;
                    }
                    @media(max-width: @screen-md-max) {
                        font-size: 32px;
                    }
                    @media(max-width: @screen-sm-max) {
                        font-size: 35px;
                        padding: 25px 15px 0 15px;
                        &:before {
                            font-size: 14px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    @media(max-width: @screen-xs-max) {
                        &:before {
                            font-size: 36px;
                            width: 50px;
                            height: 50px;
                        }
                    }
                    @media(max-width: 500px) {
                        font-size: 40px;
                        &:before {
                            font-size: 26px;
                            width: 40px;
                            height: 40px;
                            top: 50%;
                            left: 50%;
                            position: absolute;
                            transform: translate(-50%, 0);
                        }
                    }
                    @media(max-width: @screen-xs) {
                        &:before {
                            font-size: 14px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .views-field {
                    margin-top: 0;
                    text-align: center;
                    display: block;
                    font-size: 20px;
                    &.views-field-nothing {
                        a {
                            color: @gray;
                            font-size: 16px;
                            &::before {
                                content: '\f05a';
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                color: @gray;
                                margin-right: 5px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    } // Attractions.
    #edit-field-attraction-wrapper {
        background-color: @dark-gray;
        .set-separtor-top(@white);
        padding-bottom: 90px;
        .set-separtor-bottom(@white);
        background-image: url(../images/attraction-bottom.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 50% auto;
        @media(max-width: @screen-xs-max) {
            background-size: contain !important;
        }
        span.fieldset-legend {
            color: @white;
        }
        #edit-field-attraction {
            .row;
            .form-item {
                width: 25%;
                float: left;
                margin-bottom: 20px;
                margin: 0px;
                padding: 0 10px;
                text-align: center;
                @media(max-width: @screen-sm-max) {
                    width: 33.33%;
                }
                @media(max-width: @screen-xs-max) {
                    width: 50%;
                }
                label {
                    padding: 0px;
                    >span {
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        &.attraction-icon {
                            .make-saturation(0deg, 0);
                        }
                        &.views-field-title {
                            .make-saturation(0deg, 0);
                            text-transform: uppercase;
                            font-size: 35px;
                            font-weight: normal;
                            font-family: 'Cross-Town';
                            color: #c9c9c9;
                            margin-top: 15px;
                            @media(max-width: @screen-xs-max) {
                                font-size: 25px;
                            }
                        }
                        &.fancy-input {
                            background-color: transparent;
                            border-color: #5c5a65;
                        }
                    }
                    input:checked {
                        &~.attraction-icon,
                        &~.views-field-title {
                            .make-saturation(0deg, 1);
                        }
                    }
                    &.attraction-selected,
                    &:hover {
                        background: transparent;
                        .attraction-icon,
                        .views-field-title {
                            .make-saturation(0deg, 1);
                        }
                    }
                }
                &:nth-child(1) {
                    input:checked~.views-field-title,
                    label:hover .views-field-title {
                        color: #C8DB65;
                    }
                    .fancy-input {
                        &:after {
                            background: #C8DB65;
                        }
                    }
                }
                &:nth-child(2) {
                    input:checked~.views-field-title,
                    label:hover .views-field-title {
                        color: #4BC9D7;
                    }
                    .fancy-input {
                        &:after {
                            background: #4BC9D7;
                        }
                    }
                }
            }
        }
    } // Animals.
    #edit-field-animal-wrapper {
        /*    .set-separtor-top(@dark-gray);*/
        padding: 20px 0;
        .animals-filters-container {
            width: 100%;
            margin-bottom: 15px;
            @media(max-width: @screen-xs-max) {
                .clearfix();
            }
            .tablinks {
                text-transform: uppercase;
                font-size: 28px;
                display: inline-block;
                padding: 5px 20px;
                margin: 0 10px 10px 10px;
                cursor: pointer;
                font-weight: bold;
                text-align: center;
                .make-border-radius(50px);
                @media(max-width: @screen-md-max) {
                    font-size: 20px;
                }
                @media(max-width: @screen-sm-max) {
                    font-size: 18px;
                    padding: 5px 12px;
                    margin: 0 5px 10px 5px;
                }
                @media(max-width: @screen-xs-max) {
                    .make-xs-column(4);
                    margin: 0 0 10px 0;
                }
                @media(max-width: @screen-xs) {
                    .make-xs-column(6);
                }
                &.filter-active,
                &:hover {
                    color: @white;
                    background: #fdb634;
                    &.animal-1 {
                        background: @animal-1;
                    }
                    &.animal-2 {
                        background: @animal-2;
                    }
                    &.animal-3 {
                        background: @animal-3;
                    }
                    &.animal-4 {
                        background: @animal-4;
                    }
                    &.animal-5 {
                        background: @animal-5;
                    }
                    &.animal-6 {
                        background: @animal-6;
                    }
                }
            }
        }
        #edit-field-animal {
            position: relative;
            overflow: hidden;
            &,
            & .animals-slider {
                height: 670px;
                @media(max-width: @screen-md-max) {
                    height: 590px;
                }
                @media(max-width: @screen-sm-max) {
                    height: 610px;
                }
                @media(max-width: @screen-xs-max) {
                    height: auto;
                    min-height: 750px;
                }
                @media(max-width: @screen-xs) {
                    height: auto;
                    min-height: 500px;
                }
            }
            .animals-slider {
                position: absolute;
                width: 100%;
                background-color: @white;
                z-index: 1;
                .slick-slide {
                    .form-item {
                        margin-bottom: 5px;
                    }
                    label {
                        .fancy-input {
                            margin: 0 auto 25px auto;
                        }
                    }
                }
                .slick-dots {
                    bottom: 0;
                    li.slick-active button:before {
                        opacity: 1;
                    }
                    li button {
                        &:hover:before {
                            opacity: 1;
                        }
                    }
                }
                &.slider-hidden {
                    z-index: 0;
                }
                &.animal-1 {
                    .fancy-input {
                        &:after {
                            background: @animal-1;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-1;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-1;
                        }
                    }
                }
                &.animal-2 {
                    .fancy-input {
                        &:after {
                            background: @animal-2;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-2;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-2;
                        }
                    }
                }
                &.animal-3 {
                    .fancy-input {
                        &:after {
                            background: @animal-3;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-3;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-3;
                        }
                    }
                }
                &.animal-4 {
                    .fancy-input {
                        &:after {
                            background: @animal-4;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-4;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-4;
                        }
                    }
                }
                &.animal-5 {
                    .fancy-input {
                        &:after {
                            background: @animal-5;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-5;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-5;
                        }
                    }
                }
                &.animal-6 {
                    .fancy-input {
                        &:after {
                            background: @animal-6;
                        }
                    }
                    .slick-dots li.slick-active button:before {
                        color: @animal-6;
                    }
                    .slick-dots li button {
                        &:hover:before {
                            color: @animal-6;
                        }
                    }
                }
            }
        }
    } // Experiences.
    #edit-field-experience-reference-wrapper {
        background-color: @pink;
        .set-separtor-top(@white);
        span.fieldset-legend {
            color: @white;
        }
        #edit-field-experience-reference {
            .row();
            .form-item {
                .make-sm-column(6);
                label {
                    width: 100%;
                    @media(min-width: @screen-md) {
                        width: 90%;
                    }
                    font-size: 20px;
                    padding: 5px 15px;
                    margin-bottom: 5px;
                    &:hover,
                    &.experience-selected {
                        background-color: #f4695a;
                        border-radius: 10px;
                        .views-field-field-icon {
                            .make-opacity(1);
                            .make-saturation(0deg, 1);
                        }
                        .views-field-title {
                            color: @white;
                        }
                    }
                    input:checked {
                        &~.views-field-field-icon {
                            .make-opacity(1);
                            .make-saturation(0deg, 1);
                        }
                        &~.views-field-title {
                            color: @white;
                        }
                    }
                    >span {
                        float: left;
                        &.views-field-field-icon {
                            .make-opacity(0.6);
                            .make-saturation(0deg, 0);
                            margin-right: 20px;
                        }
                        &.views-field-title {
                            line-height: 40px;
                            color: #f78f83;
                            font-weight: bold;
                        }
                        &.fancy-input {
                            top: -7px;
                            background: #cb4436;
                            border-color: #f4695a;
                        }
                    }
                }
            }
        }
    } // What's new.
    #edit-field-what-s-new-wrapper {
        background-color: @dark-brown;
        .set-separtor-top(@pink);
        #edit-field-what-s-new {
            /*display: flex;*/
            .empty-events {
                .make-xs-column(12);
                .make-sm-column(12);
                color: @white;
            }
        }
        span.fieldset-legend {
            color: @white;
        }
        .slick-track {
            /*display: flex;*/
        }
        .slick-slider {
            margin-bottom: 20px;
        }
        .slick-dots {
            bottom: -20px;
        }
        .form-item {
            position: relative;
            /*display: flex;*/
            label {
                padding-bottom: 40px;
                input:checked {
                    &~.views-field-title,
                    .views-field-title {
                        color: @white;
                    }
                }
                &:hover {
                    &~.views-field-title,
                    .views-field-title {
                        color: @white;
                    }
                }
                >span {
                    display: block;
                    margin-top: 0;
                    margin-bottom: 0;
                    &.views-field-title {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        color: #a87d8a;
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                    &.fancy-input {
                        background: #49262f;
                        border-color: #a87d8a;
                        position: absolute;
                        bottom: 10px;
                        left: 46%;
                    }
                }
            }
        }
    }
    .plan-visit-note {
        font-size: 16px;
        font-style: italic;
        text-align: center;
        &.red-bk {
            background: #e95647;
            color: white;
        }
    }
   
}


/*Node page*/

.modal-body {
    .container {
        width: 100%;
    }
}

//modal
.modal-body {
    .page-node-type-visit-plan {
        .field--name-field-attraction {
            .field--items {
                >.field--item {
                    width: 50%;
                    @media(max-width: @screen-sm-max) {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.page-node-type-visit-plan {
    &.visit-plan-model {
        .field--name-field-attraction {
            .field--items {
                >.field--item {
                    width: 50%;
                    @media(max-width: @screen-sm-max) {
                        width: 50%;
                    }
                }
            }
        }
    }
    .lh-row-1,
    .lh-row-2 {
        margin: 0;
    }
    .lh-row-2 {
        background-color: @dark-gray;
        .set-separtor-top(@white);
        padding-top: 90px;
        padding-bottom: 90px;
        .set-separtor-bottom(@white);
        background-image: url(../images/attraction-bottom.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 50% auto;
        @media(max-width: @screen-xs-max) {
            background-size: contain !important;
        }
    }
    .lh-row-7 {
        padding: 25px 0;
        background-color: @pink;
        .set-separtor-top(@white);
        padding-top: 90px;
    }
    .lh-row-9 {
        padding: 25px 0;
        background-color: @dark-brown;
        .set-separtor-top(@pink);
        padding-top: 90px;
        h4 {
            color: @white;
            text-align: center;
        }
    }
    .field--label,
    .visit-label {
        text-transform: uppercase;
        font-size: 44px;
        font-weight: normal;
        font-family: 'Cross-Town';
        margin-bottom: 15px;
        color: @gray;
    }
    .field--name-field-attraction,
    .field--name-field-animal,
    .field--name-field-what-s-new {
        .field--label {
            color: @white;
        }
        .field--name-node-title {
            text-align: center;
            font-weight: normal;
            margin-top: 15px;
            h4 {
                font-size: 20px;
                float: none;
            }
        }
        .field--items {
            .row;
            display: flex;
            flex-wrap: wrap;
            >.field--item {
                width: 25%;
                float: left;
                margin: 0px;
                margin-bottom: 20px;
                padding: 0 10px;
                text-align: center;
                @media(max-width: @screen-sm-max) {
                    width: 33.33%;
                }
                @media(max-width: @screen-xs-max) {
                    width: 50%;
                }
            }
        }
    }
    .field--name-field-animal {
        .field--label {
            color: @gray;
        }
    }
    .field--name-field-experience-reference {
        .field--label {
            color: @white;
        }
        .field--items {
            .row;
            display: flex;
            flex-wrap: wrap;
            >.field--item {
                width: 50%;
                float: left;
                margin: 0px;
                margin-bottom: 20px;
                padding: 0 10px;
            }
        }
    }
    .field--name-field-attraction {
        .field--name-node-title {
            text-transform: uppercase;
            font-family: 'Cross-Town';
            margin-top: 15px;
            h4 {
                font-size: 35px;
            }
            @media(max-width: @screen-xs-max) {
                h4 {
                    font-size: 25px;
                }
            }
        }
        .field--items {
            >.field--item {
                &:nth-child(1) {
                    .field--name-node-title {
                        color: #C8DB65;
                    }
                }
                &:nth-child(2) {
                    .field--name-node-title {
                        color: #4BC9D7;
                    }
                }
            }
        }
    }
    .visit-item-wrapper {
        &.visit-date-wrapper {
            float: right;
            padding-top: 20px;
            font-weight: bold;
            .visit-date,
            .date-label {
                display: inline-block;
            }
        }
    }
    .lh-row-1 {
        .field--name-field-plan-image {
            width: 25%;
            padding-right: 20px;
            float: left;
            @media(max-width: @screen-sm-max) {
                width: 33.33%;
            }
            @media(max-width: @screen-xs-max) {
                width: 50%;
            }
        }
        .field--name-node-title,
        .field--name-field-plan-details {
            float: left;
            width: 75%;
        }
        .field--name-node-title {
            @media(max-width: @screen-sm-max) {
                width: 66.66%;
            }
            @media(max-width: @screen-xs-max) {
                width: 50%;
            }
        }
        .field--name-field-plan-details {
            @media(max-width: @screen-sm-max) {
                width: 66.66%;
            }
            @media(max-width: @screen-xs-max) {
                width: 100%;
                float: none;
                clear: both;
            }
        }
    }
}

//Do &Don't
.do-dont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .do-dont-left {
        border-right: 2px solid @light-gray;
    }
    .modal-header {
        boder-bottom: 0;
        width: 100%;
        text-align: center;
        button {
            float: none;
            padding: 20px;
            color: @white;
            background-color: @red;
            font-size: 30px;
            opacity: 1;
            width: 50%;
            border-radius: 10px;
            &::after {
                display: none;
            }
        }
    }
}

.node--type-visit-plan {
    &.node--view-mode-full {
        margin-bottom: 0;
    }
}

@media(max-width: 767px) {
    .do-dont {
        .do-dont-left {
            border-right: 0;
        }
    }
}

@media(max-width: 500px) {
    .page-node-type-visit-plan {
        .visit-label-date {
            padding-top: 20px;
            margin-bottom: 0;
        }
        .visit-item-wrapper {
            &.visit-date-wrapper {
                float: none !important;
                padding-top: 20px;
                padding-bottom: 0px;
            }
        }
    }
}

// Authenticated users plan visit edit/delete forms.
body.page-node-type-visit-plan.page-not-published {
    .region-header {
        nav.tabs {
            display: none;
        }
    }
    .node-visit-plan-delete-form.confirmation {
        margin-bottom: 30px;
        .container;
        h3,
        ul {
            display: none;
        }
        button {
            &:hover,
            &:focus {
                color: @white;
                background-color: @red;
            }
        }
        a.button {
            .btn;
            color: #FFF;
            background-color: #565560;
            border: 0;
            font-size: 15px;
            margin: 20px 20px 0;
            padding: 13px 37px;
            border-radius: 5px;
            &:hover,
            &:focus {
                color: @white;
                background: @dark-green;
            }
        }
    }
}

.visit-duration-wrapper,
.suggested-tickets-wrapper,
.cke_editable {
    table {
        font-size: 16px;
        background-color: @table-bg;
        width: 100%;
        max-width: 100%;
        margin-bottom: @line-height-computed;
        tr {
            &:nth-child(odd) {
                background: #f2f3e1;
            }
            &:nth-child(even) {
                background: #eaeadc;
            }
        }
        td {
            padding: 12px !important;
            &:nth-child(1) {
                font-weight: bold;
                color: #7e8b56;
                text-align: center;
            }
            &:nth-child(2) {
                font-weight: bold;
                color: #808080;
            }
            &:nth-child(3) {
                color: #808080;
            }
        }
    }
}

.visit-duration-wrapper {
    table {
        margin-bottom: 0;
        tr {
            &:nth-child(odd) {
                background: #eaeadc;
            }
        }
        td {
            color: #808080 !important;
            font-weight: bold;
        }
    }
}

.visit-duration-wrapper {
    font-size: 16px;
    &.visit-item-wrapper {
        background: #eaeadc;
        color: #808080 !important;
        font-weight: bold;
        padding: 12px !important;
        text-align: center;
        margin-bottom: 0;
        clear: both;
        overflow: hidden;
        >div {
            display: inline-block;
        }
    }
}

.suggested-tickets-wrapper.visit-ticket-item {
    table,
    .table-responsive {
        margin-bottom: 0 !important;
    }
}

@color_1: #fff;
@color_2: #535252;
@color_3: #796C55;
@font_family_1: FontAwesome;
@font_family_2: 'Cross-Town';
@background_color_1: #E95646;
@background_color_2: #34333B;
@background_color_3: #8F8E9C;