.page-node-type-visitor-services {
  .lh-row-6 {
    .row;
  }
  
  .field--name-field-image {
    margin-top: 20px;
  }
  
  .field--name-node-title {
    h2 {
      font-size: 60px;
      margin: 30px 0;
      font-family: "Cross-Town";
      a {
        color: @gray;
        position: relative;
        bottom: -5px;
      }
    }
  }

  .field--name-body {
    margin-bottom: 40px;
    padding-right: 30px;
  }
  
  .field--name-view-on-map {
    margin-left: 0;
    margin-right: 0;
  }
  
  .field--name-field-text, .field--name-field-phone,
  .field--name-field-email, .field--name-field-number {
    margin-bottom: 20px;
    .field--label {
      min-width: 110px;
    }
    .field--item {
      padding: 0;
    }
  }
}
.node--type-visitor-services {
  position: relative;
  margin-bottom: 40px;
  .field--name-node-title {
    h2 {
      font-size: 60px;
      margin: 30px 0;
      font-family: "Cross-Town";
      a {
        color: @gray;
        position: relative;
        bottom: -5px;
      }
    }
  }

  .field--name-body {
    width:  calc(~"100% - 170px");
  }

  .field--name-node-link {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
      color: @white;
      padding: 0px 40px;
      display: inline-block;
      min-width: 150px;
      text-align: center;
      position: relative;
      line-height: 50px;
      z-index: 2;
    }

    &:after {
      font-family: "alainzoo";
      content: "\e901";
      font-size: 50px;
      line-height: 50px;
      position: absolute;
      left: 0px;
      top: 0px;
      color: @red;
    }
  }
}

@media(max-width: 767px) {
  .node--type-visitor-services {
    .field--name-body {
      width:  100%;
    }

    .field--name-node-link {
      position: relative;
      text-align: right;
      &:after {
        right: 0;
        left: auto;
      }
    }
  }
  .page-node-type-visitor-services {
    .field--name-body {
      padding: 0;
    }
  }
}