.block-socialfeed {
    float: left;
    display: inline-block;
    margin-bottom: 30px;
    min-height: 325px;
    width: 50%;
    background-image: url(../images/socail.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 70px 70px 50px;  
    @media (max-width:992px) {
      padding: 70px 40px 70px 30px;
    }
    @media (max-width:767px) {
      padding: 70px 70px 70px 50px;
      width: 100%;
    }
    @media (max-width:567px) {
      padding: 70px 30px 70px 25px;
      width: 100%;
    }
    ul {
      list-style: none;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0px;
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        background-size: contain;
      }
       li {
         display: flex;
         flex-direction: column;
       }
     }
  &.block-instagram-post-block {
    width: 100%;
    float: none;
    background-image:none;
    padding: 25px;
    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        flex: 24%;
        margin: 5px 10px;
        margin-left: 0;
        position: relative;

        img {
          margin: 0px;
          height: 260px;
          object-fit: cover;
        }

      &:hover {
        &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.37);
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          background-image: url(../images/instagram-white.svg);
          background-size: 50px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      @media (max-width:767px) {
        flex: 40%;
        img {
          object-fit: fill;
        }
      }
      @media (max-width:567px) {
        flex: 100%;
        img {
          height: auto;
          object-fit: fill;
        }
      }
      }
    }
    @media (max-width:767px) {
      padding: 0;
    }
  }   
  &.block-twitter-post-block {
    ul {
      &::after {
        background-image: url(../images/twitter.svg);
      }
    }
    .tw-username{
      color: @blue;
      font-size: 20px;
      padding-top: 5px;
      order: 1;
    }

    .tw-date {
      font-size: 16px;
      color: #C2C0C1;
      order: 2;
    }

    .tw-tweet {
      order: 3;
      clear: both;
      text-align: center;
      color: #878787;
      margin-top: 20px;
      a {
        color: @blue;
      }
    }
  }
}