@seeds: #74a333;
@white: #FFF;

@light-gray: #EDEDED;
@mid-gray: #79788e;
@yellow: #F8A501;
@breadcrumb-yellow: #F9DD00;

// Guideline: 
// Background colors
@red: #E95646;
@dark-red: #D13431;

@dark-green: #789048;
@green: #b4c90f;
@light-green: #c7d86e;

@dark-blue: #203359;
@blue: #4dafc0;
@light-blue: #a4d7db;

@gray: #565560;
@dark-gray: #413e49;
@warm-gray: #796C55;

@orange: #EEA701;
@dark-orange: #BF6718;

@light-brown: #DAC293;
@brown: #81522E;
@dark-brown: #633341;

@beige: #EFEFD7;

@purple: #803C8F;
@dark-purple: #43255E;
@pink: #e95647;

// Text color
@text-body: #535252;
