.popover.tour {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  .popover-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 14px;
    background: @white;
  }

  .popover-navigation {
    img {
      width: 100%;
    }

    .btn, .btn-default {
      border: 0;
      
      &:active, &:focus{
        outline: none;
      }
    }

    *[data-role="end"] {
      color: @blue;
      text-decoration: underline;
      float: left;
      background: @white;
    }

    *[data-role="prev"], *[data-role="next"] {
      color: @white;
      position: relative;
      background: transparent;
      padding: 6px;
      font-size: 16px;
      font-weight: bold;
      width: 110px;

      &:after{
        font-family: "alainzoo";
        content: "\e901";
        font-size: 34px;
        left: 0px;
        bottom: 0px;
        line-height: 34px;
        position: absolute;
        color: @gray;
        z-index: -1;
      }
    }

    *[data-role="next"] {
      &:after{
        color: @blue;
      }
    }

    .disabled{
      opacity: 0.2;
    }

    span {
      display: none;
    }
  }
}