//Event
.page-node-type-events {
  .lh-row-1 {
    position: relative;
  }

  .lh-row-4 {
    .row;
  }

  .field--name-field-image-2 {
    .set-separtor-bottom (@white);
  }

  .field--name-dynamic-block-fieldnode-suggested-events {
    .field--label {
      font-size: 60px;
      font-family: Cross-Town;
      font-weight: normal;
      color: @gray;
    }
  }

  .field--name-node-title {
    h2 {
      font-family: "Cross-Town";
      font-size: 60px;
      color: @gray;    
    }
  }

  .field--name-view-on-map {
    margin-left: 0;
    margin-right: 0;
    float: right;
  }

  .field--name-body {
    margin-bottom: 40px;
  }
}

.time-date-wrapper {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  color: @white;
  @media(min-width: 768px) {
    text-align: right;
  }

  .extra-field-date {
    margin-bottom: 15px;
    .date-time-wrapper {
      background-color: @red;
      padding: 10px 10px 10px 50px;
      border-radius: 10px;
      text-align: center;
      font-size: 22px;
      position: relative;
      @media(min-width: 768px) {
        width: auto;
        display: inline-block;
      }
      .day {
        &:first-child {
          &:before {
            content: '\f073';
            font: normal normal normal 35px/1 FontAwesome;
            position: absolute;
            left: 8px;
            top: 24px;
          }
        }
      }
    }
  }

  .extra-field-time {
    .time-wrapper {
      background-color: @gray;
      padding: 20px;
      border-radius: 10px;
      @media(min-width: 768px) {
        width: auto;
        display: inline-block;
      }
      .time {
        position: relative;
        padding-left: 40px;
        &:before {
          content: '\f017';
          font: normal normal normal 35px/1 FontAwesome;
          position: absolute;
          left: 0;
          top: -5px;
        }
      }
    }
  }
}

.node--type-events {
  &.node--view-mode-front {
    .field--name-field-image {
      margin-bottom: 20px;
    }

    .field--name-node-title {
      width: calc(~"100% - 123px");
      float: right;
      h2 {
        margin: 10px 0;
        text-align: initial;
        margin-left: 20px;
        line-height: 26px;
        a {
          color: @brown;
          font-size: 20px;
        }
      }
    }

    .extra-field-date-time {
      width: calc(~"100% - 123px");
      float: right;
      .extra-field-date-time-wrapper {
        margin: 0 0 10px 20px;
        text-align: initial;
        font-size: 14px;
        line-height: 20px;
        color: #818181;
        font-weight: bold;
      }
      .extra-field-date-time-value {
        display: block;
        width: 100%;
      }
    }

    .extra-field-date {
      position: relative;
      background-image: url(../images/events-date.svg);
      background-size: contain;
      background-repeat: no-repeat;
      color: @white;
      text-align: center;
      width: 123px;
      height: 132px;
      float: left;
      padding: 10px;
      .day {
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
      }
      .month {
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
      }
      .year {
        font-size: 20px;
        line-height: 24px
      }
    }

  }

  &.node--view-mode-teaser {
    .top-wrapper {
      position: relative;
    }

    .field--name-field-image-2 {
      .set-separtor-bottom (@white);
    }

    .field--name-node-title {
      h2 {
        font-family: "Cross-Town";
        font-size: 60px;
        a {
          color: @warm-gray;
        }
      }
    }

    .field--name-view-on-map {
      margin-left: 0;
      margin-right: 0;
      float: right;
    }

    .field--name-body {
      margin-bottom: 20px;
    }
  }
}

//What's New View
.view-display-id-front_events .slick--view--events {
  .slick-list {
    margin: 0 80px;
    .slick__slide {
      padding: 0 15px;
    }
  }

  .slick__slide {    
    &:first-child:nth-last-child(1) {
      width: 33.333%;
      padding: 0 10px;
    }
  }

  .slick__arrow {
    top: 35%;

    .slick-arrow {
      width: 45px;
      height: 49px;
      border-radius: 10px;
      border: solid 3px #dadac1;

      &:before {
        font-weight: normal;
        color: @dark-green;
      }

      &.slick-prev {
        left: 20px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &.slick-next {
        right: 20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .slick-dots {
    li {
      button {
        &:before {
          color: #dadac1;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          &:before {
            color: @dark-green;
            opacity: 1;
          }
        }
      }
    }
  }
}

.view-display-id-suggested_events {
  .slick__slide {
    margin: 0 10px;
    padding: 0;

    &:first-child:nth-last-child(1) {
      width: 25%;
      padding: 0 10px;
    }
  }

  .views-field-title {
    text-align: center;
    margin: 10px 0 20px;
    a {
      font-size: 20px;
      font-weight: bold;
      color: @text-body;
    }
  }

  .slick-dots {
    position: static;

    li {
      button {
        &:before {
          color: @light-gray;
        }
      }
    }
  }
}

.view-display-id-whats_new_page, .view-id-special_occasions {
  .views-row {
    .node {
      .set-separtor-top (@white);
    }

    &:first-child {
      .node {
        &:before {
          display: none;
        }
      }
    }
  }
}

//special occasions
.page-node-type-special-occasion {
  .field--name-field-image {
    .set-separtor-bottom (@white);
  }

  .field--name-body {
    margin-bottom: 40px;
  }

  .field--name-node-title {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    h2 {
      font-family: "Cross-Town";
      font-size: 60px;
      a {
        color: @warm-gray;
      }
    }
  }
}

.node--type-special-occasion {
  &.node--view-mode-teaser {
    margin-bottom: 30px;
    .field--name-field-image {
      .set-separtor-bottom (@white);
    }

    .field--name-node-title {
      display: inline-block;
      vertical-align: middle;
      width: 80%;
      h2 {
        font-family: "Cross-Town";
        font-size: 60px;
        a {
          color: @warm-gray;
        }
      }
    }

    .field--name-dynamic-token-fieldnode-enquire-link {
      display: inline-block;
      vertical-align: middle;
      float: right;
      position: relative;

      a {
        display: inline-block;
        padding: 0px 40px;
        line-height: 50px;
        color: @white;
        min-width: 140px;
        text-align: center;
        position: relative;
        z-index: 2;
      }

      &:after {
        font-family: "alainzoo";
        content: "\e901";
        font-size: 50px;
        line-height: 50px;
        position: absolute;
        right: 0px;
        top: 0px;
        color: @red;
      }
    }

    .field--name-body {
      width: 80%;
    }
  }
}

//Educations
.page-node-type-educations {
  .field--name-field-image {
    margin-top: 20px;
  }

  .field--name-node-title {
    h2 {
      font-size: 60px;
      margin: 30px 0;
      font-family: "Cross-Town";
      a {
        color: @gray;
        position: relative;
        bottom: -5px;
      }
    }
  }

  .field--name-body {
    margin-bottom: 40px;
  }
}

@media(max-width: 991px) {
  .view-display-id-suggested_events {
    .slick__slide {
      &:first-child:nth-last-child(1) {
        width: 33.33%;
      }
    }
  }

  .view-display-id-front_events .slick--view--events {
    .slick__slide {    
      &:first-child:nth-last-child(1) {
        width: 50%;
      }
    }
  }
}

@media(max-width: 767px) {
  .view-display-id-suggested_events {
    .slick__slide {
      &:first-child:nth-last-child(1) {
        width: 50%;
      }
    }
  }

  .page-node-type-events {
    .field--name-dynamic-block-fieldnode-suggested-events {
      .field--label {
        font-size: 50px;
      }
    }
  }

  .view-display-id-front_events .slick--view--events {
    .slick-list {
      margin: 0px;
    }

    .slick__slide {    
      &:first-child:nth-last-child(1) {
        width: 100%;
      }
    }
  }

  .time-date-wrapper {
    top: auto;
    bottom: 50px;
    .extra-field-date {
      .date-time-wrapper {
        font-size: 18px;
        float: none !important;
        display: block;
        margin-bottom: 15px;
        .day {
          display: inline-block;
          &:first-child {
            margin-right: 0;
            &::before {
              top: 10px;
              font-size: 28px;
            }
            &::after {
              display: inline-block;
              content: '-';
              padding: 0 5px;
            }
          }
        }
      }
    }
    .extra-field-time {
      .time-wrapper {
        float: none !important;
        clear: both;
        display: block;
        text-align: center;
        padding: 10px;
      }
    }
  }

  .node--type-special-occasion {
    &.node--view-mode-teaser {
      .field--name-node-title {
        display: block;
        width: 100%;
        h2 {
          font-size: 40px;
        }
      }

      .field--name-dynamic-token-fieldnode-enquire-link {
        width: 100%;
        display: block;
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .field--name-body {
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }
}

.view-display-id-front_events .slick--view--events,
.view-display-id-suggested_events .slick--view--events {
  .slick-track {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    .slick-slide {
      float: left;
    }
  }
}
