@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@media (max-width: 767px) {
  .mobile-indicator {
    display: none;
} }

body.toolbar-fixed {
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
  max-width: 100%;
}
@media (max-width: 767px) {
  body.toolbar-fixed {
    margin-left: 55px !important;
} }
body.toolbar-fixed .coffee-form-wrapper.hide-form {
  left: 0;
  visibility: hidden;
}
body.toolbar-fixed #responsive-preview-toolbar-tab {
  position: absolute;
  bottom: 50px;
}
@media (max-width: 767px) {
  body.toolbar-fixed #responsive-preview-toolbar-tab {
    display: none;
} }
body.toolbar-fixed #admin-toolbar-search-tab #toolbar-item-administration-search-tray {
  z-index: 1000 !important;
  background: none;
  position: absolute;
  top: 0;
  left: -1500px !important;
}
body.toolbar-fixed #admin-toolbar-search-tab #toolbar-item-administration-search-tray .js-form-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 150px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  height: 50px;
}
body.toolbar-fixed #admin-toolbar-search-tab #toolbar-item-administration-search-tray .js-form-item label {
  margin-bottom: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: block;
}
body.toolbar-fixed #admin-toolbar-search-tab .toolbar-lining {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}
body.toolbar-fixed #admin-toolbar-search-tab .toolbar-lining.shown {
  visibility: visible;
  opacity: 1;
}
body.toolbar-fixed .ui-autocomplete.ui-menu {
  position: fixed;
  max-width: 500px;
  overflow-wrap: break-word;
  max-height: 400px;
  overflow-y: auto;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light a,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button {
  background: #fff;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light a:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light a:focus,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button:focus,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light button:focus {
  background: #f2f2f2;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar {
  background: #fff;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > a,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button {
  background: #fff4;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > a:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > a:focus,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button:focus,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button:hover,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tab > button:focus {
  background: #f2f2f2;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tray {
  background: #fff;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tray a,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tray button {
  color: #4d4d4f !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tray .seeds-expand-item:before,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-bar .toolbar-tray .seeds-expand-item:after {
  background: #4d4d4f;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .seeds-toolbar-background {
  background: #fff;
}
@media (max-width: 767px) {
  body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light li.mobile-open a,
  body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light li.mobile-open button {
    background: #f2f2f2;
} }
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-item-seeds-add-tray nav {
  scrollbar-color: #f2f2f2 #fff !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light #toolbar-item-seeds-add-tray nav::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray {
  scrollbar-color: #f2f2f2 #fff !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > a,
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > button {
  background: #f2f2f2 !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: #fff !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: #f2f2f2 !important;
}
body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light h2.seeds-heading {
  color: #4d4d4f;
}
body.toolbar-fixed.light.seeds-local-tasks nav.tabs {
  background-color: #fff;
}
body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li a,
body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li #toolbar-administration.seeds_toolbar button,
#toolbar-administration.seeds_toolbar body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li button {
  color: #4d4d4f;
}
body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li a:hover,
body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li #toolbar-administration.seeds_toolbar button:hover,
#toolbar-administration.seeds_toolbar body.toolbar-fixed.light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li button:hover {
  background-color: #f2f2f2;
}

.fixed-toolbar {
  z-index: 2;
  width: 55px;
  position: relative;
  height: 100%;
}

.seeds-toolbar-background {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background: #4d4d4f;
  min-width: inherit;
  height: 100%;
  position: fixed;
  z-index: -1;
  -webkit-transition: min-width 0.2s;
  transition: min-width 0.2s;
  background: #4d4d4f;
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before,
#toolbar-administration.seeds_toolbar.light .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a:before,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button:before {
  content: "";
  background-size: 19px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  background-position: center;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon::before {
  background-image: url("../icons/dark/default.svg");
}

#toolbar-administration.seeds_toolbar.dark #toolbar-item-administration::before {
  background-image: url("../icons/dark/administration.svg");
}

#toolbar-administration.seeds_toolbar.dark #toolbar-item-shortcuts::before {
  background-image: url("../icons/dark/shortcuts.svg");
}

#toolbar-administration.seeds_toolbar.dark #toolbar-item-user::before {
  background-image: url("../icons/dark/user.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-edit::before {
  background-image: url("../icons/dark/edit.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-admin-content::before {
  background-image: url("../icons/dark/content.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-admin-structure::before {
  background-image: url("../icons/dark/structure.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-themes-page::before {
  background-image: url("../icons/dark/themes.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-modules-list::before {
  background-image: url("../icons/dark/modules.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-admin-config::before {
  background-image: url("../icons/dark/config.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-entity-user-collection::before {
  background-image: url("../icons/dark/people.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-system-admin-reports::before {
  background-image: url("../icons/dark/reports.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-help-main::before {
  background-image: url("../icons/dark/help.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-escape-admin::before {
  background-image: url("../icons/dark/back.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-support::before {
  background-image: url("../icons/dark/support.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-seeds-add::before {
  background-image: url("../icons/dark/add.svg");
  background-size: 26px !important;
}

#toolbar-administration.seeds_toolbar.dark #responsive-preview-toolbar-tab button::before {
  background-size: 20px !important;
  background-position: center;
  background-image: url("../icons/dark/mobile.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before {
  background: url("../icons/logo/logo-dark.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-masquerade::before {
  background-image: url("../icons/dark/masquerade.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-coffee::before {
  background-image: url("../icons/dark/coffee.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-devel::before {
  background-image: url("../icons/dark/devel.svg");
}

#toolbar-administration.seeds_toolbar.dark .toolbar-icon-seeds::before {
  background-image: url("../icons/logo/logo-dark.svg");
  background-size: 22px !important;
}

#toolbar-administration.seeds_toolbar.dark #toolbar-item-administration-search::before {
  background-image: url("../icons/dark/search.svg");
}

#toolbar-administration.seeds_toolbar.dark #toolbar-tab-tour .toolbar-icon:before {
  background-image: url("../icons/dark/tour.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon::before {
  background-image: url("../icons/light/default.svg");
}

#toolbar-administration.seeds_toolbar.light #toolbar-item-administration::before {
  background-image: url("../icons/light/administration.svg");
}

#toolbar-administration.seeds_toolbar.light #toolbar-item-shortcuts::before {
  background-image: url("../icons/light/shortcuts.svg");
}

#toolbar-administration.seeds_toolbar.light #toolbar-item-user::before {
  background-image: url("../icons/light/user.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-edit::before {
  background-image: url("../icons/light/edit.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-admin-content::before {
  background-image: url("../icons/light/content.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-admin-structure::before {
  background-image: url("../icons/light/structure.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-themes-page::before {
  background-image: url("../icons/light/themes.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-modules-list::before {
  background-image: url("../icons/light/modules.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-admin-config::before {
  background-image: url("../icons/light/config.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-entity-user-collection::before {
  background-image: url("../icons/light/people.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-system-admin-reports::before {
  background-image: url("../icons/light/reports.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-help-main::before {
  background-image: url("../icons/light/help.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-escape-admin::before {
  background-image: url("../icons/light/back.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-support::before {
  background-image: url("../icons/light/support.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-seeds-add::before {
  background-image: url("../icons/light/add.svg");
  background-size: 26px !important;
}

#toolbar-administration.seeds_toolbar.light #responsive-preview-toolbar-tab button::before {
  background-size: 20px !important;
  background-position: center;
  background-image: url("../icons/light/mobile.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-masquerade::before {
  background-image: url("../icons/light/masquerade.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-coffee::before {
  background-image: url("../icons/light/coffee.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-devel::before {
  background-image: url("../icons/light/devel.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before {
  background: url("../icons/logo/logo-light.svg");
}

#toolbar-administration.seeds_toolbar.light .toolbar-icon-seeds::before {
  background-image: url("../icons/logo/logo-light.svg");
  background-size: 22px !important;
}

#toolbar-administration.seeds_toolbar.light #toolbar-item-administration-search::before {
  background-image: url("../icons/light/search.svg");
}

#toolbar-administration.seeds_toolbar.light #toolbar-tab-tour .toolbar-icon:before {
  background-image: url("../icons/light/tour.svg");
}

#toolbar-administration.seeds_toolbar .acquia-inactive-subscription:before {
  background-image: url(/core/misc/icons/e32700/error.svg);
}

#toolbar-administration.seeds_toolbar .acquia-active-subscription:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}

#toolbar-administration.seeds_toolbar {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
}
#toolbar-administration.seeds_toolbar ul {
  background: #4d4d4f;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
#toolbar-administration.seeds_toolbar ul li {
  display: block;
  padding: 0;
}
#toolbar-administration.seeds_toolbar ul li:hover > a,
#toolbar-administration.seeds_toolbar ul li:hover > button {
  background: #444;
}
#toolbar-administration.seeds_toolbar ul li:hover::before {
  border-right-color: #444 !important;
}
#toolbar-administration.seeds_toolbar ul li:hover:before {
  border-right-color: #444 !important;
}
#toolbar-administration.seeds_toolbar ul li:hover::before {
  border-right-color: #444 !important;
}
#toolbar-administration.seeds_toolbar ul li a,
#toolbar-administration.seeds_toolbar ul li button {
  background: #4d4d4f;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar ul li.mobile-open a,
  #toolbar-administration.seeds_toolbar ul li.mobile-open button {
    background: #444;
} }
#toolbar-administration.seeds_toolbar a,
#toolbar-administration.seeds_toolbar button {
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
#toolbar-administration.seeds_toolbar a:focus,
#toolbar-administration.seeds_toolbar button:focus {
  outline: unset;
  background-color: #444;
}
#toolbar-administration.seeds_toolbar a:hover,
#toolbar-administration.seeds_toolbar button:hover {
  color: #fff;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar a,
  #toolbar-administration.seeds_toolbar button {
    padding: 8px 36px 8px 20px;
} }
#toolbar-administration.seeds_toolbar button {
  background: transparent;
  border: 0;
  width: 100%;
  text-align: inherit;
}
#toolbar-administration.seeds_toolbar button:before {
  content: none;
}

#toolbar-administration.seeds_toolbar #toolbar-bar {
  line-height: normal;
  height: 100%;
  z-index: auto;
  position: relative;
  background: #4d4d4f;
}
#toolbar-administration.seeds_toolbar #toolbar-bar::before {
  content: "";
  display: inline-block;
  width: 27px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0 1px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.5) 2px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab {
  line-height: 0;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button {
  position: relative;
  width: 55px;
  height: 50px;
  overflow: hidden;
  text-indent: -9999px;
  background: transparent;
  border: 0;
  display: inline-block;
  padding: 0;
  white-space: nowrap;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  top: 0;
  left: 0;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a::after,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button::after,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button::after {
  display: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a:hover,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button:hover,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button:hover {
  background: #444;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab a,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab button {
  line-height: normal;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .account {
  position: absolute;
  bottom: 0;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .contextual-toolbar-tab,
#toolbar-administration.seeds_toolbar #toolbar-bar #responsive-preview-toolbar-tab {
  float: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .contextual-toolbar-tab:before,
#toolbar-administration.seeds_toolbar #toolbar-bar #responsive-preview-toolbar-tab:before {
  background: none;
}

#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li {
  position: relative;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button {
  padding-left: 50px !important;
  padding-right: 12px !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a::after,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button::after {
  display: none;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a:before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button:before {
  content: " ";
  background-size: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  margin: 0 8px;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 8px;
  left: 12px;
}

#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded {
  position: relative;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul {
  display: none;
  position: absolute;
  left: 100%;
  margin: 0;
  top: 0;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li button {
  white-space: nowrap;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li a::before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li button::before {
  display: none !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: #4d4d4f !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: #444 !important;
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent > ul {
    display: block;
}
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent > ul > li:first-child:before {
    right: 100%;
    z-index: auto;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 8px;
    margin-top: -8px;
} }
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul {
    display: block;
    left: auto;
    top: 100%;
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
}
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul a,
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul button {
    white-space: normal;
}
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item ~ li {
    display: none;
} }
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > ul {
    display: block;
    position: relative;
    left: auto;
    right: auto;
} }
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > .seeds-expand-item:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > .seeds-expand-item:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  opacity: 0;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item {
  position: fixed !important;
  z-index: auto;
  top: 0;
  left: -190px;
  -webkit-transition: width 0.2s, left 0.2s, right 0.2s;
  transition: width 0.2s, left 0.2s, right 0.2s;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > button {
  padding: 35px 25px;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > a img,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > button img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10px auto;
  max-width: 150px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item {
  width: 30px;
  height: 35px;
  position: absolute;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 5px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::after {
  content: ' ';
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item {
    display: none;
} }

#toolbar-administration.seeds_toolbar .toolbar-tray {
  background: #4d4d4f;
  margin-left: -1px;
  padding: 70px 0;
  position: fixed;
  left: -250px !important;
  min-width: 190px;
  top: 0;
  bottom: 0;
  z-index: -2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  scrollbar-color: #444 #4d4d4f !important;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-administration-tray {
  z-index: -1 !important;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-seeds-add-tray {
  padding-bottom: 50px;
  max-width: 250px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-seeds-add-tray nav {
  overflow-y: auto;
  height: 100%;
  scrollbar-color: #444 #4d4d4f;
  padding-bottom: 100px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-seeds-add-tray nav::-webkit-scrollbar {
  width: 10px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-seeds-add-tray nav::-webkit-scrollbar-thumb {
  background: #444;
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading {
  margin: 0;
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading a,
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading button {
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading a + ul,
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading button + ul {
  margin-bottom: 35px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray.shown {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
#toolbar-administration.seeds_toolbar .toolbar-tray.expanded-by-default {
  left: 55px !important;
}
#toolbar-administration.seeds_toolbar .toolbar-tray::-webkit-scrollbar-thumb {
  background: #444;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-tray {
    overflow-y: auto;
    height: 100%;
}
  #toolbar-administration.seeds_toolbar .toolbar-tray::-webkit-scrollbar {
    position: relative;
    right: 50px;
    width: 10px;
} }
