//mixin

@mixin image-shadow() {

    .field--name-field-image {
        position: relative;

        &:after {
            content: "";
            background-color: rgba($color: #000000, $alpha: 0.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@mixin equal-height () {
    display: flex;
    flex-wrap: wrap;
}
